
@{
    ViewBag.Title = "Reportes";
    Layout = "~/Views/Shared/_SesionLayout.cshtml";
}


<div class="container-fluid map-root" id="historia">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Gestion")">Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page">Reportes</li>
            </ol>
        </nav>
    </div>
</div>
<div class="container-fluid my-4" id="cuerpo">
    <div class="row m-0">
        <div class="col-12 cuerpo-interior">
            <div class="container py-4">
                <div class="row">
                    <div class="col-md-12 col-lg-6 pt-4">
                        <div class="h4">Reportes&nbsp;<i class="fas fa-question-circle ayuda-tooltip" data-toggle="tooltip" data-placement="right" title="Texto de ayuda que describe el funcionamiento general del módulo [...]"></i><br><small class="text-muted">Seleccione el tipo de mantenireporte que desea visualizar.</small></div>
                    </div>
                    <div class="col-md-12 col-lg-6 pt-4">&nbsp;</div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-6 pt-4">
                        <form>
                            <div class="form-group">
                                <label for="txt-buscar">Buscar&nbsp;<i class="fas fa-question-circle ayuda-tooltip" data-toggle="tooltip" data-placement="right" title="Texto de ayuda que describe el funcionamiento general del módulo [...]"></i></label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" id="inputGroup1"><i class="fas fa-file-invoice"></i></span></div>
                                    <select class="form-control cbo-list" id="cbo-reporte" required>
                                        <option value="0">-Seleccione un Tipo de Reporte-</option>
                                        <option value="1">Reporte de iniciativa de mitigación por período de tiempo</option>
                                        <option value="2">Reporte de indicadores por período de tiempo</option>
                                        <option value="3">Reporte de entidades registradas por período de tiempo</option>
                                        <option value="4">Reporte de ubicaion de medidas de mitigacion por período de tiempo</option>
                                        <option value="5">Reporte de estado de iniciativa de mitigación por período de tiempo</option>
                                        <option value="6">Reporte de tipo de iniciativa de mitigación por período de tiempo</option>
                                        <option value="7">Reporte de documentos de medidas de mitigación registradas por usuarios</option>
                                        <option value="8">Reporte de escenarios</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-6 col-lg-6">&nbsp;</div>
                                <div class="col-sm-12 col-md-6 col-lg-6"><a class="btn btn-success w-100 mb-2 go-select" href="javascript:void(0)" id="ir-reporte" onclick="fn_ejecutaReporte()"><i class="far fa-hand-point-up px-1"></i>Ir al reporte</a></div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-12 col-lg-6 pt-4">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid my-5" id="mireporte" aria-hidden="true">
    <iframe id="iframeReporte" src="#" style="width: 100%; height:700px"></iframe>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        fn_cargarOpciones();
        fn_actualizaCampana();
        enLinea();
        $("#mireporte").hide();
    });

    function fn_establecerVista() {

        var opcion = '<span class="dropdown-item">' + $("#Control").data("nombres") + ' <br>';
        if ($("#Control").data("rol") == 1) {
            opcion = opcion + '<span class="badge badge-actor-02">Usuario Administrado</span></span>'
        } else if ($("#Control").data("rol") == 2) {
            opcion = opcion + '<span class="badge badge-actor-03">Especialista</span></span>'
        } else if ($("#Control").data("rol") == 3) {
            opcion = opcion + '<span class="badge badge-actor-06">Administrador MINEM</span></span>'
        } else if ($("#Control").data("rol") == 4) {
            opcion = opcion + '<span class="badge badge-actor-04">Evaluador MINAM</span></span>'
        } else if ($("#Control").data("rol") == 5) {
            opcion = opcion + '<span class="badge badge-actor-05">Verificador Externo</span></span>'
        }

        if ($("#Control").data("opcion6") == 1) { //Añade a las opciones el mantenimiento de tablas
            opcion = opcion + '<a class="dropdown-item" href="#" onclick="fn_mantenimiento();"><i class="fas fa-cogs pr-1"></i>Mantenimiento de tablas</a>';
        }

        if ($("#Control").data("opcion7") == 1) {
            opcion = opcion + '<a class="dropdown-item" href="#" onclick="fn_Clave();"><i class="fas fa-key pr-1"></i>Cambiar contraseña</a>';
        }

        opcion = opcion + '<div class="dropdown-divider"></div><a class="dropdown-item" href="#" onclick="salirSesion();"><i class="fas fa-sign-out-alt pr-1"></i>Salir del sistema</a>';

        $("#usuario-rol").append(opcion);
    }

    function fn_cargarOpciones() {
        $("#Control").data("usuario",@Session["usuario"]);
        $("#Control").data("nombres",'@Session["nombres"]');
        $("#Control").data("correo",'@Session["correo"]');
        $("#Control").data("rol",@Session["rol"]);
        $("#Control").data("institucion",'@Session["institucion"]');
        $("#Control").data("direccion",'@Session["direccion"]');
        $("#Control").data("sector",'@Session["sector"]');
        $("#Control").data("opcion1",@Session["opcion1"]);
        $("#Control").data("opcion2",@Session["opcion2"]);
        $("#Control").data("opcion3",@Session["opcion3"]);
        $("#Control").data("opcion4",@Session["opcion4"]);
        $("#Control").data("opcion5",@Session["opcion5"]);
        $("#Control").data("opcion6",@Session["opcion6"]);
        $("#Control").data("opcion7",@Session["opcion7"]);
        $("#Control").data("opcion8",@Session["opcion8"]);
        $("#Control").data("opcion9",@Session["opcion9"]);
        fn_establecerVista();
    }

    function fn_ejecutaReporte(){
        var idReporte = Number($("#cbo-reporte").val());
        if(idReporte > 0){
            GenerarReporte(idReporte);
            $("#mireporte").show();
        }
        else{
            $("#mireporte").hide();
        }
    }

    function GenerarReporte(IdReporte) {
        var url = '@Url.Content("~/Reportes/frmReportes.aspx")';
        var url = url + "?IdReporte=" + IdReporte;
        $("#iframeReporte").attr("src", url);
    }
</script>




