@{
    ViewBag.Title = "Accion Mitigacion";
    Layout = "~/Views/Shared/_SesionLayout.cshtml";
}


<div class="container-fluid map-root" id="historia">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page">Listado de Iniciativas de Mitigación</li>
            </ol>
        </nav>
    </div>
</div>





<div class="container-fluid my-4" id="cuerpo">
    <div class="row m-0">
        <div class="col-12 cuerpo-interior">
            <div class="container py-4">
                <div class="row">
                    <div class="col-md-12 col-lg-6 pt-4">
                        <div class="h4">Listado de Iniciativas de Mitigación&nbsp;<i class="fas fa-question-circle ayuda-tooltip" data-toggle="tooltip" data-placement="right" title="Texto de ayuda que describe el funcionamiento general del módulo [...]"></i><br><small class="text-muted">Utilice la búsqueda para ubicar su iniciativa de mitigación, <br>las iniciativas de mitigación pendientes o aprobadas no pueden ser editadas.</small></div>
                    </div>
                    <div class="col-md-12 col-lg-6 pt-4">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-6">&nbsp;</div>
                            <div class="col-sm-12 col-md-6 col-lg-6" id="nuevaIniciativa"><!--<span data-toggle="modal" data-target="#medidas-mitigacion-listado"><a class="agregar-iniciativa" href="#" data-toggle="tooltip" data-placement="top" title="Texto de ayuda que describe el funcionamiento general del módulo [...]"><i class="fas fa-plus px-1"></i>Agregar iniciativa</a></span>--></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-6 pt-4">
                        @*<form>*@
                        <div class="form-group">
                            <label for="txt-buscar">Buscar&nbsp;<i class="fas fa-question-circle ayuda-tooltip" data-toggle="tooltip" data-placement="right" title="Ingrese si conoce el nombre de la iniciativa o la(s) palabra(s) asociada(s) a las iniciativas de interés. En caso de no encontrar resultados acceda a la búsqueda avanzada."></i></label>
                            <div class="input-group">
                                <div class="input-group-prepend"><span class="input-group-text" id="inputGroup1"><i class="fas fa-search"></i></span></div>
                                <input class="form-control" type="text" id="txt-buscar" placeholder="Ingrese la descripción de su búsqueda" aria-describedby="inputGroup1" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-12 text-right">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="titulo-avanzado" id="buscar" data-toggle="collapse" href="#busqueda-avanzada" aria-expanded="false" aria-controls="busqueda-avanzada" onclick="valor();" data-numero="0"><span>Búsqueda avanzada&nbsp;<i class="fas fa-sort"></i></span></div>
                                            <div class="collapse" id="busqueda-avanzada">
                                                <div class="card card-body">
                                                    <div class="row">
                                                        <div class="col-sm-12 text-left">
                                                            <div class="titulo-avanzado" data-toggle="collapse" href="#datos-principales" aria-expanded="false" aria-controls="datos-principales">
                                                                <span>
                                                                    <i class="far fa-list-alt"></i>&nbsp;
                                                                    Datos Principales
                                                                </span>
                                                            </div>
                                                            <div class="collapse" id="datos-principales">
                                                                <div class="card card-body">
                                                                    <div class="row">
                                                                        <div class="col-sm-12">
                                                                            <div class="form-group">
                                                                                <label for="cbo-medida-mitigacion">Medida de Mitigación&nbsp;<i class="fas fa-question-circle ayuda-tooltip" data-toggle="tooltip" data-placement="right" title="Seleccione, de la lista desplegable, la medida de mitigación de interés"></i></label>
                                                                                <div class="input-group">
                                                                                    <div class="input-group-prepend"><span class="input-group-text" id="inputGroup2"><i class="fas fa-tachometer-alt"></i></span></div>
                                                                                    <select class="form-control" id="cbo-medida-mitigacion" aria-describedby="inputGroup2">
                                                                                        <!--<option>-Seleccione una Medida de Mitigación-</option>
                                                                                        <option>Medida de Mitigación 01</option>
                                                                                        <option>Medida de Mitigación 02</option>
                                                                                        <option>Medida de Mitigación 03</option>-->
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!--.row
                                                                    .col-sm-12
                                                                      .form-group
                                                                        label(for="txt-nombre-iniciativa") Nombre de la Iniciativa&nbsp;
                                                                          i.fas.fa-question-circle.ayuda-tooltip(data-toggle="tooltip", data-placement="right", title="Texto de ayuda que describe el funcionamiento general del módulo [...]")
                                                                        .input-group
                                                                          .input-group-prepend
                                                                            span.input-group-text#inputGroup3
                                                                              i.far.fa-comment-alt
                                                                          input.form-control(type="text", id="txt-nombre-iniciativa", placeholder="Ingrese nombre de la iniciativa", aria-describedby="inputGroup3")
                                                                    -->
                                                                    <div class="row">
                                                                        <div class="col-sm-12">
                                                                            <div class="form-group">
                                                                                <label for="txt-fecha-inicio">Año de Inicio del proyecto&nbsp;<i class="fas fa-question-circle ayuda-tooltip" data-toggle="tooltip" data-placement="right" title="Indique el año de inicio del proyecto"></i></label>
                                                                                <div class="input-group">
                                                                                    <div class="input-group-prepend"><span class="input-group-text" id="inputGroup4"><i class="fas fa-calendar-alt"></i></span></div>
                                                                                    <input class="form-control" type="number" id="txt-fecha-inicio" placeholder="Ingrese nombre de la iniciativa" aria-describedby="inputGroup4" min="2000" max="2030">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <!--.col-sm-6
                                                                        .form-group
                                                                          label(for="cbo-duracion-proyecto") Duración del proyecto&nbsp;
                                                                            i.fas.fa-question-circle.ayuda-tooltip(data-toggle="tooltip", data-placement="right", title="Texto de ayuda que describe el funcionamiento general del módulo [...]")
                                                                          .input-group
                                                                            .input-group-prepend
                                                                              span.input-group-text#inputGroup5
                                                                                i.fas.fa-calendar-alt
                                                                            select.form-control(id="cbo-duracion-proyecto", aria-describedby="inputGroup5")
                                                                              option -Duración en años-
                                                                              option 1 año
                                                                              option 2 años
                                                                              option 3 años
                                                                              option 4 años
                                                                              option 5 años
                                                                              option 6 años
                                                                              option 7 años
                                                                              option 8 años
                                                                              option 9 años
                                                                              option 10 años
                                                                        -->
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-12 py-2 text-left">
                                                            <div class="titulo-avanzado" data-toggle="collapse" href="#datos-generales" aria-expanded="false" aria-controls="datos-generales">
                                                                <span>
                                                                    <i class="far fa-list-alt"></i>&nbsp;
                                                                    Datos Generales
                                                                </span>
                                                            </div>
                                                            <div class="collapse" id="datos-generales">
                                                                <div class="card card-body">
                                                                    <div class="row">
                                                                        <div class="col-sm-12">
                                                                            <div class="form-group">
                                                                                <label for="cbo-sector">Sector&nbsp;<i class="fas fa-question-circle ayuda-tooltip" data-toggle="tooltip" data-placement="right" title="Seleccione, de la lista desplegable, el sector de la iniciativa de mitigación de interés"></i></label>
                                                                                <div class="input-group">
                                                                                    <div class="input-group-prepend"><span class="input-group-text" id="inputGroup6"><i class="fas fa-landmark"></i></span></div>
                                                                                    <select class="form-control" id="cbo-sector" aria-describedby="inputGroup6">
                                                                                        <option>-Seleccione-</option>
                                                                                        <!--<option>Privado - Micro empresa (10 < colaboradores)</option>
                                                                                        <option>Privado - Pequeña empresa (> 10 - < 50 colaboradores)</option>
                                                                                        <option>Privado - Mediana empresa (> 50 - < 250 colaboradores)</option>
                                                                                        <option>Privado - Gran empresa (> 250 colaboradores)</option>
                                                                                        <option>Público - (50 < colaboradores)</option>
                                                                                        <option>Público - (> 50  < 250 colaboradores)</option>
                                                                                        <option>Público - (> 250 colaboradores)</option>
                                                                                        <option>Público - Hospitales (< 50 camas)</option>
                                                                                        <option>Público - Hospitales (> 50 camas)</option>-->
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!--.row
                                                                    .col-sm-6
                                                                      .form-group
                                                                        label(for="cbo-moneda") Moneda&nbsp;
                                                                          i.fas.fa-question-circle.ayuda-tooltip(data-toggle="tooltip", data-placement="right", title="Texto de ayuda que describe el funcionamiento general del módulo [...]")
                                                                        .input-group
                                                                          .input-group-prepend
                                                                            span.input-group-text#inputGroup7
                                                                              i.far.fa-money-bill-alt
                                                                          select.form-control(id="cbo-moneda", aria-describedby="inputGroup7")
                                                                            option -Seleccione-
                                                                            option Soles
                                                                            option Dólares
                                                                    .col-sm-6
                                                                      .form-group
                                                                        label(for="txt-monto-inversion") Monto de inversión&nbsp;
                                                                          i.fas.fa-question-circle.ayuda-tooltip(data-toggle="tooltip", data-placement="right", title="Texto de ayuda que describe el funcionamiento general del módulo [...]")
                                                                        .input-group
                                                                          .input-group-prepend
                                                                            span.input-group-text#inputGroup8
                                                                              i.fas.fa-wallet
                                                                          input.form-control(type="text", id="txt-monto-inversion", placeholder="Ingrese monto", aria-describedby="inputGroup8")
                                                                    -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12 text-left">
                                                            <div class="titulo-avanzado" data-toggle="collapse" href="#indicadores" aria-expanded="false" aria-controls="indicadores">
                                                                <span>
                                                                    <i class="far fa-list-alt"></i>&nbsp;
                                                                    Indicadores
                                                                </span>
                                                            </div>
                                                            <div class="collapse" id="indicadores">
                                                                <div class="card card-body">
                                                                    <div class="row">
                                                                        <div class="col-sm-6">
                                                                            <div class="form-group">
                                                                                <label for="cbo-energetico-base">Energético de linea base&nbsp;<i class="fas fa-question-circle ayuda-tooltip" data-toggle="tooltip" data-placement="right" title="Seleccione, de la lista desplegable, el tipo de energía que se consumía antes de la iniciativa"></i></label>
                                                                                <div class="input-group">
                                                                                    <div class="input-group-prepend"><span class="input-group-text" id="inputGroup9"><i class="fas fa-bolt"></i></span></div>
                                                                                    <select class="form-control" id="cbo-energetico-base" aria-describedby="inputGroup9">
                                                                                        <option value="0">-Seleccione-</option>
                                                                                        <!--<option>Diesel</option>
                                                                                        <option>Electricidad</option>
                                                                                        <option>Gas Licuado de petróleo</option>
                                                                                        <option>Gas Natural</option>
                                                                                        <option>Gasolina</option>
                                                                                        <option>Leña</option>
                                                                                        <option>Petróleo residual</option>-->
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-6">
                                                                            <div class="form-group">
                                                                                <label for="cbo-energetico-proyecto">Energético de proyecto&nbsp;<i class="fas fa-question-circle ayuda-tooltip" data-toggle="tooltip" data-placement="right" title="Seleccione, de la lista desplegable, el tipo de energía que se consume en la iniciativa"></i></label>
                                                                                <div class="input-group">
                                                                                    <div class="input-group-prepend"><span class="input-group-text" id="inputGroup10"><i class="fas fa-bolt"></i></span></div>
                                                                                    <select class="form-control" id="cbo-energetico-proyecto" aria-describedby="inputGroup10">
                                                                                        <option value="0">-Seleccione-</option>
                                                                                        <!--<option>Diesel</option>
                                                                                        <option>Electricidad</option>
                                                                                        <option>Gas Licuado de petróleo</option>
                                                                                        <option>Gas Natural</option>
                                                                                        <option>Gasolina</option>
                                                                                        <option>Leña</option>
                                                                                        <option>Petróleo residual</option>-->
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <button class="btn btn-success w-100 mb-2"><i class="fas fa-file-download px-1"></i>Descargar Excel</button>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <button class="btn btn-success w-100 mb-2" @*type="submit" *@ onclick="fn_busqueda_Privado();"><i class="fas fa-search px-1"></i>Buscar</button>
                            </div>
                        </div>
                        @*</form>*@
                    </div>
                    <div class="col-md-12 col-lg-6 pt-4">&nbsp;</div>
                </div>
            </div>
            <div class="container-fluid py-4">
                <div class="row">
                    <div class="col-xs-12 col sm-12 col-lg-9">
                        <div class="h5">Bandeja de Iniciativas de Mitigación&nbsp;<i class="fas fa-question-circle ayuda-tooltip" data-toggle="tooltip" data-placement="right" title="Texto de ayuda que describe el funcionamiento general del módulo [...]"></i></div>
                    </div>
                    <div class="col-xs-12 col sm-12 col-lg-3 text-lg-right">
                        <div class="btn-group">
                            <a class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tabindex="1"><i class="fas fa-filter">&nbsp;</i>Filtrar por estados</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#"><i class="fas fa-eye">&nbsp;</i>Observadas</a><a class="dropdown-item" href="#"><i class="fas fa-check">&nbsp;</i>Aprobados</a>
                                <div class="dropdown-divider"></div><a class="dropdown-item" href="#"><i class="fas fa-tachometer-alt">&nbsp;</i>Todas</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dropdown-divider"></div>
                <div class="row">
                    <div class="col-12 px-0">
                        <div class="table-responsive tabla-principal">
                            <table class="table table-hover">
                                <thead>
                                    <tr class="bg-primary text-white">
                                        <th class="text-center" scope="col"><span>#&nbsp;</span></th>
                                        <th scope="col"><span class="miColumna">Nombre de Iniciativa&nbsp;<i class="fas fa-sort" style="color: lightgray" id="NOMBRE_INICIATIVA"></i></span></th>
                                        <th scope="col"><span class="miColumna">Progreso&nbsp;<i class="fas fa-sort" style="color: lightgray" id="PROGRESO"></i></span></th>
                                        <th class="text-center" scope="col"><span class="miColumna">Fecha de Inicio&nbsp;<i class="fas fa-sort-up" style="color: lightgray" id="FECHA"></i></span></th>
                                        <th scope="col"><span class="miColumna">Medida de Mitigación&nbsp;<i class="fas fa-sort" style="color: lightgray" id="NOMBRE_MEDMIT"></i></span></th>
                                        <th scope="col"><span class="miColumna">Entidad&nbsp;<i class="fas fa-sort" style="color: lightgray" id="NOMBRE_INSTITUCION"></i></span></th>
                                        <th class="text-center" scope="col">Más</th>
                                    </tr>
                                </thead>

                                <tbody id="cuerpoMitigacion"></tbody>
                                <tfoot>
                                    <tr>
                                        <td class="text-left" colspan="3"><strong>Resultado:&nbsp;</strong><span id="resultado">1-10</span> de <span id="total-registros">750</span> registros</td>
                                        <td class="text-right text-xs-left" colspan="4">
                                            <strong>Registros por página&nbsp;</strong>
                                            <select id="cantidad-registros" onchange="fn_CargaIniciativas()">
                                                <option value="10" selected>10</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select>&nbsp;
                                            <span id="pagina-actual">1</span> de <span id="total-paginas">75</span> páginas&nbsp;
                                            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                                <button class="btn btn-primary" id="primera-pagina" type="button" onclick="fn_avance_grilla(1)"><i class="fas fa-angle-double-left"></i></button>
                                                <button class="btn btn-primary" id="anterior-pagina" type="button" onclick="fn_avance_grilla(2)"><i class="fas fa-angle-left"></i></button>
                                                <input class="ir-pagina" id="pagina" type="number" value="1" min="1" onchange="fn_CargaIniciativas()">
                                                <button class="btn btn-primary" id="siguiente-pagina" type="button" onclick="fn_avance_grilla(3)"><i class="fas fa-angle-right"></i></button>
                                                <button class="btn btn-primary" id="ultima-pagina" type="button" onclick="fn_avance_grilla(4)"><i class="fas fa-angle-double-right"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>







                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="medidas-mitigacion-listado" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Seleccione una Medida de Mitigación <br><small class="text-muted">Para iniciar con el registro de su identificación</small></h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body medidas-modal">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-4 col-lg-3 pb-5 text-center"><a class="d-inline-block" href="@Url.Action("IniciativaMitigacion", "Gestion",new { id = 5, ini = 0 })" data-toggle="tooltip" data-placement="top" title="Transformación del mercado de iluminación del sector residencial"><img src="~/images/ico_nama_amarillo_01.svg"></a></div>
                                        <div class="col-sm-12 col-md-4 col-lg-3 pb-5 text-center"><a class="d-inline-block" href="@Url.Action("IniciativaMitigacion", "Gestion",new { id = 7, ini = 0 })" data-toggle="tooltip" data-placement="top" title="Reemplazo de lámparas de alumbrado público por lámparas LED"><img src="~/images/ico_nama_amarillo_02.svg"></a></div>
                                        <div class="col-sm-12 col-md-4 col-lg-3 pb-5 text-center"><a class="d-inline-block" href="@Url.Action("IniciativaMitigacion", "Gestion",new { id = 1, ini = 0 })" data-toggle="tooltip" data-placement="top" title="Etiquetado de eficiencia energética"><img src="~/images/ico_nama_amarillo_03.svg"></a></div>
                                        <div class="col-sm-12 col-md-4 col-lg-3 pb-5 text-center"><a class="d-inline-block" href="@Url.Action("IniciativaMitigacion", "Gestion",new { id = 4, ini = 0 })" data-toggle="tooltip" data-placement="top" title="Auditorías energéticas sector público"><img src="~/images/ico_nama_amarillo_04.svg"></a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-4 col-lg-3 pb-5 text-center"><a class="d-inline-block" href="@Url.Action("IniciativaMitigacion", "Gestion",new { id = 6, ini = 0 })" data-toggle="tooltip" data-placement="top" title="Reemplazo de lámparas por lámparas LED en el sector público"><img src="~/images/ico_nama_amarillo_05.svg"></a></div>
                                        <div class="col-sm-12 col-md-4 col-lg-3 pb-5 text-center"><a class="d-inline-block" href="@Url.Action("IniciativaMitigacion", "Gestion",new { id = 2, ini = 0 })" data-toggle="tooltip" data-placement="top" title="Eficiencia energética en el sector industrial"><img src="~/images/ico_nama_amarillo_06.svg"></a></div>
                                        <div class="col-sm-12 col-md-4 col-lg-3 pb-5 text-center"><a class="d-inline-block" href="@Url.Action("IniciativaMitigacion", "Gestion",new { id = 3, ini = 0 })" data-toggle="tooltip" data-placement="top" title="Reemplazo lámparas en el sector comercial"><img src="~/images/ico_nama_amarillo_07.svg"></a></div>
                                        <div class="col-sm-12 col-md-4 col-lg-3 pb-5 text-center"><a class="d-inline-block" href="@Url.Action("IniciativaMitigacion", "Gestion",new { id = 12, ini = 0 })" data-toggle="tooltip" data-placement="top" title="Promoción de vehículos eléctricos a nivel nacional"><img src="~/images/ico_nama_azul_01.svg"></a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-4 col-lg-3 pb-5 text-center"><a class="d-inline-block" href="@Url.Action("IniciativaMitigacion", "Gestion" ,new { id=9, ini=0 })" data-toggle="tooltip" data-placement="top" title="Suministro de electricidad con energía renovable en áreas no conectadas"><img src="~/images/ico_nama_rojo_01.svg"></a></div>
                                        <div class="col-sm-12 col-md-4 col-lg-3 pb-5 text-center"><a class="d-inline-block" href="@Url.Action("IniciativaMitigacion", "Gestion" ,new { id=8, ini=0 })" data-toggle="tooltip" data-placement="top" title="Cocción limpia"><img src="~/images/ico_nama_rojo_02.svg"></a></div>
                                        <div class="col-sm-12 col-md-4 col-lg-3 pb-5 text-center"><a class="d-inline-block" href="@Url.Action("IniciativaMitigacion", "Gestion" ,new { id=10, ini=0 })" data-toggle="tooltip" data-placement="top" title="Combinación de energías renovables"><img src="~/images/ico_nama_verde_01.svg"></a></div>
                                        <div class="col-sm-12 col-md-4 col-lg-3 pb-5 text-center"><a class="d-inline-block" href="@Url.Action("IniciativaMitigacion", "Gestion" ,new { id=11, ini=0 })" data-toggle="tooltip" data-placement="top" title="Generación distribuida"><img src="~/images/ico_nama_verde_02.svg"></a></div>
                                    </div>
                                </div>
                            </div>

                            <!--<div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <div class="alert alert-warning">No te preocupes, que podrás cambiar la medida de mitigacion en cualquier momento.</div>
                                </div>
                            </div>-->

                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="tipo-ingreso-detalle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Seleccione un Tipo de Registro <br><small class="text-muted">Para iniciar con el registro de detalle de sus indicadores</small></h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body medidas-modal">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6 col-lg-6 pb-5 text-center"><a class="d-inline-block" href="#" onclick="fn_mostrarDetalleIndicador();" data-toggle="tooltip" data-placement="top" title="Registro manual de detalle de indicadores"><img src="~/images/01_registro_manual.svg"></a></div>
                                    <div class="col-sm-12 col-md-6 col-lg-6 pb-5 text-center"><a class="d-inline-block" href="./registro-de-detalles-de-indicadores-masivo.html" data-toggle="tooltip" data-placement="top" title="Registro a través de archivo excel"><img src="~/images/02_registro_masivo.svg"></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


















        <div class="modal fade" id="copiar-iniciativa" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Mensaje de Usuario</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body medidas-modal">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <h3 class="text-center">¿Confirma copiar esta iniciativa de mitigación? <br></h3>
                                <p class="text-center">Está de acuerdo en copiar todos los datos para iniciar el registro de una nueva iniciativa de mitigación.</p>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="alert alert-danger d-flex align-items-stretch" role="alert">
                                    <div class="alert-wrap mr-3">
                                        <div class="sa">
                                            <div class="sa-error">
                                                <div class="sa-error-x">
                                                    <div class="sa-error-left"></div>
                                                    <div class="sa-error-right"></div>
                                                </div>
                                                <div class="sa-error-placeholder"></div>
                                                <div class="sa-error-fix"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="alert-wrap">
                                        <h6>Error al copiar</h6>
                                        <hr><small class="mb-0">Verifique que los datos sean correctos e intente otra vez.</small>
                                    </div>
                                </div>
                                <div class="alert alert-success d-flex align-items-stretch" role="alert">
                                    <div class="alert-wrap mr-3">
                                        <div class="sa">
                                            <div class="sa-success">
                                                <div class="sa-success-tip"></div>
                                                <div class="sa-success-long"></div>
                                                <div class="sa-success-placeholder"></div>
                                                <div class="sa-success-fix"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="alert-wrap">
                                        <h6>Bien hecho</h6>
                                        <hr><small class="mb-0">Los datos de su iniciativa fueron copiados exitosamente, se registro una nueva iniciativa con id:<strong>1452698.</strong></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">No</button>
                        <button class="btn btn-primary" type="button">Si</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






@Html.Hidden("columna", "FECHA");
@Html.Hidden("orden", "ASC");

<script type="text/javascript">
    $(document).ready(function () {
        fn_cargarOpciones();
    });

    function fn_establecerVista() {

        var opcion = '<span class="dropdown-item">' + $("#Control").data("nombres") + ' <br>';
        if ($("#Control").data("rol") == 1) {
            opcion = opcion + '<span class="badge badge-actor-02">Usuario Administrado</span></span>'
        } else if ($("#Control").data("rol") == 2) {
            opcion = opcion + '<span class="badge badge-actor-03">Especialista</span></span>'
        } else if ($("#Control").data("rol") == 3) {
            opcion = opcion + '<span class="badge badge-actor-06">Administrador MINEM</span></span>'
        } else if ($("#Control").data("rol") == 4) {
            opcion = opcion + '<span class="badge badge-actor-04">Evaluador MINAM</span></span>'
        } else if ($("#Control").data("rol") == 5) {
            opcion = opcion + '<span class="badge badge-actor-05">Verificador Externo</span></span>'
        }

        if ($("#Control").data("opcion6") == 1) { //Añade a las opciones el mantenimiento de tablas
            opcion = opcion + '<a class="dropdown-item" href="#" onclick="fn_mantenimiento();"><i class="fas fa-cogs pr-1"></i>Mantenimiento de tablas</a>';
        }

        if ($("#Control").data("opcion7") == 1) {
            opcion = opcion + '<a class="dropdown-item" href="#" onclick="fn_Clave();"><i class="fas fa-key pr-1"></i>Cambiar contraseña</a>';
        }

        opcion = opcion + '<div class="dropdown-divider"></div><a class="dropdown-item" href="#" onclick="salirSesion();"><i class="fas fa-sign-out-alt pr-1"></i>Salir del sistema</a>';

        $("#usuario-rol").append(opcion);
    }

    function fn_cargarOpciones() {
        $("#Control").data("usuario",@Session["usuario"]);
        $("#Control").data("nombres",'@Session["nombres"]');
        $("#Control").data("correo",'@Session["correo"]');
        $("#Control").data("rol",@Session["rol"]);
        $("#Control").data("institucion",'@Session["institucion"]');
        $("#Control").data("direccion",'@Session["direccion"]');
        $("#Control").data("sector",'@Session["sector"]');
        $("#Control").data("opcion1",@Session["opcion1"]);
        $("#Control").data("opcion2",@Session["opcion2"]);
        $("#Control").data("opcion3",@Session["opcion3"]);
        $("#Control").data("opcion4",@Session["opcion4"]);
        $("#Control").data("opcion5",@Session["opcion5"]);
        $("#Control").data("opcion6",@Session["opcion6"]);
        $("#Control").data("opcion7",@Session["opcion7"]);
        $("#Control").data("opcion8",@Session["opcion8"]);
        $("#Control").data("opcion9",@Session["opcion9"]);
        fn_establecerVista();
    }
</script>
<script src="~/js/AccionMitigacion.js"></script>