@model MRVMinem.Models.ListaObjeto
@{
    ViewBag.Title = "Revisar Admin Detalle Indicador";
    Layout = "~/Views/Shared/_SesionLayout.cshtml";
    string color = Model.medida.ID_MEDMIT == 4 ? "grupo-columna-02" : "";
}
@Html.HiddenFor(m => m.iniciativa_mit.ID_INICIATIVA)
@Html.HiddenFor(m => m.revision)
@Html.HiddenFor(m => m.estado_flujo)
@Html.HiddenFor(m => m.medida.ID_MEDMIT)
@Html.HiddenFor(m => m.id_enfoques);
@Html.HiddenFor(m => m.id_indicadores); 
@{
    var total_reducido = 0.0;
}

<div class="container-fluid map-root" id="historia">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Gestion")">Inicio</a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("AccionMitigacion","Gestion")">Listado de Acciones de Mitigación</a></li>
                <li class="breadcrumb-item active" aria-current="page">Revisión de Acción de Mitigación y Detalles de Indicadores</li>
            </ol>
        </nav>
    </div>
</div>
<div class="container-fluid my-4" id="cuerpo">
    <div class="row m-0">
        <div class="col-12 cuerpo-interior">
            <div class="container py-4">
                <div class="row">
                    <div class="col-md-12 col-lg-6 pt-4">
                        <div class="h4">Revisión de Acción de Mitigación y Detalles de Indicadores&nbsp;<br><small class="text-muted">Apruebe, observe o descargue sus detalles de indicadores en formato excel o toda la acción de mitigación en formato pdf</small></div>
                    </div>
                    <div class="col-md-12 col-lg-6 pt-4">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-6">&nbsp;</div>
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                @*<div class="btn-group btn-group-lg w-100 mb-3" data-toggle="tooltip" data-placement="top" title="Dar por aprobado esta iniciativa de mitigación" id="estado-actor" data-estado="4">
                                        <a class="btn btn-primary dropdown-toggle w-100" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tabindex="0"><i class="fas fa-check pr-1"></i>Aprobar revisión</a>
                                        <div class="dropdown-menu dropdown-menu-right w-100">
                                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#aprobar-revision" onclick="fn_EstadoActor('5');"><i class="fas fa-user-circle pr-1"></i>Enviar al Evaluador MINAM</a>
                                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#aprobar-revision" onclick="fn_EstadoActor('8');"><i class="far fa-user-circle pr-1"></i>Enviar al Verificador Externo</a>
                                        </div>
                                    </div>*@
                                <span data-toggle="modal" data-target="#aprobar-revision"><a class="aprobar-revision" href="#" data-toggle="tooltip" data-placement="top" title="Dar por aprobado esta acción de mitigación"><i class="fas fa-check px-1"></i>Aprobar revisión</a></span>
                                <span data-toggle="modal" data-target="#observar-revision"><a class="observar-revision" href="#" data-toggle="tooltip" data-placement="top" title="¿Encontró alguna observación? utilice esta opción para solicitar una corrección"><i class="fas fa-eye px-1"></i>Observar revisión</a></span>
                                @*<div class="btn-group btn-group-lg w-100 mb-3">
                                    <a class="btn btn-success dropdown-toggle w-100" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tabindex="0"><i class="fas fa-download pr-1"></i>Descargar</a>
                                    <div class="dropdown-menu dropdown-menu-right w-100">
                                        <a class="dropdown-item" href="~/documentos/Exportar/@Model.listaIndData[0].ADJUNTO" download><i class="fas fa-file-excel pr-1"></i>Formato excel</a><div id="divExportar"></div> <!-- add metodo exportar y div creado con su id -->
                                        <a class="dropdown-item" href="#" onclick="exportarDetalle();"><i class="fas fa-file-excel pr-1"></i>Formato excel</a><div id="divExportar"></div> <!-- add metodo exportar y div creado con su id -->
                                        <a class="dropdown-item" href="#"><i class="fas fa-file-pdf pr-1"></i>Formato pdf</a>
                                    </div>
                                </div>*@
                                @*<div class="btn-group btn-group-lg w-100">
                                        @if (Model.iniciativa_mit.ID_TIPO_INICIATIVA == 0)
                                        {
                                            <a class="btn btn-purple dropdown-toggle w-100" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tabindex="0" id="tipo-iniciativa" data-tipo="0"><i class="fas fa-list pr-1"></i>Tipo de iniciativa</a>
                                        }
                                        else
                                        {
                                            <a class="btn btn-purple dropdown-toggle w-100" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tabindex="0" id="tipo-iniciativa" data-tipo="@Model.iniciativa_mit.ID_TIPO_INICIATIVA"><i class="fas fa-list pr-1"></i>@Model.iniciativa_mit.TIPO_INICIATIVA</a>
                                        }

                                        <div class="dropdown-menu dropdown-menu-right w-100">
                                            @if (Model.listaTipoIniciativa != null)
                                            {
                                                foreach (var item in Model.listaTipoIniciativa)
                                                {
                                                    <a class="dropdown-item" href="javascript:void(0);" onclick="fn_cambiarTipoIniciativa(@item.ID_TIPO_INICIATIVA, '@item.TIPO_INICIATIVA')"><i class="fas fa-list pr-1"></i>@item.TIPO_INICIATIVA</a>
                                                }
                                            }
                                        </div>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid py-4 px-0 bg-white">
                <div class="container py-5">
                    <div class="row">
                        <div class="col-12">
                            <div class="h5 pb-5 text-primary">@Model.medida.NOMBRE_MEDMIT&nbsp;<br><small class="text-muted">Encuentre aquí información general relacionada a la medida de mitigación con la cual se vincula su acción de mitigación. No hay nada que llenar.</small></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12-col-md-12 col-lg-6">
                            <div class="form-group">
                                <label for="txt-categoria" class="font-weight-bold">Categoría IPCC</label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" id="inputGroup1"><i class="fas fa-landmark"></i></span></div>
                                    <input class="form-control-plaintext" type="text" id="txt-categoria" value="@Model.medida.IPSC_MEDMIT" aria-describedby="inputGroup1" readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txa-objetivo" class="font-weight-bold">Objetivo</label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" id="inputGroup2"><i class="fas fa-landmark"></i></span></div>
                                    <textarea class="form-control-plaintext" id="txa-objetivo" aria-describedby="inputGroup2" cols="30" rows="5" readonly>@Model.medida.OBJETIVO_MEDMIT</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12-col-md-12 col-lg-6">
                            <div class="form-group">
                                <label for="txa-descripcion" class="font-weight-bold">Descripción</label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" id="inputGroup3"><i class="fas fa-landmark"></i></span></div>
                                    <textarea class="form-control-plaintext" id="txa-descripcion" aria-describedby="inputGroup3" cols="30" rows="8" readonly>@Model.medida.DESCRIPCION_MEDMIT</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="h5 py-5 text-primary">Datos principales</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12-col-md-12 col-lg-12 d-none">
                            <div class="form-group">
                                <label class="font-weight-bold" for="txt-tipo-iniciativa">Tipo de acción de mitigación</label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" id="inputGroup9"><i class="fas fa-tachometer-alt"></i></span></div>
                                    <input class="form-control-plaintext" id="txt-tipo-iniciativa" aria-describedby="inputGroup9" value="@Model.iniciativa_mit.TIPO_INICIATIVA" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12-col-md-12 col-lg-12">
                            <div class="form-group">
                                <label for="txa-nombre-iniciativa" class="font-weight-bold">Nombre de la acción de mitigación<span class="text-danger font-weight-bold">&nbsp;</span></label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" id="inputGroup4"><i class="fas fa-tachometer-alt"></i></span></div>
                                    <textarea class="form-control-plaintext" id="txa-nombre-iniciativa" aria-describedby="inputGroup4" cols="30" rows="5" readonly placeholder="Ingrese un nombre para su acción de mitigación">@Model.iniciativa_mit.NOMBRE_INICIATIVA</textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txa-descripcion-medida" class="font-weight-bold">Descripción de la acción de mitigación<span class="text-danger font-weight-bold">&nbsp;</span></label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" id="inputGroup5"><i class="fas fa-tachometer-alt"></i></span></div>
                                    <textarea class="form-control-plaintext" id="txa-descripcion-medida" aria-describedby="inputGroup5" cols="30" rows="5" readonly placeholder="Ingrese una descripción para su acción de mitigación">@Model.iniciativa_mit.DESC_INICIATIVA</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12-col-md-12 col-lg-6">
                            <div class="form-group">
                                <label for="txa-nombre-responsable" class="font-weight-bold">Responsable del registro</label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" id="inputGroup6"><i class="fas fa-landmark"></i></span></div>
                                    <input class="form-control-plaintext" id="txt-nombre-responsable" aria-describedby="inputGroup6" value="@Model.iniciativa_mit.NOMBRES" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12-col-md-12 col-lg-6">
                            <div class="form-group">
                                <label for="txa-nombre-institucion" class="font-weight-bold">Nombre de la institución</label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" id="inputGroup7"><i class="fas fa-landmark"></i></span></div>
                                    <input class="form-control-plaintext" id="txt-nombre-institucion" aria-describedby="inputGroup7" value="@Model.iniciativa_mit.INSTITUCION" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12-col-md-12 col-lg-6">
                            <div class="form-group">
                                <label for="txt-correo-electronico" class="font-weight-bold">Correo electrónico</label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" id="inputGroup8"><i class="fas fa-landmark"></i></span></div>
                                    <input class="form-control-plaintext" id="txt-correo-electronico" aria-describedby="inputGroup8" value="@Model.iniciativa_mit.CORREO" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12-col-md-12 col-lg-6">
                            <div class="form-group">
                                <label for="txt-direccion" class="font-weight-bold">Dirección</label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" id="inputGroup9"><i class="fas fa-landmark"></i></span></div>
                                    <input class="form-control-plaintext" id="txt-direccion" aria-describedby="inputGroup9" value="@Model.iniciativa_mit.DIRECCION" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="h5 py-5 text-primary">Datos generales</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12-col-md-12 col-lg-6">
                            <div class="form-group">
                                <label for="txt-sector-institucion" class="font-weight-bold">Sector de la institución</label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" id="inputGroup9"><i class="fas fa-landmark"></i></span></div>
                                    <input class="form-control-plaintext" id="txt-sector-institucion" aria-describedby="inputGroup9" value="@Model.iniciativa_mit.SECTOR" readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txa-ubicacion" class="font-weight-bold">Ubicación<span class="text-danger font-weight-bold">&nbsp;</span></label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" id="inputGroup9"><i class="fas fa-landmark"></i></span></div>
                                    <textarea class="form-control-plaintext" id="txa-ubicacion" aria-describedby="inputGroup9" cols="30" rows="8" readonly placeholder="Ingrese una descripción para su acción de mitigación">
                                        @*Lima&nbsp;
                                            Arequipa&nbsp;
                                            Tacna*@
                                        @foreach (var item in Model.listaUbicacion)
                                        {
                                            @item.DESCRIPCION <text>&nbsp;</text>
                                        }
                                    </textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12-col-md-12 col-lg-6">
                            <div class="form-group">
                                <label class="font-weight-bold" for="txt-moneda">Moneda<span class="text-danger font-weight-bold">&nbsp;</span></label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" id="inputGroup10"><i class="far fa-money-bill-alt"></i></span></div>
                                    @if (Model.iniciativa_mit.MONEDA == null)
                                    {
                                        <input class="form-control-plaintext" type="text" id="txt-moneda" aria-describedby="inputGroup10" value="------" readonly>
                                    }
                                    else
                                    {
                                        <input class="form-control-plaintext" type="text" id="txt-moneda" aria-describedby="inputGroup10" value="@Model.iniciativa_mit.MONEDA" readonly>
                                    }
                                    @*<input class="form-control-plaintext" type="text" id="txt-moneda" aria-describedby="inputGroup10" value="@Model.iniciativa_mit.MONEDA" readonly>*@
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="font-weight-bold" for="txt-monto-inversion">Monto de inversión<span class="text-danger font-weight-bold">&nbsp;</span></label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" id="inputGroup11"><i class="fas fa-wallet"></i></span></div>
                                    @if (Model.iniciativa_mit.INVERSION_INICIATIVA == 0)
                                    {
                                        <input class="form-control-plaintext" type="text" id="txt-monto-inversion" aria-describedby="inputGroup11" value="------" readonly>
                                    }
                                    else
                                    {
                                        <input class="form-control-plaintext" type="text" id="txt-monto-inversion" aria-describedby="inputGroup11" value="@Model.iniciativa_mit.INVERSION_INICIATIVA" readonly>
                                    }
                                    @*<input class="form-control-plaintext" type="text" id="txt-monto-inversion" aria-describedby="inputGroup11" value="@Model.iniciativa_mit.INVERSION_INICIATIVA" readonly>*@
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txt-fecha-inicio" class="font-weight-bold">Fecha de inicio de operaciones<span class="text-danger font-weight-bold">&nbsp;</span></label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" id="inputGroup12"><i class="fas fa-calendar-alt"></i></span></div>
                                    <input class="form-control-plaintext" type="text" id="txt-fecha-inicio" aria-describedby="inputGroup12" value="@Model.iniciativa_mit.FECHA" readonly>
                                </div>
                            </div>
                            @if (Model.iniciativa_mit.FECHA_FIN == "01/01/0001")
                            {
                                @*<input class="form-control-plaintext" type="text" id="txt-fecha-fin" aria-describedby="inputGroup12" value="" readonly>*@
                            }
                            else
                            {
                                <div class="form-group">
                                    <label class="font-weight-bold" for="txt-fecha-fin">Fecha de finalización<span class="text-danger font-weight-bold">&nbsp;</span></label>
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="input-group-text" id="inputGroup12"><i class="fas fa-calendar-alt"></i></span></div>
                                        <input class="form-control-plaintext" type="text" id="txt-fecha-fin" aria-describedby="inputGroup12" value="@Model.iniciativa_mit.FECHA_FIN" readonly>

                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="h5 py-5 text-primary">Indicadores</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12-col-md-12 col-lg-6">
                            <div class="form-group">
                                <label for="mlt-energetico">Energético asociado<span class="text-danger font-weight-bold">&nbsp;(*)&nbsp;</span><i class="fas fa-question-circle ayuda-tooltip" data-toggle="tooltip" data-placement="right" title="Seleccione uno o varios energéticos asociados de acuerdo a la medida de mitigación seleccionada"></i></label>
                                <div class="input-group resaltado">
                                    <div class="input-group-prepend"><span class="input-group-text" id="inputGroup9"><i class="fas fa-bolt"></i></span></div>
                                    <div class="form-control" style="height:120px; overflow-y: auto;" id="listaEnerg" @*data-cantidad="@Model.listaEnergetico.Count"*@>
                                        @*@{
                                                var index_e = 0;
                                            }

                                            @foreach (var item in Model.listaEnergetico)
                                            {
                                                index_e += 1;
                                                var id_energ = "E"+index_e;
                                                <div class="col-auto my-1">
                                                    <div class="custom-control custom-checkbox mr-sm-2">
                                                        <input class="custom-control-input" type="checkbox" id="@id_energ" data-value="@item.ID_ENERG" >
                                                        <label class="custom-control-label" for="@id_energ">@item.DESCRIPCION</label>
                                                    </div>
                                                </div>
                                            }*@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12-col-md-12 col-lg-6">
                            <div class="form-group">
                                <label for="mlt-gei">Gases de efecto invernadero<span class="text-danger font-weight-bold">&nbsp;(*)&nbsp;</span><i class="fas fa-question-circle ayuda-tooltip" data-toggle="tooltip" data-placement="right" title="Seleccione uno o varios GEI de acuerdo a la medida de mitigación seleccionada"></i></label>
                                <div class="input-group resaltado">
                                    <div class="input-group-prepend"><span class="input-group-text" id="inputGroup9"><i class="fas fa-bolt"></i></span></div>
                                    <div class="form-control" style="height:120px; overflow-y: auto;" id="listaGei" @*data-cantidad="@Model.listaGei.Count"*@>
                                        @*@{
                                                var index_g = 0;
                                            }

                                            @foreach (var item in Model.listaGei)
                                            {
                                                index_g += 1;
                                                var id_gei = "G" + index_g;
                                                <div class="col-auto my-1">
                                                    <div class="custom-control custom-checkbox mr-sm-2">
                                                        <input class="custom-control-input" type="checkbox" id="@id_gei" data-value="@item.ID_GEI">
                                                        <label class="custom-control-label" for="@id_gei">@item.DESCRIPCION</label>
                                                    </div>
                                                </div>
                                            }*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="container pt-5">
                    <div class="row">
                        <div class="col-12">
                            <div class="h5 pb-5 text-primary">Detalle de la acción de mitigación</div>
                        </div>
                    </div>
                </div>


                @if (Model.listaIndData != null)
                {
                    foreach (var itemD in Model.listaIndData)
                    {
                        //var texto = 0;
                        //var fecha = 0;
                        //var lista = 0;
                        var total_e = 0.0;
                        var fila = 0;
                        total_reducido = 0.0;
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12-col-md-12 col-lg-6">
                                    <div class="form-group">
                                        <label for="txt-enfoque" class="font-weight-bold">Equipo(s)</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text" id="inputGroup20"><i class="fas fa-square-root-alt"></i></span></div>
                                            <input class="form-control-plaintext" id="txt-enfoque" aria-describedby="inputGroup20" value="@itemD.DESCRIPCION" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12-col-md-12 col-lg-6">&nbsp;</div>
                            </div>
                        </div>
                        <div class="container-fluid">
                            @*<div class="h5">Resumen del Detalle de Iniciativa de Mitigación&nbsp;<span class="text-danger font-weight-bold">&nbsp;</span></div>*@
                            <div class="dropdown-divider"></div>

                            <div class="row">
                                <div class="col-xs-12 col sm-12 col-lg-10">
                                </div>
                                <div class="col-xs-12 col sm-12 col-lg-2">
                                    <a class="btn btn-purple w-100 mb-2" href="#" data-toggle="modal" data-target="#modal-acumulado-total"><i class="fas fa-eye mr-1"></i>Ver Acumulado</a>
                                </div>
                            </div>

                            @if (Model.medida.ID_MEDMIT == 4)
                            {
                                <div class="row">
                                    <div class="col-12 px-0">
                                        <div class="table-responsive tabla-principal">
                                            <table class="table table-hover" id="tablaAuditor">
                                                <thead id="cabeceraAuditor">
                                                    <tr class="bg-primary text-white">
                                                        <th class="text-center grupo-columna-03" scope="col"><span>Sector</span></th>
                                                        <th class="text-center grupo-columna-03" scope="col"><span>Institución auditada</span></th>
                                                        <th class="text-center grupo-columna-03" scope="col"><span>Tipo auditoría</span></th>
                                                        <th class="text-center grupo-columna-03" scope="col"><span>Auditado por:</span></th>
                                                        <th class="text-center grupo-columna-03" scope="col"><span>Nombre de institución del auditor</span></th>
                                                        <th class="text-center grupo-columna-03" scope="col"><span>Fecha de auditoría</span></th>
                                                    </tr>
                                                </thead>
                                                <tbody id="cuerpoAuditor">
                                                    <tr id="detalles-tr-1" data-ind="1" data-rev="0">
                                                        <td data-encabezado="Columna 07">
                                                            <div class="form-group m-0">
                                                                <select class="form-control form-control-sm" id="cbo-sector" disabled>
                                                                    <option value="0">Seleccionar</option>
                                                                    <option value="1">Administrativo</option>
                                                                    <option value="2">Público</option>
                                                                    <option value="3">Educación</option>
                                                                    <option value="4">Salud</option>
                                                                </select>
                                                            </div>
                                                        </td>
                                                        <td data-encabezado="Columna 07">
                                                            <div class="form-group m-0">
                                                                <input class="form-control form-control-sm text-left" type="text" placeholder="" id="txt-institucion" maxlength="120" readonly>
                                                            </div>
                                                        </td>
                                                        <td data-encabezado="Columna 07">
                                                            <div class="form-group m-0">
                                                                <select class="form-control form-control-sm" id="cbo-tipo_auditoria" disabled>
                                                                    <option value="0">Seleccionar</option>
                                                                    <option value="1">Tipo 1</option>
                                                                    <option value="2">Tipo 2</option>
                                                                    <option value="3">Tipo 3</option>
                                                                </select>
                                                            </div>
                                                        </td>
                                                        <td data-encabezado="Columna 07">
                                                            <div class="form-group m-0">
                                                                <select class="form-control form-control-sm" id="txt-auditor" disabled>
                                                                    <option value="0">Seleccionar</option>
                                                                    <option value="1">EMSE</option>
                                                                    <option value="2">Auditor acreditado</option>
                                                                </select>
                                                            </div>
                                                        </td>
                                                        <td data-encabezado="Columna 07">
                                                            <div class="form-group m-0">
                                                                <input class="form-control form-control-sm text-left" type="text" placeholder="" id="txt-institucion-auditor" maxlength="120" readonly>
                                                            </div>
                                                        </td>
                                                        <td data-encabezado="Columna 07">
                                                            <div class="form-group m-0">
                                                                <input class="form-control form-control-sm text-center" type="date" placeholder="" id="fch-fecha-auditoria" readonly>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            }

                            <div class="row">
                                <div class="col-12 px-0">
                                    <div class="table-responsive tabla-principal tabla-recorrer tabla-detalle-indicadores-1" data-order="tbl-1">

                                        <table class="table table-hover" data-fila="0">
                                            <thead @*id="cabeceraTablaIndicador"*@>
                                                <tr class="bg-primary text-white">
                                                    <th class="text-center @color" scope="col"><span>N°</span></th>
                                                    @foreach (var itemCab in itemD.listaParam)
                                                    {
                                                        var columna = "0" + itemCab.ID_GRUPO_INDICADOR;
                                                        var descripcion = "";
                                                        //if (string.IsNullOrEmpty(itemCab.COMBINACION_UNIDAD))
                                                        //{
                                                        //    descripcion = itemCab.PREFIJO + itemCab.UNIDAD + itemCab.DESCRIPCION_UNIDAD;
                                                        //    if (string.IsNullOrEmpty(descripcion))
                                                        //    {
                                                        //        descripcion = "";
                                                        //    }
                                                        //    else
                                                        //    {
                                                        //        descripcion = "(" + descripcion + ")";
                                                        //    }
                                                        //}
                                                        //else
                                                        //{
                                                        //    descripcion = "(" + itemCab.COMBINACION_UNIDAD + ")";
                                                        //}
                                                        //if (itemCab.ID_PARAMETRO == 9 || itemCab.ID_PARAMETRO == 10 || itemCab.ID_PARAMETRO == 11)
                                                        //{
                                                        //    if (!string.IsNullOrEmpty(itemCab.COMBINACION_UNIDAD))
                                                        //    {
                                                        //        descripcion = "(" + itemCab.COMBINACION_UNIDAD + ")";
                                                        //    }
                                                        //}
                                                        if (!string.IsNullOrEmpty(itemCab.COMBINACION_UNIDAD))
                                                        {
                                                            descripcion = "" + itemCab.COMBINACION_UNIDAD;
                                                        }
                                                        <th class="text-center grupo-columna-@columna @(itemCab.VISIBLE == "0" ? "d-none" : "" )" scope="col"><span>@itemCab.NOMBRE_PARAMETRO&nbsp;</span><span>@descripcion</span>@*<small>@itemCab.DESCRIPCION_PARAMETRO</small>*@</th>

                                                    }
                                                    <th class="text-center grupo-columna-03" scope="col" data-toggle="tooltip" data-placement="top" title="Documentos de sustento"><span>Sustento</span></th>
                                                    @if (itemD.ID_ENFOQUE != 6 && itemD.ID_ENFOQUE != 9 && itemD.ID_MEDMIT != 12 && itemD.ID_MEDMIT != 4)
                                                    {
                                                        <th class="text-center grupo-columna-03"><span><i class="fas fa-question-circle mr-1" data-toggle="tooltip" data-placement="right" title="Verificar acumulado"></i></span><br>Ver</th>
                                                    }
                                                    @*<th class="text-center" scope="col">Más</th>*@
                                                </tr>
                                            </thead>
                                            <tbody id="cuerpoTablaIndicador" data-row="0" data-total="0" data-delete="">
                                                @foreach (var itemDatos in itemD.listaInd)
                                                {
                                                    fila += 1;
                                                    <tr id="detalles-tr-1" data-ind="@itemDatos.ID_INDICADOR">
                                                        <th class="text-center" data-encabezado="Número" scope="row">@fila</th>
                                                        @foreach (var itemDet in itemDatos.listaInd)
                                                        {
                                                            <td data-encabezado="Columna 04" class="@(itemDet.VISIBLE == "0" ? "d-none" : "" )">
                                                                <div class="form-group m-0">
                                                                    @if (itemDet.ID_TIPO_CONTROL == 1)
                                                                    {
                                                                        if (itemDet.ID_PARAMETRO == 6)
                                                                        {
                                                                            <input class="form-control form-control-sm text-center" type="text" placeholder="" id="txt-det-tbl-1-1-1" value="@itemDet.VALOR" readonly>

                                                                        }
                                                                        else
                                                                        {
                                                                            <input class="form-control form-control-sm text-center @(itemDet.VALIDAR_IMPLEMENTADO == "1" ? "validar-implementado" : "" )" data-valor="@itemDet.VALOR" type="text" placeholder="" id="txt-det-tbl-1-1-1" value="@itemDet.DESCRIPCION" readonly>
                                                                        }
                                                                    }
                                                                    else
                                                                    {
                                                                        if (itemDet.ID_TIPO_DATO == 1)
                                                                        {
                                                                            <input class="form-control form-control-sm text-center valor" type="date" placeholder="" id="fch-det-tbl-1-1-@fila" value="@itemDet.VALOR" readonly>
                                                                        }
                                                                        else
                                                                        {
                                                                            string formateado = itemDet.VALOR;
                                                                            double retNum;
                                                                            if (Double.TryParse(Convert.ToString(formateado), System.Globalization.NumberStyles.Any, System.Globalization.NumberFormatInfo.InvariantInfo, out retNum))
                                                                            {
                                                                                string cad = Convert.ToDouble(formateado).ToString("N2");
                                                                                <input class="form-control form-control-sm text-center valor @(itemDet.ENERGIA_TOTAL == "1" ? "energia-total" : "" )" data-param="@itemDet.ID_PARAMETRO" type="text" placeholder="" id="txt-det-tbl-1-1-@fila" value="@cad" readonly>
                                                                            }
                                                                            else
                                                                            {
                                                                                <input class="form-control form-control-sm text-center valor" type="text" placeholder="" id="txt-det-tbl-1-1-@fila" value="@itemDet.VALOR" readonly>
                                                                            }
                                                                        }
                                                                        //<input class="form-control form-control-sm text-center" type="text" placeholder="" id="txt-det-tbl-1-1-1" value="@itemDet.VALOR" readonly>

                                                                    }
                                                                </div>
                                                            </td>
                                                            if (itemDet.ID_PARAMETRO == 11)
                                                            {
                                                                total_e += Convert.ToDouble(itemDet.VALOR);
                                                                total_reducido += Convert.ToDouble(itemDet.VALOR);
                                                            }
                                                        }

                                                        @if (itemDatos.ArchivoSustento != null)
                                                        {
                                                            <td class="text-center" data-encabezado="Sustento" id="sustento-@fila">
                                                                <a class="btn btn-success btn-sm m-0" name="fledownload" href="@Url.Action("FileDownloadDetalle","Gestion", new { IdIniciativa = itemDatos.ArchivoSustento.ID_INICIATIVA, IdIndicador = itemDatos.ArchivoSustento.ID_INDICADOR})" title="Descargar archivo" id="fle-dow-@itemDatos.ID_INDICADOR" target="_blank"><i class="fas fa-download"></i></a>
                                                            </td>
                                                        }
                                                        else
                                                        {
                                                            <td class="text-center" data-encabezado="Sustento" id="sustento-@fila"></td>
                                                        }

                                                        @if (itemD.ID_ENFOQUE != 6 && itemD.ID_ENFOQUE != 9 && itemD.ID_MEDMIT != 12 && itemD.ID_MEDMIT != 4)
                                                        {
                                                            <td class="text-center estrecho" data-encabezado="Verificar acumulado"><span data-toggle="modal" data-target="#"><a class="btn btn-purple btn-sm m-0 quitarCampos" href="#" title="Verificar acumulado" onclick="mostrarAcumuladoR(this);"><i class="fas fa-eye"></i></a></span></td>
                                                        }                                                        
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12 col sm-12 col-lg-10">
                                    @*<div class="alert alert-warning" role="alert"><strong>Completar todas las celdas en amarillo</strong></div>*@
                                </div>
                                <div class="col-xs-12 col sm-12 col-lg-2">
                                    @*<a class="btn btn-info w-100 mb-2 agregarCamposPrc" href="javascript:void(0)" onclick="CargarNuevaFila(1);"><i class="fas fa-plus-circle px-1"></i>Añadir fila</a>*@
                                    <a class="btn btn-success w-100 mb-2" href="~/Gestion/FileDownloadAllDetalle?IdIniciativa=@Model.iniciativa_mit.ID_INICIATIVA"><i class="fas fa-download mr-1"></i>Descargar sustentos</a>
                                </div>
                            </div>
                        </div>

                        if (Model.medida.ID_MEDMIT == 4)
                        {
                            <div class="container py-4" id="resumenauditada"></div>
                        }

                        <div class="container py-4">
                            <div class="row">
                                <div class="col-12">
                                    <div class="table-responsive tabla-principal mt-3">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr class="bg-primary text-white">
                                                    <th class="text-center" scope="col" width="2%"><span>N°&nbsp;</span></th>
                                                    <th scope="col" width="88%"><span>@(Model.medida.ID_MEDMIT == 4 ? "Por las mejoras implementadas" : "Resumen")</span></th>
                                                    <th scope="col" width="10%"><span>Total</span></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th class="text-center" data-encabezado="Número" scope="row">1</th>
                                                    @*<td data-encabezado="Resumen">@Model.medida.IPSC_MEDMIT</td>*@
                                                    <td data-encabezado="Resumen">Emisiones de GEI reducidas</td>
                                                    <td data-encabezado="Total"><strong id="total-detalle">0.00</strong><strong>&nbsp;tCO<sub>2</sub>eq</strong></td>
                                                </tr>
                                                @if (Model.medida.ID_MEDMIT == 4)
                                                {
                                                    <tr>
                                                        <th class="text-center" data-encabezado="Número" scope="row">2</th>
                                                        <td data-encabezado="Resumen">Energía total reducida</td>
                                                        <td data-encabezado="Total"><strong id="total-detalle-energia">0.00</strong><strong>&nbsp;MJ</strong></td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @*<div class="container py-4">
                            <div class="row">
                                <div class="col-12">
                                    <div class="table-responsive tabla-principal mt-3">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr class="bg-primary text-white">
                                                    <th class="text-center" scope="col" width="2%"><span>N°&nbsp;</span></th>
                                                    <th scope="col" width="88%"><span>Resumen Enfoque</span></th>
                                                    <th scope="col" width="10%"><span>Total</span></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th class="text-center" data-encabezado="Número" scope="row">1</th>
                                                    <td data-encabezado="Resumen">@itemD.DESCRIPCION</td>
                                                    <td data-encabezado="Total"><strong id="total-detalle">@total_e.ToString("N2")</strong><strong>&nbsp;tCO<sub>2</sub>eq</strong></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                    }
                }

                @if (Model.medida.ID_MEDMIT == 4)
                {
                    <div class="container py-4" id="resumenverificada"></div>
                    <div class="container py-4" id="resumenpotencial"></div>
                }

                

                <div class="dropdown-divider"></div>

                <div class="container py-5">
                    <div class="row">
                        <div class="col-12">
                            <div class="h5 pb-3 text-primary">Documentos&nbsp;@*<br><small class="text-muted">Cargue uno o varios documentos sustentatorios</small>*@</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12-col-md-12 col-lg-6">
                            <div class="form-group" id="archivos-documentos">
                                @{
                                    var total = 0;
                                    if (Model.iniciativa_mit.ListaSustentos != null)
                                    {
                                        total = Model.iniciativa_mit.ListaSustentos.Count();
                                    }
                                }
                                <label class="font-weight-bold">Archivos adjuntos: <span id="total-documentos">@total</span> en total</label>
                                @{
                                    if (Model.iniciativa_mit.ListaSustentos != null)
                                    {
                                        var extension = "fa-file-word";

                                        foreach (var item in Model.iniciativa_mit.ListaSustentos)
                                        {
                                            if (item.ADJUNTO_BASE.Contains("pdf"))
                                            {
                                                extension = "fa-file-pdf";
                                            }
                                            else
                                            {
                                                if (item.ADJUNTO_BASE.Contains("jpeg") || item.ADJUNTO_BASE.Contains("png") || item.ADJUNTO_BASE.Contains("jpg") || item.ADJUNTO_BASE.Contains("gif"))
                                                {
                                                    extension = "fa-file-image";
                                                }
                                                else
                                                {
                                                    if (item.ADJUNTO_BASE.Contains("xls") || item.ADJUNTO_BASE.Contains("xlsx"))
                                                    {
                                                        extension = "fa-file-excel";
                                                    }
                                                    else
                                                    {
                                                        if (item.ADJUNTO_BASE.Contains("ppt") || item.ADJUNTO_BASE.Contains("pptx"))
                                                        {
                                                            extension = "fa-file-powerpoint";
                                                        }
                                                        else
                                                        {
                                                            if (item.ADJUNTO_BASE.Contains("doc") || item.ADJUNTO_BASE.Contains("docx"))
                                                            {
                                                                extension = "fa-file-word";
                                                            }
                                                            else
                                                            {
                                                                extension = "fa-file";
                                                            }
                                                        }
                                                    }
                                                }
                                            }

                                            <div class="input-group mb-3">
                                                <div class="input-group-append mr-3"><span class="input-group-text cursor-pointer"><i class="fas fa-download" onclick="fn_verfilesutento(@item.ID_INICIATIVA_SUSTENTATORIO)"></i></span></div>
                                                <div class="input-group-prepend"><span class="input-group-text"><i class="fas @extension"></i></span></div><span class="form-control-plaintext ww">@item.ADJUNTO_BASE</span>
                                                @*<div class="input-group-append"><span class="input-group-text cursor-pointer"><i class="fas fa-download" onclick="fn_verfilesutento(@item.ID_INICIATIVA_SUSTENTATORIO)"></i></span></div>*@
                                            </div>
                                        }
                                    }
                                }


                            </div>
                        </div>
                        <div class="col-sm-12-col-md-12 col-lg-6">
                            <label class="font-weight-bold">Visibilidad de datos</label><br>
                            <div class="custom-control custom-checkbox d-inline-block">
                                @if (Model.iniciativa_mit.PRIVACIDAD_INICIATIVA == '1')
                                {
                                    <input class="custom-control-input" type="checkbox" id="chk-publicar" disabled checked>
                                }
                                else
                                {
                                    <input class="custom-control-input" type="checkbox" id="chk-publicar" disabled>
                                }

                                <label class="custom-control-label" for="chk-publicar">Hacer públicos los datos registrados</label>
                            </div>
                            <div class="custom-control custom-checkbox d-inline-block">
                                @if (Model.iniciativa_mit.PRIVACIDAD_INVERSION == '1')
                                {
                                    <input class="custom-control-input" type="checkbox" id="chk-publicar-monto-inversion" disabled checked>
                                }
                                else
                                {
                                    <input class="custom-control-input" type="checkbox" id="chk-publicar-monto-inversion" disabled>
                                }
                                <label class="custom-control-label" for="chk-publicar-monto-inversion">Hacer público "Monto de inversión"</label>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown-divider my-5"></div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-6">
                            <div class="row justify-content-end">
                                <div class="col-lg-6">
                                    <div class="btn-group w-100">
                                        @*<a class="btn btn-success dropdown-toggle w-100" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tabindex="0"><i class="fas fa-download pr-1"></i>Descargar</a>
                                        <div class="dropdown-menu dropdown-menu-right w-100">
                                            <a class="dropdown-item" href="~/documentos/Exportar/@Model.listaIndData[0].ADJUNTO" download><i class="fas fa-file-excel pr-1"></i>Formato excel</a><div id="divExportar"></div> 

                                        </div>*@
                                    </div>
                                </div>
                                <div class="col-lg-6">&nbsp;</div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-6 text-right">
                            <div class="row justify-content-end">
                                <div class="col-lg-6"><a class="btn btn-warning px-5 w-100 nav-tab text-center mb-3" href="#" data-toggle="modal" data-target="#observar-revision"><i class="fas fa-eye px-1"></i>Observar</a></div>
                                <div class="col-lg-6"><a class="btn btn-primary px-5 w-100 nav-tab text-center" href="javascript:void(0);" data-toggle="modal" data-target="#aprobar-revision">Aprobar revisión<i class="fas fa-check px-1"></i></a></div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*<div class="modal fade" id="modal-verificacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Verificación de Composición</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <img class="img-fluid" src="~/images/formula.jpg"><strong>
                                        <div class="badge badge-info">Factores: F1 <br></div>
                                    </strong><strong>
                                        <div class="badge badge-primary">Parámetros: P2 <br></div>
                                    </strong><strong>
                                        <div class="badge badge-warning">Resultado: 62.25 ktCOeq</div>
                                    </strong>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-12"></div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>*@

            <div class="modal fade" id="aprobar-revision" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal modal-dialog-centered" role="document">
                    <div class="modal-content">
                        @*<div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Mensaje de Usuario</h5>
                                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>*@
                        <div class="modal-body medidas-modal">
                            <div class="row">
                                @*<div class="col-sm-12 col-md-12 col-lg-12">
                                        <h3 class="text-center">¿Está seguro de aprobar la inicitiva de mitigación seleccionada? <br></h3>
                                        <p class="text-center">Está de acuerdo en aprobar todos los datos vinculados en de esta iniciativa de mitigación, como de los detalles de indicadores registrados.</p>
                                    </div>*@
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <div class="swal2-icon swal2-question swal2-icon-show" style="display: flex;">
                                        <div class="swal2-icon-content"><i class="fas fa-question"></i></div>
                                    </div>
                                    <h3 class="text-center">¿Está seguro de aprobar la acción de mitigación seleccionada?</h3>
                                    <p class="text-center">Está de acuerdo en aprobar todos los datos vinculados de esta acción de mitigación, como de los detalles de indicadores registrados.</p>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-12" id="modalAprobacion">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer justify-content-center" id="modalAprobarBoton">
                            <button class="btn btn-info" type="button" onclick="fn_revisarAdminDetalleIndicador();">Si, aprobar</button>
                            <button class="btn btn-dark" type="button" data-dismiss="modal">Cancelar</button>
                        </div>
                        <div class="modal-footer justify-content-center" id="pieCorrectoAprobacion">
                            <!-- add 04-02-2020 -->
                            <button class="btn btn-dark" type="button" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>



            <div class="modal fade" id="observar-revision" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal modal-dialog-centered" role="document">
                    <div class="modal-content">
                        @*<div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Observaciones</h5>
                                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>*@
                        <div class="modal-body medidas-modal">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <div class="swal2-icon swal2-question swal2-icon-show" style="display: flex;">
                                        <div class="swal2-icon-content"><i class="fas fa-eye"></i></div>
                                    </div>
                                    <h3 class="text-center">Observaciones en su revisión</h3>
                                    <p class="text-center">describa sus observaciones en el siguiente campo:</p>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-8"><strong>De: @Session["nombres"]&nbsp;<span class="badge badge-actor-@Session["colorRol"]">@Session["nombreRol"]</span></strong><br><strong>Para: @Model.usuario.NOMBRES&nbsp;<span class="badge badge-actor-@Model.usuario.COLOR">@Model.usuario.ROL</span></strong></div>
                                <div class="col-sm-12 col-md-6 col-lg-4 text-right">@*<strong>Fecha de Registro: 15/01/2020</strong>*@</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12-col-md-12 col-lg-6" hidden>
                                    <div class="form-group">
                                        <label for="cbo-tipo-observacion">Tipo de observación<span class="text-danger font-weight-bold">&nbsp;(*)&nbsp;</span><i class="fas fa-question-circle ayuda-tooltip" data-toggle="tooltip" data-placement="right" title="En caso no posea un nombre, coloque el nombre de la medida de mitigación seguido de un guión y nombre o siglas de la institución."></i></label>
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text" id="inputGroup10"><i class="fas fa-exclamation-triangle"></i></span></div>
                                            <select class="form-control" id="cbo-tipo-observacion" aria-describedby="inputGroup10">
                                                <option value="1">-Seleccione-</option>
                                                <option value="1" class="bg-warning">Corrección</option>
                                                <option value="2" class="bg-danger text-white">Error</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12-col-md-12 col-lg-6"></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12-col-md-12 col-lg-12">
                                    <div class="form-group">
                                        <label for="txa-nombre-iniciativa">Observaciones:<span class="text-danger font-weight-bold">&nbsp;(*)&nbsp;</span></label>
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text" id="inputGroup4"><i class="fas fa-comment-alt"></i></span></div>
                                            <textarea class="form-control" id="txa-observacion-detalle" aria-describedby="inputGroup4" cols="30" rows="5" maxlength="250" required placeholder="Ingrese la descripción de su observación"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12" id="modalRevision">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer justify-content-center" id="modalObservacionBoton">
                            <a class="btn btn-primary" href="#" onclick="fn_observacionAdminDetalleIndicador();">Si, enviar<i class="fas fa-paper-plane ml-1"></i></a>
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                        </div>
                        <div class="modal-footer justify-content-center" id="pieCorrectoObservacion">
                            <!-- add 04-02-2020 -->
                            <button class="btn btn-dark" type="button" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="modal-acumulado" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal modal-dialog-centered" role="document">
                    <div class="modal-content">

                        <div class="modal-body medidas-modal">
                            <div class="row">

                                <div class="col-12">
                                    <h3 class="text-center">Verificación de acumulados</h3>
                                    <p class="text-center">Encuentre el total acumulado por período deslizándose hacia el lado derecho</p>
                                </div>
                                <div class="col-12">
                                    <div class="table-responsive tabla-principal" data-order="tbl-1">
                                        <table class="table table-hover">
                                            <thead id="cabecera-acumulado">
                                            </thead>
                                            <tbody id="cuerpo-acumulado"></tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="modal-footer d-flex justify-content-center">
                            <button class="btn btn-dark" type="button" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="modal-acumulado-total" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                    <div class="modal-content">

                        <div class="modal-body medidas-modal">
                            <div class="row">
                                <div class="col-12">
                                    <h3 class="text-center">Verificación de acumulados</h3>
                                    <p class="text-center">Encuentre el total acumulado por período deslizándose hacia el lado derecho</p>
                                </div>
                                <div class="col-12">
                                    <div class="table-responsive tabla-principal" data-order="tbl-1">
                                        <table class="table table-hover">
                                            <thead id="cabecera-acumulado-total">
                                                <tr class="bg-primary text-white">
                                                    <th class="text-center grupo-columna-03"><span>N°<small></small></span></th>
                                                    <th class="text-center grupo-columna-03"><span>2010&nbsp;<small>tCO<sub>2</sub>eq</small></span></th>
                                                    <th class="text-center grupo-columna-03"><span>2011&nbsp;<small>tCO<sub>2</sub>eq</small></span></th>
                                                    <th class="text-center grupo-columna-03"><span>2012&nbsp;<small>tCO<sub>2</sub>eq</small></span></th>
                                                    <th class="text-center grupo-columna-03"><span>2013&nbsp;<small>tCO<sub>2</sub>eq</small></span></th>
                                                    <th class="text-center grupo-columna-03"><span>2014&nbsp;<small>tCO<sub>2</sub>eq</small></span></th>
                                                    <th class="text-center grupo-columna-03"><span>2015&nbsp;<small>tCO<sub>2</sub>eq</small></span></th>
                                                    <th class="text-center grupo-columna-03"><span>2016&nbsp;<small>tCO<sub>2</sub>eq</small></span></th>
                                                    <th class="text-center grupo-columna-03"><span>2017&nbsp;<small>tCO<sub>2</sub>eq</small></span></th>
                                                    <th class="text-center grupo-columna-03"><span>2018&nbsp;<small>tCO<sub>2</sub>eq</small></span></th>
                                                    <th class="text-center grupo-columna-03"><span>2019&nbsp;<small>tCO<sub>2</sub>eq</small></span></th>
                                                    <th class="text-center grupo-columna-03"><span>2020&nbsp;<small>tCO<sub>2</sub>eq</small></span></th>
                                                    <th class="text-center grupo-columna-03"><span>2021&nbsp;<small>tCO<sub>2</sub>eq</small></span></th>
                                                    <th class="text-center grupo-columna-03"><span>2022&nbsp;<small>tCO<sub>2</sub>eq</small></span></th>
                                                    <th class="text-center grupo-columna-03"><span>2023&nbsp;<small>tCO<sub>2</sub>eq</small></span></th>
                                                    <th class="text-center grupo-columna-03"><span>2024&nbsp;<small>tCO<sub>2</sub>eq</small></span></th>
                                                    <th class="text-center grupo-columna-03"><span>2025&nbsp;<small>tCO<sub>2</sub>eq</small></span></th>
                                                    <th class="text-center grupo-columna-03"><span>2026&nbsp;<small>tCO<sub>2</sub>eq</small></span></th>
                                                    <th class="text-center grupo-columna-03"><span>2027&nbsp;<small>tCO<sub>2</sub>eq</small></span></th>
                                                    <th class="text-center grupo-columna-03"><span>2028&nbsp;<small>tCO<sub>2</sub>eq</small></span></th>
                                                    <th class="text-center grupo-columna-03"><span>2029&nbsp;<small>tCO<sub>2</sub>eq</small></span></th>
                                                    <th class="text-center grupo-columna-03"><span>2030&nbsp;<small>tCO<sub>2</sub>eq</small></span></th>
                                                </tr>
                                            </thead>
                                            <tbody id="cuerpo-acumulado-total"></tbody>
                                            <tfoot id="">
                                                <tr class="bg-primary text-white">
                                                    <th class="text-center grupo-columna-01"><span></span></th>
                                                    <th class="text-center grupo-columna-01"><span id="acum-2010">0.00</span></th>
                                                    <th class="text-center grupo-columna-01"><span id="acum-2011">0.00</span></th>
                                                    <th class="text-center grupo-columna-01"><span id="acum-2012">0.00</span></th>
                                                    <th class="text-center grupo-columna-01"><span id="acum-2013">0.00</span></th>
                                                    <th class="text-center grupo-columna-01"><span id="acum-2014">0.00</span></th>
                                                    <th class="text-center grupo-columna-01"><span id="acum-2015">0.00</span></th>
                                                    <th class="text-center grupo-columna-01"><span id="acum-2016">0.00</span></th>
                                                    <th class="text-center grupo-columna-01"><span id="acum-2017">0.00</span></th>
                                                    <th class="text-center grupo-columna-01"><span id="acum-2018">0.00</span></th>
                                                    <th class="text-center grupo-columna-01"><span id="acum-2019">0.00</span></th>
                                                    <th class="text-center grupo-columna-01"><span id="acum-2020">0.00</span></th>
                                                    <th class="text-center grupo-columna-01"><span id="acum-2021">0.00</span></th>
                                                    <th class="text-center grupo-columna-01"><span id="acum-2022">0.00</span></th>
                                                    <th class="text-center grupo-columna-01"><span id="acum-2023">0.00</span></th>
                                                    <th class="text-center grupo-columna-01"><span id="acum-2024">0.00</span></th>
                                                    <th class="text-center grupo-columna-01"><span id="acum-2025">0.00</span></th>
                                                    <th class="text-center grupo-columna-01"><span id="acum-2026">0.00</span></th>
                                                    <th class="text-center grupo-columna-01"><span id="acum-2027">0.00</span></th>
                                                    <th class="text-center grupo-columna-01"><span id="acum-2028">0.00</span></th>
                                                    <th class="text-center grupo-columna-01"><span id="acum-2029">0.00</span></th>
                                                    <th class="text-center grupo-columna-01"><span id="acum-2030">0.00</span></th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer d-flex justify-content-center">
                            <button class="btn btn-dark" type="button" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="modal-carga" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body medidas-modal">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="swal2-icon swal2-question swal2-icon-show" style="display: flex;">
                            <div class="swal2-icon-content"><i class="fas fa-exclamation-circle"></i></div>
                        </div>
                        <h3 class="text-center">Carga de información</h3>
                    </div>

                    <div id="carga-preload-ini" class="mb-3 align-items-center text-center col-sm-12 col-md-12 col-lg-12"></div>
                    <div class="col-sm-12 col-md-12 col-lg-12 d-none" id="titulo-carga-ini">
                        <h6 class="text-center">Se está realizando la carga de los detalles y sus acumulados, por favor esperar unos minutos<br></h6>
                    </div>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
            </div>
        </div>
    </div>
</div>
<div id="block-page-carga"></div>

<script src="~/js/script.js"></script>
<script src="~/js/MRV.js"></script>
<script src="~/js/DetalleIndicador.js"></script>
