@model MRVMinem.Models.ListaObjeto
@{
    ViewBag.Title = "Ver Mas Iniciativa y Detalle";
    Layout = "~/Views/Shared/_SesionLayout.cshtml";
    int detalle = Model.detalle == 1 ? 1 : 0;
}
@Html.HiddenFor(m => m.iniciativa_mit.ID_INICIATIVA)

<div class="container-fluid map-root" id="historia">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Gestion")">Inicio</a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("AccionMitigacion","Gestion")">Listado de Acciones de Mitigación</a></li>
                <li class="breadcrumb-item active" aria-current="page">Ver más sobre la Acción de Mitigación y Detalles de Indicadores</li>
            </ol>
        </nav>
    </div>
</div>


<div class="container-fluid my-4" id="cuerpo">
    <div class="row m-0">
        <div class="col-12 cuerpo-interior">
            <div class="container py-4">
                <div class="row">
                    <div class="col-md-12 col-lg-6 pt-4">
                        <div class="h4">Ver detalle sobre la Acción de Mitigación y Detalles de Indicadores&nbsp;</div>
                    </div>
                    <div class="col-md-12 col-lg-6 pt-4">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-6">&nbsp;</div>
                            <div class="col-lg-6"><a class="btn btn-dark px-5 w-100 text-center mb-3" href="#" onclick="fn_regresarListaIniciativa();" data-toggle="tooltip" data-placement="top" title="Has click aquí para retroceder al paso anterior"><i class="fas fa-hand-point-left pr-1"></i>Retroceder</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid py-4 px-0 bg-white">
                <div class="container py-5">
                    <div class="row">
                        <div class="col-12">
                            <div class="h5 pb-5 text-primary">@Model.medida.NOMBRE_MEDMIT&nbsp;</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12-col-md-12 col-lg-6">
                            <div class="form-group">
                                <label class="font-weight-bold" for="txt-categoria">Categoría IPCC</label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" id="inputGroup1"><i class="fas fa-landmark"></i></span></div>
                                    <input class="form-control-plaintext" type="text" id="txt-categoria" value="@Model.medida.IPSC_MEDMIT" aria-describedby="inputGroup1" readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="font-weight-bold" for="txa-objetivo">Objetivo</label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" id="inputGroup2"><i class="fas fa-landmark"></i></span></div>
                                    <textarea class="form-control-plaintext" id="txa-objetivo" aria-describedby="inputGroup2" cols="30" rows="5" readonly>@Model.medida.OBJETIVO_MEDMIT</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12-col-md-12 col-lg-6">
                            <div class="form-group">
                                <label class="font-weight-bold" for="txa-descripcion">Descripción</label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" id="inputGroup3"><i class="fas fa-landmark"></i></span></div>
                                    <textarea class="form-control-plaintext" id="txa-descripcion" aria-describedby="inputGroup3" cols="30" rows="8" readonly>@Model.medida.DESCRIPCION_MEDMIT</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="h5 py-5 text-primary">Datos principales</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12-col-md-12 col-lg-12 d-none">
                            <div class="form-group">
                                <label class="font-weight-bold" for="txt-tipo-iniciativa">Tipo de acción de mitigación</label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" id="inputGroup9"><i class="fas fa-tachometer-alt"></i></span></div>
                                    <input class="form-control-plaintext" id="txt-tipo-iniciativa" aria-describedby="inputGroup9" value="@Model.iniciativa_mit.TIPO_INICIATIVA" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12-col-md-12 col-lg-12">
                            <div class="form-group">
                                <label class="font-weight-bold" for="txa-nombre-iniciativa">Nombre de la acción de mitigación<span class="text-danger font-weight-bold">&nbsp;</span></label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" id="inputGroup4"><i class="fas fa-tachometer-alt"></i></span></div>
                                    <textarea class="form-control-plaintext" id="txa-nombre-iniciativa" aria-describedby="inputGroup4" cols="30" rows="5" readonly placeholder="Ingrese un nombre para su acción de mitigación">@Model.iniciativa_mit.NOMBRE_INICIATIVA</textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="font-weight-bold" for="txa-descripcion-medida">Descripción de la acción de mitigación<span class="text-danger font-weight-bold">&nbsp;</span></label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" id="inputGroup5"><i class="fas fa-tachometer-alt"></i></span></div>
                                    <textarea class="form-control-plaintext" id="txa-descripcion-medida" aria-describedby="inputGroup5" cols="30" rows="5" readonly placeholder="Ingrese una descripción para su acción de mitigación">@Model.iniciativa_mit.DESC_INICIATIVA</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12-col-md-12 col-lg-6">
                            <div class="form-group">
                                <label class="font-weight-bold" for="txa-nombre-responsable">Responsable del registro</label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" id="inputGroup6"><i class="fas fa-landmark"></i></span></div>
                                    <input class="form-control-plaintext" id="txt-nombre-responsable" aria-describedby="inputGroup6" value="@Model.iniciativa_mit.NOMBRES" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12-col-md-12 col-lg-6">
                            <div class="form-group">
                                <label class="font-weight-bold" for="txt-nombre-institucion">Nombre de la institución</label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" id="inputGroup7"><i class="fas fa-landmark"></i></span></div>
                                    <input class="form-control-plaintext" id="txt-nombre-institucion" aria-describedby="inputGroup7" value="@Model.iniciativa_mit.INSTITUCION" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12-col-md-12 col-lg-6">
                            <div class="form-group">
                                <label class="font-weight-bold" for="txt-correo-electronico">Correo electrónico</label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" id="inputGroup8"><i class="fas fa-landmark"></i></span></div>
                                    <input class="form-control-plaintext" id="txt-correo-electronico" aria-describedby="inputGroup8" value="@Model.iniciativa_mit.CORREO" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12-col-md-12 col-lg-6">
                            <div class="form-group">
                                <label class="font-weight-bold" for="txt-direccion">Dirección</label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" id="inputGroup9"><i class="fas fa-landmark"></i></span></div>
                                    <input class="form-control-plaintext" id="txt-direccion" aria-describedby="inputGroup9" value="@Model.iniciativa_mit.DIRECCION" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="h5 py-5 text-primary">Datos generales</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12-col-md-12 col-lg-6">
                            <div class="form-group">
                                <label class="font-weight-bold" for="txt-sector-insi¿titucion">Sector de la institución</label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" id="inputGroup9"><i class="fas fa-landmark"></i></span></div>
                                    <input class="form-control-plaintext" id="txt-sector-institucion" aria-describedby="inputGroup9" value="@Model.iniciativa_mit.SECTOR" readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="font-weight-bold" for="txa-ubicacion">Ubicación<span class="text-danger font-weight-bold">&nbsp;</span></label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" id="inputGroup9"><i class="fas fa-landmark"></i></span></div>
                                    <textarea class="form-control-plaintext" id="txa-ubicacion" aria-describedby="inputGroup9" cols="30" rows="8" readonly placeholder="Ingrese una descripción para su acción de mitigación">
                                        @*Lima&nbsp;
                                            Arequipa&nbsp;
                                            Tacna*@
                                        @foreach (var item in Model.listaUbicacion)
                                        {
                                            @item.DESCRIPCION <text>&nbsp;</text>
                                        }
                                    </textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12-col-md-12 col-lg-6">
                            <div class="form-group">
                                <label class="font-weight-bold" for="txt-moneda">Moneda<span class="text-danger font-weight-bold">&nbsp;</span></label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" id="inputGroup10"><i class="far fa-money-bill-alt"></i></span></div>
                                    @if (Model.iniciativa_mit.MONEDA == null)
                                    {
                                        <input class="form-control-plaintext" type="text" id="txt-moneda" aria-describedby="inputGroup10" value="------" readonly>
                                    }
                                    else
                                    {
                                        <input class="form-control-plaintext" type="text" id="txt-moneda" aria-describedby="inputGroup10" value="@Model.iniciativa_mit.MONEDA" readonly>
                                    }
                                    @*<input class="form-control-plaintext" type="text" id="txt-moneda" aria-describedby="inputGroup10" value="@Model.iniciativa_mit.MONEDA" readonly>*@
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="font-weight-bold" for="txt-monto-inversion">Monto de inversión<span class="text-danger font-weight-bold">&nbsp;</span></label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" id="inputGroup11"><i class="fas fa-wallet"></i></span></div>
                                    @if (Model.iniciativa_mit.INVERSION_INICIATIVA == 0)
                                    {
                                        <input class="form-control-plaintext" type="text" id="txt-monto-inversion" aria-describedby="inputGroup11" value="------" readonly>
                                    }
                                    else
                                    {
                                        <input class="form-control-plaintext" type="text" id="txt-monto-inversion" aria-describedby="inputGroup11" value="@Model.iniciativa_mit.INVERSION_INICIATIVA" readonly>
                                    }
                                    @*<input class="form-control-plaintext" type="text" id="txt-monto-inversion" aria-describedby="inputGroup11" value="@Model.iniciativa_mit.INVERSION_INICIATIVA" readonly>*@
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="font-weight-bold" for="txt-fecha-inicio">Fecha de inicio de operaciones<span class="text-danger font-weight-bold">&nbsp;</span></label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" id="inputGroup12"><i class="fas fa-calendar-alt"></i></span></div>
                                    <input class="form-control-plaintext" type="text" id="txt-fecha-inicio" aria-describedby="inputGroup12" value="@Model.iniciativa_mit.FECHA" readonly>
                                </div>
                            </div>
                            @if (Model.iniciativa_mit.FECHA_FIN == "01/01/0001")
                            {
                                @*<input class="form-control-plaintext" type="text" id="txt-fecha-fin" aria-describedby="inputGroup12" value="" readonly>*@
                            }
                            else
                            {
                                <div class="form-group">
                                    <label class="font-weight-bold" for="txt-fecha-fin">Fecha de finalización<span class="text-danger font-weight-bold">&nbsp;</span></label>
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="input-group-text" id="inputGroup12"><i class="fas fa-calendar-alt"></i></span></div>
                                        <input class="form-control-plaintext" type="text" id="txt-fecha-fin" aria-describedby="inputGroup12" value="@Model.iniciativa_mit.FECHA_FIN" readonly>

                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    @*<div class="row">
                        <div class="col-12">
                            <div class="h5 py-5 text-primary">Indicadores</div>
                        </div>
                    </div>*@
                    @*<div class="row">
                        <div class="col-sm-12-col-md-12 col-lg-6">
                            <div class="form-group">
                                <label class="font-weight-bold" for="mlt-energetico">Energético asociado<span class="text-danger font-weight-bold">&nbsp;</span></label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" id="inputGroup9"><i class="fas fa-bolt"></i></span></div>
                                    <textarea class="form-control-plaintext" id="mlt-energetico" aria-describedby="inputGroup9" cols="30" rows="5" readonly placeholder="Ingrese una descripción para su iniciativa">
                                        @foreach (var item in Model.listaEnergetico)
                                        {
                                            @item.DESCRIPCION <text>&nbsp;</text>
                                        }
                                    </textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12-col-md-12 col-lg-6">
                            <div class="form-group">
                                <label class="font-weight-bold" for="mlt-gei">Gases de efecto invernadero<span class="text-danger font-weight-bold">&nbsp;</span></label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" id="inputGroup9"><i class="fas fa-bolt"></i></span></div>
                                    <textarea class="form-control-plaintext" id="mlt-gei" aria-describedby="inputGroup9" cols="30" rows="5" readonly placeholder="Ingrese una descripción para su iniciativa">
                                        @foreach (var item in Model.listaGei)
                                        {
                                            @item.DESCRIPCION <text>&nbsp;</text>
                                        }
                                    </textarea>
                                </div>
                            </div>
                        </div>
                    </div>*@
                </div>
                <div class="container">
                    <div class="dropdown-divider my-5"></div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-6">&nbsp;</div>
                        <div class="col-sm-12 col-md-12 col-lg-6 text-right">
                            <div class="row justify-content-end">
                                <div class="col-lg-6">&nbsp;</div>                                
                                <div class="col-lg-6"><a class="btn btn-dark px-5 w-100 text-center mb-3" href="#" onclick="fn_regresarListaIniciativa();" data-toggle="tooltip" data-placement="top" title="Has click aquí para retroceder al paso anterior"><i class="fas fa-hand-point-left pr-1"></i>Retroceder</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/script.js"></script>
<script src="~/js/MRV.js"></script>
<script type="text/javascript"> var sindetalle = @detalle;  </script>
<script src="~/js/VerMas.js"></script>