<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MRV Plataforma del Sector Energía | Inicio</title>
    <meta name="description" content="MRV Plataforma del Sector Energía">
    <link rel="apple-touch-icon" sizes="180x180" href="~/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="~/images/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="~/images/favicon/favicon-16x16.png" sizes="16x16">
    <!--link(rel='manifest' href='images/favicon/manifest.json')-->
    <link rel="mask-icon" href="~/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="~/images/favicon/favicon.ico">
    <meta name="msapplication-config" content="images/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="stylesheet" href="~/css/style.css">
    @*<script src="~/js/script.js"></script>
    <script src="~/js/jquery.form.js"></script>
    <script src="~/js/MRV.js"></script>*@
    <script type="text/javascript">
        var baseUrl = '@Url.Content("~")';
        var ws;

        //$(document).ready(function () {
            //fn_cargarOpciones();
        //});

        function salirSesion(){
            location.href = baseUrl + "Home/Login";
        }


        function fn_mantenimiento() {
            location.href = baseUrl + "Gestion/MantenimientoTablas";
        }

        function fn_Clave() {
            location.href = baseUrl + "Gestion/CambiarClave";
        }

        function fn_regresarListaIniciativa() {
            location.href = baseUrl + "Gestion/AccionMitigacion";
        }

    </script>
</head>
<body>
    <div class="container-fluid menu-nav bg-sutil fixed-top" id="cabecera">
        <div class="container menu-main linea">
            <header class="navbar navbar-expand flex-column flex-md-row bd-navbar p-0">
                <a class="navbar-brand mr-md-auto animated fadeIn mx-0" href="@Url.Action("Index", "Gestion")"><img src="~/images/logo_mrv_new_negro.svg" height="36"></a>
                <ul class="navbar-nav ml-md-auto">
                    <li class="nav-item align-self-center"><a class="nav-link animated fadeIn p-1" href="https://www.gob.pe/minem" target="_blank"><img src="~/images/logo-minem.jpg" height="40"></a></li>
                    <li class="nav-item align-self-center"><a class="nav-link animated fadeIn p-1" href="https://www.thegef.org/" target="_blank"><img src="~/images/logo_gef.svg" height="45"></a></li>
                    <li class="nav-item align-self-center"><a class="nav-link animated fadeIn p-1 pr-0" href="https://www.pe.undp.org/" target="_blank"><img src="~/images/logo_pnud.svg" height="51"></a></li>
                </ul>
            </header>
        </div>
        <div class="container menu-sub">
            <nav class="navbar navbar-dark navbar-expand-lg p-0 py-1">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item"><a class="nav-link text-dark px-2" href="@Url.Action("Index", "Gestion")"><i class="fas fa-house-damage"></i><span class="d-none d-xs-block d-sm-block d-lg-none pl-1 mostrar-inicio">Inicio</span></a></li>
                        <li class="nav-item"><a class="nav-link nav-active text-dark px-2" href="@Url.Action("AccionMitigacion", "Gestion", new { IdRol = "2" }, null)"><i class="fas fa-solar-panel pr-1"></i>Iniciativas de Mitigación</a></li>
                        <li class="nav-item"><a class="nav-link text-dark px-2" href="@Url.Action("Reportes", "Reportes", null, null)"><i class="fas fa-file-invoice pr-1"></i>Reportes</a></li>
                        <li class="nav-item"><a class="nav-link text-dark px-2" href="#" @*onclick="probar();"*@><i class="fas fa-chart-pie pr-1"></i>Resultados</a></li>
                    </ul><a class="btn text-dark px-2 mr-2 notificaciones" href="@Url.Action("Notificacion", "Gestion")" rol="button"><i class="far fa-bell">&nbsp;</i><span class="badge badge-light" id="numNotificacion">0</span><span class="d-none d-xs-block d-sm-block d-lg-none pl-1 mostrar-inicio">Notificaciones</span></a>
                    <div class="btn-group w-sm-100">
                        <a class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tabindex="0" id="nombreUsuario"><i class="fas fa-user-tie pr-1"></i>@Session["nombres"]</a>
                        <div class="dropdown-menu dropdown-menu-right w-sm-100" id="usuario-rol">
                            <span class="dropdown-item font-weight-bold">Rol: &nbsp;<span class="badge badge-actor-@Session["colorRol"]">@Session["nombreRol"]</span></span>
                            @if (Convert.ToInt32(Session["rol"]) == 3)
                            {
                                <a class="dropdown-item" href="@Url.Action("MantenimientoTablas","Gestion")"><i class="fas fa-cogs pr-1"></i>Mantenimiento de tablas</a>
                            }

                            @*<a class="dropdown-item" href="./mantenimiento-de-tablas.html"><i class="fas fa-cogs pr-1"></i>Mantenimiento de tablas</a>*@
                            <a class="dropdown-item" href="@Url.Action("CambiarClave","Gestion")"><i class="fas fa-key pr-1"></i>Cambiar contraseña</a>
                            <div class="dropdown-divider"></div><a class="dropdown-item" href="@Url.Action("Logout","Gestion")"><i class="fas fa-sign-out-alt pr-1"></i>Salir del sistema</a>
</div>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <div class="flecha-top"><i class="fas fa-angle-double-right fa-2x text-dark btn-slider-bottom"></i></div>
    <div>
        @RenderBody()
    </div>

    <div class="container-fluid foot d-flex flex-row justify-content-center align-items-center" id="pie">
        <footer class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 text-white">
                            <div class="lead font-weight-bold">Enlaces</div>
                            <ul class="list-unstyled">
                                <li class="py-1"><a class="text-white" href="https://www.gob.pe/minem" target="_blank"><i class="fas fa-landmark mr-2"></i>MINEM</a></li>
                                <li class="py-1"><a class="text-white" href="http://namasenergia.minem.gob.pe/" target="_blank"><i class="fas fa-landmark mr-2"></i>NAMA's</a></li>
                                <li class="py-1"><a class="text-white" href="#" target="_blank"><i class="fas fa-sitemap mr-2"></i>Mapa del Sitio</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-12 col-md-6 text-white">
                            <div class="lead font-weight-bold">Más información</div>
                            <ul class="list-unstyled">
                                <li class="py-1"><a class="text-white" href="~/Documentos/Manual_Usuario_MRV.pdf" download><i class="fas fa-file-pdf mr-2"></i>Manual de Usuario</a></li>
                                <li class="py-1"><a class="text-white" href="@Url.Action("PreguntasFrecuentes","Gestion")"><i class="fas fa-question-circle mr-2"></i>Preguntas frecuentes</a></li>
                                <li class="py-1"><a class="text-white" href="@Url.Action("TerminosCondiciones","Gestion")"><i class="fab fa-readme mr-2"></i>Términos y Condiciones</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-12 text-white">
                            <div class="lead font-weight-bold">Contáctenos</div>
                            <ul class="list-unstyled mr-0">
                                <li class="py-1"><a class="text-white" href="tel: +5114111100"><i class="fas fa-phone-alt mr-2"></i>Teléfono: (+511) 411-1100</a></li>
                                <li class="py-1"><a class="text-white" href="mailto:webmaster@minem.gob.pe?Subject=Contacto%20desde%20la%20web%20de%20MRV%20Plataforma%20del%20Sector%20Energético"><i class="far fa-envelope mr-2"></i>webmaster@minem.gob.pe</a></li>
                                <li class="py-1"><i class="fas fa-university mr-2"></i>Dirección General de Eficiencia Energética</li>
                                <li class="py-1"><i class="fas fa-map-marker-alt mr-2"></i>Av. Las Artes Sur 260. San Borja. Lima. Perú</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <!--.navbar.flex-md-row.justify-content-start
                    a.nav-link.p-1(href="https://www.gob.pe/minem", target="_blank")
                      img(src="./images/logo-minem-blanco.png", height="70")
                    a.nav-link.p-1(href="https://www.thegef.org/", target="_blank")
                      img(src="./images/logo-gef-blanco.png", height="90")
                    a.nav-link.p-1.pr-0(href="https://www.pe.undp.org/", target="_blank")
                      img(src="./images/logo-pnud-blanco.png", height="160")
                    -->
                    <div class="navbar flex-md-row justify-content-start"><a class="nav-link p-1" href="http://namasenergia.minem.gob.pe/" target="_blank"><img class="m-3" src="~/images/logo-nama-blanco.png" height="70"></a></div>
                    <div class="navbar flex-md-row justify-content-start"><img class="m-3" src="~/images/logo-blockchain-blanco.png" height="70"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="dropdown-divider"></div>
                </div>
                <div class="col-sm-12 col-md-12 text-right text-white"><small>&copy; MINEM | Todos los derechos reservados</small></div>
            </div>
        </footer>
    </div>
    @*<script src="~/js/script.js"></script>
    <script src="~/js/MRV.js"></script>*@
    @*<script src="~/js/script.js"></script>*@
    <!--<script src="~/js/jquery.form.js"></script>-->
    @*<script src="~/js/MRV.js"></script>*@
    <div id="Control" data-usuario="@Session["usuario"]" data-nombres="@Session["nombres"]" data-correo="@Session["correo"]" data-rol="@Session["rol"]" data-institucion="@Session["institucion"]" data-direccion="@Session["direccion"]" data-sector="@Session["sector"]" data-modal="0" data-iniciativa="0" data-mitigacion="0" data-revision="0" data-opcion1="@Session["opcion1"]" data-opcion2="@Session["opcion2"]" data-opcion3="@Session["opcion3"]" data-opcion4="@Session["opcion4"]" data-opcion5="@Session["opcion5"]" data-opcion6="@Session["opcion6"]" data-opcion7="@Session["opcion7"]" data-opcion8="@Session["opcion8"]" data-opcion9="@Session["opcion9"]"></div>
    @*<div id="Control" data-usuario="" data-nombres="" data-correo="" data-rol="" data-institucion="" data-direccion="" data-sector="" data-modal="0" data-iniciativa="0" data-mitigacion="0" data-revision="0" data-opcion1="" data-opcion2="" data-opcion3="" data-opcion4="" data-opcion5="" data-opcion6="" data-opcion7="" data-opcion8="" data-opcion9=""></div>*@
    <script type="text/javascript">
        function probar() {
            //alert('1:' + $("#Control").data("opcion1") + '- 2: ' + $("#Control").data("opcion2") + '-3: ' + $("#Control").data("opcion3") + '-4: ' + $("#Control").data("opcion4") + '-5: ' + $("#Control").data("opcion5") + '-6: ' + $("#Control").data("opcion6") + '-7: ' + $("#Control").data("opcion7") + '-8: ' + $("#Control").data("opcion8") + ' - 9:' + $("#Control").data("opcion9") + ' RESP' + $("#Control").data("nombres") + ' ' + $("#Control").data("correo") + ' ' + $("#Control").data("institucion") + ' ' + $("#Control").data("sector") + ' ' + $("#Control").data("direccion") + ' ' + $("#Control").data("iniciativa") + ' medido:' + $("#Control").data("mitigacion") + ' rol:' + $("#Control").data("rol") + ' usu:' + $("#Control").data("usuario"));
        }

        function fn_actualizaCampana() {
            var item = {
                //ID_ROL: $("#Control").data("rol"),
                //ID_USUARIO: $("#Control").data("usuario")
                ID_ROL: '@Session["rol"]',
                ID_USUARIO: '@Session["usuario"]'
            }
            url = baseUrl + "Gestion/ConsultaNotificaciones";
            var respuesta = MRV.Ajax(url, item, false);
            if (respuesta.success) {
                $("#numNotificacion").html(respuesta.extra);
            }
        }

        function enLinea() {
            //ws = new WebSocket("ws://192.168.43.167:9002");
            //ws = new WebSocket("ws://10.0.0.103:9002");
            ws = new WebSocket("ws://"+'@Session["socket"]');
            ws.onopen = function () {
                console.log("Conectado");
            }
            ws.onclose = function (event) {
                console.log("Desconectado por: " + event.reason);
            }
            ws.onmessage = function (event) {
                var data = event.data;
                if (data != "") {
                    console.log("Campana Actualizada");
                    fn_actualizaCampana();
                }
            }
        }
    
    </script>
</body>
</html>