@model MRVMinem.Models.MvParametro

@{
    ViewBag.Title = "Plazo";
    Layout = "~/Views/Shared/_SesionLayout.cshtml";
}

@{
    var fila = 0;
    var total_reg = 0;
    var total_pag = 0;
    var inicio_reg = 0;
    var fin_reg = 0;
}

<div class="container-fluid map-root" id="historia">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Gestion")">Inicio</a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("MantenimientoTablas","Gestion")">Mantenimiento de Tablas</a></li>
                <li class="breadcrumb-item active" aria-current="page">Mantenimiento de Parámetros</li>
            </ol>
        </nav>
    </div>
</div>
<div class="container-fluid my-4" id="cuerpo">
    <div class="row m-0">
        <div class="col-12 cuerpo-interior">
            <div class="container py-4">
                <div class="row">
                    <div class="col-md-12 col-lg-6 pt-4">
                        <div class="h4">
                            Mantenimiento de Parámetros&nbsp;
                            <!--i.fas.fa-question-circle.ayuda-tooltip(data-toggle="tooltip", data-placement="right", title="Texto de ayuda que describe el funcionamiento general del módulo [...]")--><br><small class="text-muted">Utilice la búsqueda para encontrar el registro indicado para el mantenimiento</small>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6 pt-4">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-6">&nbsp;</div>
                            <div class="col-sm-12 col-md-6 col-lg-6"><span data-toggle="modal" data-target="#modal-medida-de-mitigacion"><a class="agregar-iniciativa" href="#" onclick="fn_cambiarAccion();" data-toggle="tooltip" data-placement="top" title="Registre los parámetros que empleará en sus factores"><i class="fas fa-plus px-1"></i>Agregar parámetro</a></span></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-6 pt-4">
                        <div>
                            <div class="form-group">
                                <label for="txt-buscar">Buscar&nbsp;<i class="fas fa-question-circle ayuda-tooltip" data-toggle="tooltip" data-placement="right" title="Utilice la búsqueda ingresando una descripción para ubicar sus registros"></i></label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" id="inputGroup1"><i class="fas fa-search"></i></span></div>
                                    <input class="form-control" type="text" id="txt-buscar" placeholder="Ingrese la descripción de su búsqueda" aria-describedby="inputGroup1" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <button class="btn btn-success w-100 mb-2" onclick="exportarMantenimiento();"><i class="fas fa-file-download px-1"></i>Descargar Excel</button><div id="divExportar"></div>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-6" id="buscar-usuarios" data-buscar="0" data-campo="">
                                    <button class="btn btn-info w-100 mb-2" @*type="submit"*@ onclick="fn_buscar();"><i class="fas fa-search px-1"></i>Buscar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6 pt-4">
                        <!--&nbsp;-->
                    </div>
                </div>
            </div>
            <div class="container-fluid py-4">
                <div class="h5">Bandeja de Parámetros</div>
                <div class="dropdown-divider"></div>
                <div class="row">
                    <div class="col-12 px-0">
                        <div class="table-responsive tabla-principal tabla-detalle-indicadores">
                            <table class="table table-hover">
                                <thead>
                                    <tr class="bg-primary text-white">
                                        <th class="text-center" scope="col" width="5%"><span class="miColumna">N°&nbsp;<i class="fas fa-sort" style="color: lightgray" id="ID_PARAMETRO"></i></span></th>
                                        <th scope="col" width="12%"><span class="miColumna">Parámetro &nbsp;<i class="fas fa-sort" style="color: lightgray" id="NOMBRE_PARAMETRO"></i></span></th>
                                        <th scope="col" width="12%"><span class="miColumna">Tipo de control &nbsp;<i class="fas fa-sort" style="color: lightgray" id="ID_TIPO_CONTROL"></i></span></th>
                                        <th class="text-center" scope="col" width="65%"><span>Valor(es) &nbsp;<i class="fas fa-sort"></i></span></th>
                                        <th class="text-center" scope="col" width="5%">Más</th>
                                    </tr>
                                </thead>
                                <tbody id="parametro-detalle" data-accion="0">
                                    @if (Model.listaParametro != null)
                                    {
                                        foreach (var item in Model.listaParametro)
                                        {
                                            fila += 1;
                                            <tr id="detalles-tr-@fila">
                                                <th class="text-center" data-encabezado="Número" scope="row">@item.ID_PARAMETRO</th>
                                                <td data-encabezado="Medida de mitigación">@item.NOMBRE_PARAMETRO</td>
                                                <td data-encabezado="Medida de mitigación">@item.TIPO_CONTROL</td>
                                                <td data-encabezado="Estructura de columnas">
                                                        @if (item.ID_TIPO_CONTROL == 1)
                                                        {
                                                            <div class="form-control">
                                                                <div class="list-group sortable-list m-0">
                                                                    @foreach (var itemD in item.listaDetalle)
                                                                    {
                                                                        <div class="p-1 text-center border-right">
                                                                            <div class="h6 span badge badge-info w-100">@itemD.NOMBRE_DETALLE</div>
                                                                        </div>
                                                                    }
                                                                </div>
                                                            </div>
                                                        }   
                                                </td>
                                                <td class="text-center text-xs-right" data-encabezado="Acciones">
                                                    <div class="btn-group">
                                                        <div class="acciones fase-01 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></div>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a class="dropdown-item" href="#" onclick="fn_seleccionarParametro(@item.ID_PARAMETRO)" data-toggle="modal" data-target="#modal-medida-de-mitigacion">
                                                                <i class="fas fa-edit"></i>&nbsp;
                                                                Editar
                                                            </a><a class="dropdown-item" href="#" onclick="fn_Seleccionaregistro(@item.ID_PARAMETRO)" data-toggle="modal" data-target="#modal-confirmacion">
                                                                <i class="fas fa-trash"></i>&nbsp;
                                                                Eliminar
                                                            </a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            total_reg = @item.total_registros;
                                            total_pag = @item.total_paginas;
                                        }
                                    }



                                    @*<tr id="detalles-tr-1">
                                        <th class="text-center" data-encabezado="Número" scope="row">1</th>
                                        <td data-encabezado="Medida de mitigación">Tipo de Vehículos</td>
                                        <td data-encabezado="Medida de mitigación">Lista de selección</td>
                                        <td data-encabezado="Estructura de columnas">
                                            <div class="form-control">
                                                <div class="list-group sortable-list m-0">
                                                    <div class="p-1 text-center border-right">
                                                        <div class="h6 span badge badge-info w-100">AUTOMOVIL</div>
                                                    </div>
                                                    <div class="p-1 text-center border-right">
                                                        <div class="h6 span badge badge-info w-100">MOTO</div>
                                                    </div>
                                                    <div class="p-1 text-center border-right">
                                                        <div class="h6 span badge badge-info w-100">BUS DE 9m</div>
                                                    </div>
                                                    <div class="p-1 text-center border-right">
                                                        <div class="h6 span badge badge-info w-100">BUS DE 12m</div>
                                                    </div>
                                                    <div class="p-1 text-center border-right">
                                                        <div class="h6 span badge badge-info w-100">BUS DE 18m</div>
                                                    </div>
                                                    <div class="p-1 text-center border-right">
                                                        <div class="h6 span badge badge-info w-100">MOTOTAXI</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-center text-xs-right" data-encabezado="Acciones">
                                            <div class="btn-group">
                                                <div class="acciones fase-01 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></div>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#modal-medida-de-mitigacion">
                                                        <i class="fas fa-edit"></i>&nbsp;
                                                        Editar
                                                    </a><a class="dropdown-item" href="#" data-toggle="modal" data-target="#modal-confirmacion">
                                                        <i class="fas fa-trash"></i>&nbsp;
                                                        Eliminar
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>*@
                                </tbody>
                            </table>

                            @{
                                if (total_reg == 0)
                                {
                                    inicio_reg = 0;
                                    fin_reg = 0;
                                }
                                else if (total_reg <= 10)
                                {
                                    inicio_reg = 1;
                                    fin_reg = total_reg;
                                }
                                else if (total_reg > 10)
                                {
                                    inicio_reg = 1;
                                    fin_reg = 10;
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-6 mt-4">
                        <strong>Resultado:&nbsp;</strong><span id="resultado">@inicio_reg - @fin_reg</span> de <span id="total-registros">@total_reg</span> registros
                    </div>
                    <div class="col-sm-12 col-lg-6 text-right mt-4">
                        <strong>Registros por página&nbsp;</strong>
                        <select id="cantidad-registros" onchange="fn_CargaDatos()">
                            <option value="10" selected>10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>&nbsp;
                        <span id="pagina-actual">1</span> de <span id="total-paginas">@total_pag</span> páginas&nbsp;
                        <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                            <button class="btn btn-primary" id="primera-pagina" type="button" onclick="fn_avance_grilla(1)"><i class="fas fa-angle-double-left"></i></button>
                            <button class="btn btn-primary" id="anterior-pagina" type="button" onclick="fn_avance_grilla(2)"><i class="fas fa-angle-left"></i></button>
                            <input class="ir-pagina" id="pagina" type="number" value="1" min="1" onchange="fn_CargaDatos()">
                            <button class="btn btn-primary" id="siguiente-pagina" type="button" onclick="fn_avance_grilla(3)"><i class="fas fa-angle-right"></i></button>
                            <button class="btn btn-primary" id="ultima-pagina" type="button" onclick="fn_avance_grilla(4)"><i class="fas fa-angle-double-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="modal-medida-de-mitigacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="titulo-reg">Registro de Parámetro <br><small class="text-muted">Complete los siguientes campos para registrar los parámetros empleados en los registros de sus factores</small><small class="text-danger d-block mb-3"><strong>(*)&nbsp;</strong>Campos obligatorios</small></h5>
                            <h5 class="modal-title d-none" id="titulo-act">Actualización de Parámetro <br><small class="text-muted">Complete los siguientes campos para actualizar los parámetros empleados en los registros de sus factores</small><small class="text-danger d-block mb-3"><strong>(*)&nbsp;</strong>Campos obligatorios</small></h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body medidas-modal">
                            <form>
                                <div class="row" id="parametros-id" data-eliminar=""> <!-- add id data -->
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="txt-nombre-parametro">Nombre del Parámetro<span class="text-danger font-weight-bold">&nbsp;(*)&nbsp;<i class="fas fa-question-circle ayuda-tooltip" data-toggle="tooltip" data-placement="right" title="Ingrese el nombre de su parámetro"></i></span></label>
                                            <div class="input-group">
                                                <div class="input-group-prepend"><span class="input-group-text"><i class="far fa-list-alt">&nbsp;</i></span></div>
                                                <input class="form-control" type="text" id="txt-nombre-control" placeholder="Ingrese el nombre de su parámetro">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="cbo-tipo-control">Tipo de control<span class="text-danger font-weight-bold">&nbsp;(*)&nbsp;</span><i class="fas fa-question-circle ayuda-tooltip" data-toggle="tooltip" data-placement="right" title="Seleccione un tipo de control para sus parámetros"></i></label>
                                            <div class="input-group">
                                                <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-wrench"></i></span></div>
                                                <select class="form-control" id="cbo-tipo-control">
                                                    @*<option>-Seleccione-</option>*@
                                                    <option value="cbo">Listas de selección</option>
                                                    <option value="txt">Cajas de texto</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group tipo-caja d-none">
                                            <label for="cbo-tipo-control">Tipo de caja<span class="text-danger font-weight-bold">&nbsp;(*)&nbsp;</span><i class="fas fa-question-circle ayuda-tooltip" data-toggle="tooltip" data-placement="right" title="Seleccione uno de los tipos de caja"></i></label>
                                            <div class="input-group">
                                                <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-edit"></i></span></div>
                                                <select class="form-control" id="cbo-tipo-dato">
                                                    <option value="0">-Seleccione-</option>
                                                    <option value="1">Fecha</option>
                                                    <option value="2">Numérico</option>
                                                    <option value="3">Texto</option> 
                                                </select>
                                            </div>
                                        </div>
                                        @*<div class="form-group">
                                            <label for="mlt-gei">Tipo de control<span class="text-danger font-weight-bold">&nbsp;(*)&nbsp;</span><i class="fas fa-question-circle ayuda-tooltip" data-toggle="tooltip" data-placement="right" title="Seleccione uno de los controles asociados"></i></label>
                                            <div class="input-group">
                                                <div class="input-group-prepend"><span class="input-group-text" id="inputGroup9"><i class="fas fa-wrench"></i></span></div>
                                                <div class="form-control" style="height:74px; overflow-y: auto;">
                                                    <div class="col-auto my-1">
                                                        <div class="custom-control custom-radio mr-sm-2">
                                                            <input class="custom-control-input" type="radio" name="rad-controles" id="rad-controles-01" value="cbo" checked>
                                                            <label class="custom-control-label badge" for="rad-controles-01">Listas de selección &nbsp;<small class="d-inline-block">(Varias opciones)</small></label>
                                                        </div>
                                                    </div>
                                                    <div class="col-auto my-1">
                                                        <div class="custom-control custom-radio mr-sm-2">
                                                            <input class="custom-control-input" type="radio" name="rad-controles" id="rad-controles-02" value="txt">
                                                            <label class="custom-control-label badge" for="rad-controles-02">Cajas de texto &nbsp;<small class="d-inline-block">(Una opción)</small></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>*@
                                        @*<div class="form-group mlt-tipo-txt d-none">
                                            <label for="mlt-tipo-txt">Tipo de caja<span class="text-danger font-weight-bold">&nbsp;(*)&nbsp;</span><i class="fas fa-question-circle ayuda-tooltip" data-toggle="tooltip" data-placement="right" title="Seleccione uno de los tipos de caja"></i></label>
                                            <div class="input-group">
                                                <div class="input-group-prepend"><span class="input-group-text" id="inputGroup9"><i class="fas fa-wrench"></i></span></div>
                                                <div class="form-control" style="height:102px; overflow-y: auto;">
                                                    <div class="col-auto my-1">
                                                        <div class="custom-control custom-radio mr-sm-2">
                                                            <input class="custom-control-input" type="radio" name="rad-controles-tipo-caja" id="rad-controles-tipo-caja-01" value="cbo" checked>
                                                            <label class="custom-control-label badge" for="rad-controles-tipo-caja-01">Texto</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-auto my-1">
                                                        <div class="custom-control custom-radio mr-sm-2">
                                                            <input class="custom-control-input" type="radio" name="rad-controles-tipo-caja" id="rad-controles-tipo-caja-02" value="txt">
                                                            <label class="custom-control-label badge" for="rad-controles-tipo-caja-02">Numérico</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-auto my-1">
                                                        <div class="custom-control custom-radio mr-sm-2">
                                                            <input class="custom-control-input" type="radio" name="rad-controles-tipo-caja" id="rad-controles-tipo-caja-03" value="fch">
                                                            <label class="custom-control-label badge" for="rad-controles-tipo-caja-03">Fecha</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>*@
                                        @*<div class="form-group">
                                            <label for="txt-etiqueta">Descripción<span class="text-danger font-weight-bold">&nbsp;(*)&nbsp;<i class="fas fa-question-circle ayuda-tooltip" data-toggle="tooltip" data-placement="right" title="Ingrese la descripción de su parámetro"></i></span></label>
                                            <div class="input-group">
                                                <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-list-alt">&nbsp;</i></span></div>
                                                <input class="form-control" type="text" id="txt-etiqueta" placeholder="Ingrese su descripción">
                                            </div>
                                        </div>*@
                                        <!--.form-group
                                        label(for="txt-valor") Valor
                                          span.text-danger.font-weight-bold &nbsp;(*)&nbsp;
                                            i.fas.fa-question-circle.ayuda-tooltip(data-toggle="tooltip", data-placement="right", title="Ingrese el/los valor(es) para su parámetro")
                                        .input-group
                                          .input-group-prepend
                                            span.input-group-text
                                              i.fas.fa-list-alt &nbsp;
                                          input.form-control(type="text", id="txt-valor", placeholder="Ingrese valor de su parámetro")
                                        -->
                                        <div class="form-group tipo-lista">
                                            <label for="txt-etiqueta">Nombre detalle parámetro<span class="text-danger font-weight-bold">&nbsp;<i class="fas fa-question-circle ayuda-tooltip" data-toggle="tooltip" data-placement="right" title="Ingrese la descripción de su parámetro"></i></span></label>
                                            <div class="input-group">
                                                <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-list-alt">&nbsp;</i></span></div>
                                                <input class="form-control" type="text" id="txt-etiqueta" placeholder="Ingrese su descripción">
                                            </div>
                                        </div>
                                        <div class="row tipo-lista">
                                            <div class="col-md-12 col-lg-6">&nbsp;</div>
                                            <div class="col-md-12 col-lg-6">
                                                <a class="btn btn-success w-100" id="add-lista-valor-1" href="javascript:void(0);" onclick="validarParametro();" data-toggle="tooltip" data-placement="left" title="Agregar valor a su parámetro"><i class="fas fa-plus px-1"></i>Agregar</a>
                                                <a class="btn btn-info w-100 d-none" id="edit-lista-valor-1" href="javascript:void(0);" onclick="actualizarParametro();" data-detalle="" data-evaluar="" data-toggle="tooltip" data-placement="left" title="Editar valor a su parámetro"><i class="fas fa-edit px-1"></i>Editar</a>
                                            </div>
                                        </div>
                                        <div class="form-group mt-2 tipo-lista">
                                            <label for="mlt-gei">Composición del parámetro<span class="text-danger font-weight-bold">&nbsp;(*)&nbsp;</span><i class="fas fa-question-circle ayuda-tooltip" data-toggle="tooltip" data-placement="right" title="Aquí se mostrará de que valores se compone su parámetro"></i></label>
                                            <div class="input-group">
                                                <div class="input-group-prepend"><span class="input-group-text" id="inputGroup9"><i class="fas fa-list-alt"></i></span></div>
                                                <div class="form-control">
                                                    <div id="filas-valor"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="mlt-gei">Atributos<span class="text-danger font-weight-bold">&nbsp;</span><i class="fas fa-question-circle ayuda-tooltip" data-toggle="tooltip" data-placement="right" title="Seleccione sus atributos asociados"></i></label>
                                            <div class="input-group">
                                                <div class="input-group-prepend"><span class="input-group-text" id="inputGroup9"><i class="fas fa-wrench"></i></span></div>
                                                <div class="form-control" style="height:74px; overflow-y: auto;">
                                                    <div class="col-auto my-1">
                                                        <div class="custom-control custom-checkbox mr-sm-2">
                                                            <input class="custom-control-input" type="checkbox" name="rad-editable" id="rad-editable" value="editable">
                                                            <label class="custom-control-label badge" for="rad-editable">Editable &nbsp;<small class="d-inline-block"></small></label>
                                                        </div>
                                                    </div>
                                                    <div class="col-auto my-1">
                                                        <div class="custom-control custom-checkbox mr-sm-2">
                                                            <input class="custom-control-input" type="checkbox" name="rad-verificable" id="rad-verificable" value="verificable">
                                                            <label class="custom-control-label badge" for="rad-verificable">Verificable &nbsp;<small class="d-inline-block"></small></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="txt-descripcion-parametro">Descripción del parámetro<span class="text-danger font-weight-bold">@*&nbsp;(*)*@&nbsp;<i class="fas fa-question-circle ayuda-tooltip" data-toggle="tooltip" data-placement="right" title="Ingrese una combinación de unidades"></i></span></label>
                                            <div class="input-group">
                                                <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-list-alt">&nbsp;</i></span></div>
                                                <input class="form-control" type="text" id="txt-descripcion-parametro" placeholder="Ingrese una descripción de su parámetro">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="txt-combinacion-unidades">Combinación de unidades<span class="text-danger font-weight-bold">@*&nbsp;(*)*@&nbsp;<i class="fas fa-question-circle ayuda-tooltip" data-toggle="tooltip" data-placement="right" title="Ingrese una combinación de unidades"></i></span></label>
                                            <div class="input-group">
                                                <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-list-alt">&nbsp;</i></span></div>
                                                <input class="form-control" type="text" id="txt-combinacion-unidades" placeholder="Ingrese una combinación de unidades">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="txt-leyenda-unidades">Leyenda tooltip de unidades<span class="text-danger font-weight-bold">@*&nbsp;(*)*@&nbsp;<i class="fas fa-question-circle ayuda-tooltip" data-toggle="tooltip" data-placement="right" title="Ingrese la leyenda tooltip de unidades"></i></span></label>
                                            <div class="input-group">
                                                <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-list-alt">&nbsp;</i></span></div>
                                                <input class="form-control" type="text" id="txt-leyenda-unidades" placeholder="Ingrese la leyenda tooltip de unidades">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="txt-descripcion-metodologia">Descripción de la metodología<span class="text-danger font-weight-bold">@*&nbsp;(*)*@&nbsp;<i class="fas fa-question-circle ayuda-tooltip" data-toggle="tooltip" data-placement="right" title="Ingrese una descripción de metodología"></i></span></label>
                                            <div class="input-group">
                                                <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-list-alt">&nbsp;</i></span></div>
                                                <input class="form-control" type="text" id="txt-descripcion-metodologia" placeholder="Ingrese una descripción de metodología">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="txt-procedimiento">Procedimiento<span class="text-danger font-weight-bold">@*&nbsp;(*)*@&nbsp;<i class="fas fa-question-circle ayuda-tooltip" data-toggle="tooltip" data-placement="right" title="Ingrese su procedimiento"></i></span></label>
                                            <div class="input-group">
                                                <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-list-alt">&nbsp;</i></span></div>
                                                <input class="form-control" type="text" id="txt-procedimiento" placeholder="Ingrese su procedimiento">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="txt-control-calidad">Control de calidad<span class="text-danger font-weight-bold">@*&nbsp;(*)*@&nbsp;<i class="fas fa-question-circle ayuda-tooltip" data-toggle="tooltip" data-placement="right" title="Ingrese su control de calidad"></i></span></label>
                                            <div class="input-group">
                                                <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-list-alt">&nbsp;</i></span></div>
                                                <input class="form-control" type="text" id="txt-control-calidad" placeholder="Ingrese su control de calidad">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="txt-aseguramiento-calidad">Aseguramiento de calidad<span class="text-danger font-weight-bold">@*&nbsp;(*)*@&nbsp;<i class="fas fa-question-circle ayuda-tooltip" data-toggle="tooltip" data-placement="right" title="Ingrese su aseguramiento de calidad"></i></span></label>
                                            <div class="input-group">
                                                <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-list-alt">&nbsp;</i></span></div>
                                                <input class="form-control" type="text" id="txt-aseguramiento-calidad" placeholder="Ingrese su aseguramiento de calidad">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="txt-proposito-parametro">Propósito de parámetro<span class="text-danger font-weight-bold">@*&nbsp;(*)*@&nbsp;<i class="fas fa-question-circle ayuda-tooltip" data-toggle="tooltip" data-placement="right" title="Ingrese el propósito de su parámetro"></i></span></label>
                                            <div class="input-group">
                                                <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-list-alt">&nbsp;</i></span></div>
                                                <input class="form-control" type="text" id="txt-proposito-parametro" placeholder="Ingrese su propósito de parámetro">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="txt-frecuencia">Frecuencia<span class="text-danger font-weight-bold">@*&nbsp;(*)*@&nbsp;<i class="fas fa-question-circle ayuda-tooltip" data-toggle="tooltip" data-placement="right" title="Ingrese su frecuencia"></i></span></label>
                                            <div class="input-group">
                                                <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-list-alt">&nbsp;</i></span></div>
                                                <input class="form-control" type="text" id="txt-frecuencia" placeholder="Ingrese su frecuencia">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <div id="msjError" hidden>
                                            <div class="alert alert-danger d-flex align-items-stretch" role="alert">
                                                <div class="alert-wrap mr-3">
                                                    <div class="sa">
                                                        <div class="sa-error">
                                                            <div class="sa-error-x">
                                                                <div class="sa-error-left"></div>
                                                                <div class="sa-error-right"></div>
                                                            </div>
                                                            <div class="sa-error-placeholder"></div>
                                                            <div class="sa-error-fix"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="alert-wrap">
                                                    <h6>Error de registro</h6>
                                                    <hr><small class="mb-0">Verifique que los datos sean correctamente ingresados, complete todos los campos obligatorios e intente otra vez.</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="msjCorrecto" hidden>
                                            <div class="alert alert-success d-flex align-items-stretch" role="alert">
                                                <div class="alert-wrap mr-3">
                                                    <div class="sa">
                                                        <div class="sa-success">
                                                            <div class="sa-success-tip"></div>
                                                            <div class="sa-success-long"></div>
                                                            <div class="sa-success-placeholder"></div>
                                                            <div class="sa-success-fix"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="alert-wrap">
                                                    <h6>Bien hecho</h6>
                                                    <hr><small class="mb-0">Los datos ingresados fueron guardados exitosamente, verifique su bandeja para comprobarlo. Utilice el buscador para encontrar su nuevo registro.</small>
                                                </div>
                                            </div>
                                        </div>  
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div id="idMantenimiento"></div>
                        <div class="modal-footer" id="pieModal">
                            <button class="btn btn-primary" type="button" onclick="guardarParametro();">Guardar</button>
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                        </div>
                        <div class="modal-footer" id="pieCorrecto" hidden>
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cerrar</button>
                        </div> 
                    </div>
                </div>
            </div>
            <div class="modal fade" id="modal-confirmacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Confirmar acción</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body medidas-modal">
                            <p>¿ Desea eliminar este registro ?</p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" type="button" onclick="fn_eliminarMantenimiento();">Si</button>
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Hidden("columna", "ID_PARAMETRO")
@Html.Hidden("orden", "ASC")

<script src="~/js/script.js"></script>
<script src="~/js/MRV.js"></script>
<script src="~/js/MantenimientoParametros.js"></script>
