<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MRV Plataforma del Sector Energía | Inicio</title>
    <meta name="description" content="MRV Plataforma del Sector Energía">
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="images/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="images/favicon/favicon-16x16.png" sizes="16x16">
    <!--link(rel='manifest' href='images/favicon/manifest.json')-->
    <link rel="mask-icon" href="images/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="images/favicon/favicon.ico">
    <meta name="msapplication-config" content="images/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <link rel="stylesheet" href="~/css/style.css">
    <script src="~/js/script.js"></script>
    <script src="~/js/MRV.js"></script>
    <script type="text/javascript">
        var baseUrl = '@Url.Content("~")';

        function fn_regresarListaIniciativa() {
            location.href = baseUrl + "Portal/AccionMitigacion";
        }
    </script>
</head>
<body>
    <div class="container-fluid menu-nav bg-sutil fixed-top" id="cabecera">
        <div class="container menu-main linea">
            <header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar p-0">
                <ul class="navbar-nav mr-md-auto">
                    <li class="nav-item align-self-center"><a class="nav-link animated fadeIn p-1" href="#" target="_blank"><img src="~/images/logo-minem.jpg" height="40"></a></li>
                    <li class="nav-item align-self-center"><a class="nav-link animated fadeIn p-1" href="#" target="_blank"><img src="~/images/logo_gef.svg" height="45"></a></li>
                    <li class="nav-item align-self-center"><a class="nav-link animated fadeIn p-1 pr-0" href="#" target="_blank"><img src="~/images/logo_pnud.svg" height="51"></a></li>
                </ul><a class="navbar-brand ml-md-auto animated fadeIn mx-0" href="#"><img src="~/images/logo_mrv_new_negro.svg" height="36"></a>
            </header>
        </div>
        <div class="container menu-sub">
            <nav class="navbar navbar-dark navbar-expand-lg p-0 py-1">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item"><a class="nav-link nav-active text-dark font-weight-bold px-2" href="@Url.Action("Index", "Home")"><i class="fas fa-house-damage"></i><span class="d-none d-xs-block d-sm-block d-lg-none pl-1 mostrar-inicio">Inicio</span></a></li>
                        <li class="nav-item"><a class="nav-link text-dark font-weight-bold px-2" href="@Url.Action("AccionMitigacion", "Portal")"><i class="fas fa-solar-panel pr-1"></i>Iniciativas de Mitigación</a></li>
                        <li class="nav-item"><a class="nav-link text-dark font-weight-bold px-2" href="./reportes.html"><i class="fas fa-file-invoice pr-1"></i>Reportes</a></li>
                        <li class="nav-item"><a class="nav-link text-dark font-weight-bold px-2" href="./acciones-y-resultados.html"><i class="fas fa-chart-pie pr-1"></i>Resultados</a></li>
                    </ul><a class="btn btn-primary font-weight-bold btn-md px-2 mr-2" href="@Url.Action("login", "Home")" role="button"><i class="fas fa-sign-in-alt pr-1"></i>Ingresar</a><a class="btn btn-success font-weight-bold btn-md px-2" href="@Url.Action("registro", "Home")" role="button"><i class="fas fa-paper-plane pr-1"></i>Registrarse</a>
</div>
            </nav>
        </div>
    </div>
    <div class="flecha-top"><i class="fas fa-angle-double-right fa-2x text-dark btn-slider-bottom"></i></div>
    <div>
        @RenderBody()
    </div>
    <div class="container-fluid foot d-flex flex-row justify-content-center align-items-center" id="pie">
        <footer class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 text-white">
                            <div class="lead font-weight-bold">Enlaces</div>
                            <ul class="list-unstyled">
                                <li class="py-1"><a class="text-white" href="#" target="_blank"><i class="fas fa-landmark mr-2"></i>MINEM</a></li>
                                <li class="py-1"><a class="text-white" href="#" target="_blank"><i class="fas fa-landmark mr-2"></i>NAMA's</a></li>
                                <li class="py-1"><a class="text-white" href="#" target="_blank"><i class="fas fa-sitemap mr-2"></i>Mapa del Sitio</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-12 col-md-6 text-white">
                            <div class="lead font-weight-bold">Más información</div>
                            <ul class="list-unstyled">
                                <li class="py-1"><a class="text-white" href="http://google.com" target="_blank"><i class="fas fa-file-pdf mr-2"></i>Manual de Usuario</a></li>
                                <li class="py-1"><a class="text-white" href="#" target="_blank"><i class="fas fa-question-circle mr-2"></i>Preguntas frecuentes</a></li>
                                <li class="py-1"><a class="text-white" href="#" target="_blank"><i class="fab fa-readme mr-2"></i>Términos y Condiciones</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-12 text-white">
                            <div class="lead font-weight-bold">Contáctenos</div>
                            <ul class="list-unstyled mr-0">
                                <li class="py-1"><i class="fas fa-phone-alt mr-2"></i>Teléfono: (+511) 411-1100</li>
                                <li class="py-1"><i class="far fa-envelope mr-2"></i>webmaster@minem.gob.pe</li>
                                <li class="py-1"><i class="fas fa-university mr-2"></i>Dirección General de Eficiencia Energética</li>
                                <li class="py-1"><i class="fas fa-map-marker-alt mr-2"></i>Av. Las Artes Sur 260. San Borja. Lima. Perú</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="navbar flex-md-row justify-content-start"><a class="nav-link p-1" href="#" target="_blank"><img src="~/images/logo-minem-blanco.png" height="70"></a><a class="nav-link p-1" href="#" target="_blank"><img src="~/images/logo-gef-blanco.png" height="90"></a><a class="nav-link p-1 pr-0" href="#" target="_blank"><img src="~/images/logo-pnud-blanco.png" height="160"></a></div>
                    <div class="navbar flex-md-row justify-content-start"><a class="nav-link p-1" href="#" target="_blank"><img src="~/images/logo-nama-blanco.png" height="50"></a></div>
                </div>
            </div>
        </footer>
    </div>
    <div id="Control" data-usuario="0"></div>
    @*<script src="~/js/script.js"></script>    
    <script src="~/js/MRV.js"></script>*@
    
    @*<script src="~/js/RegistroUsuario.js"></script>*@    
    @*<script src="~/js/AccionMitigacion.js"></script>*@  
</body>
</html>
