@model MRVMinem.Models.MvSector

@{
    ViewBag.Title = "Sectores";
    Layout = "~/Views/Shared/_SesionLayout.cshtml";
}

@{
    var i = 0;
    var total_reg = 0;
    var total_pag = 0;
}

<div class="flecha-top"><i class="fas fa-angle-double-right fa-2x text-dark btn-slider-bottom"></i></div>
<div class="container-fluid map-root" id="historia">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Gestion")">Inicio</a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("MantenimientoTablas","Gestion")">Mantenimiento de Tablas</a></li>
                <li class="breadcrumb-item active" aria-current="page">Mantenimiento de Sectores</li>
            </ol>
        </nav>
    </div>
</div>
<div class="container-fluid my-4" id="cuerpo">
    <div class="row m-0">
        <div class="col-12 cuerpo-interior">
            <div class="container py-4">
                <div class="row">
                    <div class="col-md-12 col-lg-6 pt-4">
                        <div class="h4">
                            Mantenimiento de Sectores&nbsp;
                            <br><small class="text-muted">Utilice la búsqueda para encontrar el sector indicado para el mantenimiento</small>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6 pt-4">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-6">&nbsp;</div>
                            <div class="col-sm-12 col-md-6 col-lg-6"><span data-toggle="modal" data-target="#modal-edicion"><a class="agregar-iniciativa" href="#" data-toggle="tooltip" data-placement="top" title="Podrá registrar un nuevo sector" id="validarUsuario" onclick="regMantenimiento();" data-guardar="0"><i class="fas fa-plus px-1"></i>Agregar Sector</a></span></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-6 pt-4">
                        <div>
                            <div class="form-group">
                                <label for="txt-buscar">Buscar&nbsp;<i class="fas fa-question-circle ayuda-tooltip" data-toggle="tooltip" data-placement="right" title="Utilice la búsqueda ingresando una descripción para ubicar sus registros"></i></label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" id="inputGroup1"><i class="fas fa-search"></i></span></div>
                                    <input class="form-control" type="text" id="txt-buscar" placeholder="Ingrese la descripción de su búsqueda" aria-describedby="inputGroup1" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <button class="btn btn-success w-100 mb-2" onclick="exportarMantenimiento();"><i class="fas fa-file-download px-1"></i>Descargar Excel</button><div id="divExportar"></div>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-6" id="buscar-usuarios" data-buscar="0" data-campo="">
                                    <button class="btn btn-info w-100 mb-2" onclick="fn_buscar();"><i class="fas fa-search px-1"></i>Buscar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6 pt-4">
                    </div>
                </div>
            </div>

            <div class="container-fluid py-4">
                <div class="h5">Bandeja de Sectores&nbsp;<i class="fas fa-question-circle ayuda-tooltip" data-toggle="tooltip" data-placement="right" title="Bandeja de todos los sectores registrados"></i></div>
                <div class="dropdown-divider"></div>
                <div class="row">
                    <div class="col-12 px-0">
                        <div class="table-responsive tabla-principal">
                            <table class="table table-hover">
                                <thead>
                                    <tr class="bg-primary text-white">
                                        <th class="text-center" scope="col"><span class="miColumna">N°&nbsp;<i class="fas fa-sort" style="color: lightgray" id="ID_SECTOR_INST"></i></span></th>
                                        <th scope="col"><span class="miColumna">Sector&nbsp;<i class="fas fa-sort-up" style="color: white" id="DESCRIPCION"></i></span></th>
                                        <th class="text-center" scope="col">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody id="cuerpoMantenimiento">

                                    @if (Model.ListaSectores != null)
                                    {
                                        foreach (var item in Model.ListaSectores)
                                        {
                                            i++;
                                            <tr>
                                                <th class="text-center" data-encabezado="Número" scope="row">@item.ID_SECTOR_INST</th>
                                                <td data-encabezado="Descripcion">@item.DESCRIPCION</td>
                                                <td class="text-center text-xs-right" data-encabezado="Acciones">
                                                    <div class="btn-group">
                                                        <div class="acciones fase-01 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></div>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a class="dropdown-item" href="#" onclick="fn_cargarDatosMantenimiento(@item.ID_SECTOR_INST);" data-toggle="modal" data-target="#modal-edicion">
                                                                <i class="fas fa-edit"></i>&nbsp;
                                                                Editar
                                                            </a><a class="dropdown-item" href="#" onclick="fn_Seleccionaregistro(@item.ID_SECTOR_INST)" data-toggle="modal" data-target="#modal-confirmacion">
                                                                <i class="fas fa-trash"></i>&nbsp;
                                                                Deshabilitar
                                                            </a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            total_reg = @item.total_registros;
                                            total_pag = @item.total_paginas;
                                        }
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td class="text-left" colspan="3"><strong>Resultado:&nbsp;</strong><span id="resultado">1-10</span> de <span id="total-registros">@total_reg</span> registros</td>
                                        <td class="text-right text-xs-left" colspan="5">
                                            <strong>Registros por página&nbsp;</strong>
                                            <select id="cantidad-registros" onchange="fn_CargaDatos()">
                                                <option value="10" selected>10</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select>&nbsp;
                                            <span id="pagina-actual">1</span> de <span id="total-paginas">@total_pag</span> páginas&nbsp;
                                            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                                <button class="btn btn-primary" id="primera-pagina" type="button" onclick="fn_avance_grilla(1)"><i class="fas fa-angle-double-left"></i></button>
                                                <button class="btn btn-primary" id="anterior-pagina" type="button" onclick="fn_avance_grilla(2)"><i class="fas fa-angle-left"></i></button>
                                                <input class="ir-pagina" id="pagina" type="number" value="1" min="1" onchange="fn_CargaDatos()">
                                                <button class="btn btn-primary" id="siguiente-pagina" type="button" onclick="fn_avance_grilla(3)"><i class="fas fa-angle-right"></i></button>
                                                <button class="btn btn-primary" id="ultima-pagina" type="button" onclick="fn_avance_grilla(4)"><i class="fas fa-angle-double-right"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="modal-edicion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="title-nuevo">Registro de Nuevo Sector <br><small class="text-muted">Complete los siguientes campos para registrar un nuevo sector</small><small class="text-danger d-block mb-3"><strong>(*)&nbsp;</strong>Campos obligatorios</small></h5>
                            <h5 class="modal-title" id="title-edit">Modificación de un Sector <br><small class="text-muted">Complete los siguientes campos para actualizar un sector</small><small class="text-danger d-block mb-3"><strong>(*)&nbsp;</strong>Campos obligatorios</small></h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body medidas-modal">
                            <form>
                                <div class="row" id="ventanaEditar">
                                    <div class="col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <label for="txt-descripcion">Sector</label><span class="text-danger font-weight-bold">&nbsp;(*)&nbsp;</span>
                                            <div class="input-group">
                                                <div class="input-group-prepend"><span class="input-group-text" id="inputGroup6"><i class="fas fa-landmark"></i></span></div>
                                                <input class="form-control" type="text" id="txt-descripcion" placeholder="Ingrese el sector" aria-describedby="inputGroup6" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-lg-12" id="seccionMensaje">
                                        <div class="alert alert-danger" role="alert" id="errorRegistrarMantenimientoUsuario">
                                            <h4><i class="fas fa-exclamation-triangle"></i>&nbsp;Error de registro</h4>
                                            <p>Ocurrió un error al tratar de registrar su información, vuélvalo a intentar nuevamente.</p>
                                            <hr>
                                            <p class="mb-0">Verifique los datos ingresados e intente otra vez.</p>
                                        </div>
                                        <div class="alert alert-danger" role="alert" id="errorEditarMantenimientoUsuario">
                                            <h4><i class="fas fa-exclamation-triangle"></i>&nbsp;Error de actualización</h4>
                                            <p>Ocurrió un error al tratar de actualizar su información, vuélvalo a intentar nuevamente.</p>
                                            <hr>
                                            <p class="mb-0">Verifique los datos ingresados e intente otra vez.</p>
                                        </div>
                                        <div class="alert alert-success" role="alert" id="correctoMantenimientoUsuario">
                                            <h4><i class="fas fa-check"></i>&nbsp;Bien hecho</h4>
                                            <p>Los datos ingresados fueron guardados exitosamente, verifique su bandeja para comprobarlo.</p>
                                            <hr>
                                            <p class="mb-0" id="mensajeRegistroMantenimientoUsuario">Utilice el buscador para encontrar su nuevo registro.</p>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                        <div class="modal-footer" id="pieMantenimientoUsuario">
                            <div id="userMantenimiento"></div>
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                            <button class="btn btn-primary" type="button" onclick="fn_editarMantenimiento();">Guardar</button>
                        </div>
                        <div class="modal-footer" id="pieCorrecto">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="modal-confirmacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Confirmar acción</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body medidas-modal">
                            <p>¿ Desea eliminar este registro ?</p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">No</button>
                            <button class="btn btn-primary" type="button" onclick="fn_eliminarMantenimiento()">Si</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
@Html.Hidden("columna", "DESCRIPCION")
@Html.Hidden("orden", "ASC")

<script src="~/js/script.js"></script>
<script src="~/js/MRV.js"></script>
<script src="~/js/MantenimientoSector.js"></script>



