@model MRVMinem.Models.ListaObjeto
@{
    ViewBag.Title = "MantenimientoUsuario";
    Layout = "~/Views/Shared/_SesionLayout.cshtml";
}

@{
    var i = 0;
}

<div class="flecha-top"><i class="fas fa-angle-double-right fa-2x text-dark btn-slider-bottom"></i></div>
<div class="container-fluid map-root" id="historia">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Gestion")">Inicio</a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("MantenimientoTablas","Gestion")">Mantenimiento de Tablas</a></li>
                <li class="breadcrumb-item active" aria-current="page">Mantenimiento de Usuarios</li>
            </ol>
        </nav>
    </div>
</div>
<div class="container-fluid my-4" id="cuerpo">
    <div class="row m-0">
        <div class="col-12 cuerpo-interior">
            <div class="container py-4">
                <div class="row">
                    <div class="col-md-12 col-lg-6 pt-4">
                        <div class="h4">
                            Mantenimiento de Usuarios&nbsp;
                            <!--i.fas.fa-question-circle.ayuda-tooltip(data-toggle="tooltip", data-placement="right", title="Texto de ayuda que describe el funcionamiento general del módulo [...]")--><br><small class="text-muted">Utilice la búsqueda para encontrar al usuario indicado para el mantenimiento</small>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6 pt-4">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-6">&nbsp;</div>
                            <div class="col-sm-12 col-md-6 col-lg-6"><span data-toggle="modal" data-target="#modal-usuario"><a class="agregar-iniciativa" href="#" data-toggle="tooltip" data-placement="top" title="Podrá registrar un nuevo usuario con el perfil requerido" id="validarUsuario" onclick="regUsuario();" data-guardar="0"><i class="fas fa-plus px-1"></i>Agregar usuario</a></span></div><!-- add -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-6 pt-4">
                        <div>
                            @*<form>*@
                            <div class="form-group">
                                <label for="txt-buscar" id="buscar-estado" data-value="0">Buscar&nbsp;<i class="fas fa-question-circle ayuda-tooltip" data-toggle="tooltip" data-placement="right" title="Utilice la búsqueda ingresando una descripción para ubicar sus registros"></i></label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" id="inputGroup1"><i class="fas fa-search"></i></span></div>
                                    <input class="form-control" type="text" id="txt-buscar" placeholder="Ingrese la descripción de su búsqueda" aria-describedby="inputGroup1" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <button class="btn btn-success w-100 mb-2" onclick="exportarMantenimientoUsuario();"><i class="fas fa-file-download px-1"></i>Descargar Excel</button><div id="divExportar"></div> <!-- add metodo exportar y div creado con su id -->
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <button class="btn btn-info w-100 mb-2" onclick="fn_buscar();"><i class="fas fa-search px-1"></i>Buscar</button>
                                </div>
                            </div>
                        @*</form>*@
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6 pt-4">
                        <!--&nbsp;-->
                    </div>
                </div>
            </div>
            <div class="container-fluid py-4">
                <div class="h5">Bandeja de Usuarios&nbsp;<i class="fas fa-question-circle ayuda-tooltip" data-toggle="tooltip" data-placement="right" title="Bandeja de todos los usuarios registrados"></i></div>
                <div class="dropdown-divider"></div>
                <div class="row">
                    <div class="col-12 px-0">
                        <div class="table-responsive tabla-principal">
                            <table class="table table-hover">
                                <thead>
                                    <tr class="bg-primary text-white">
                                        <th class="text-center" scope="col"><span>N°&nbsp;<i class="fas fa-sort" style="color: lightgray" id="ID_USUARIO"></i></span></th>
                                        <th scope="col"><span>Nombre y Apellido&nbsp;<i class="fas fa-sort"></i></span></th>
                                        <th scope="col"><span>Correo electrónico&nbsp;<i class="fas fa-sort"></i></span></th>
                                        <th scope="col"><span>Institución&nbsp;<i class="fas fa-sort"></i></span></th>
                                        <th scope="col"><span>Teléfono / Celular&nbsp;<i class="fas fa-sort"></i></span></th>
                                        <th scope="col"><span>Perfil&nbsp;<i class="fas fa-sort"></i></span></th>
                                        <th scope="col"><span>Estado&nbsp;<i class="fas fa-sort"></i></span></th>
                                        <th class="text-center" scope="col">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody id="cuerpoMantenimientoUsuario">
                                @*<tbody>*@

                                    @foreach (var item in Model.listaUsuario)
                                    {
                                        i++;
                                        <tr>
                                            <th class="text-center" data-encabezado="Número" scope="row">@i</th>
                                            <td data-encabezado="Nombre y Apellido">@item.NOMBRES</td>
                                            <td data-encabezado="Email">@item.CORREO</td>
                                            <td data-encabezado="Istitución">@item.INSTITUCION</td>
                                            @if (@item.TELEFONO_USUARIO == null)
                                            {
                                                <td data-encabezado="Dirección">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - @item.CELULAR_USUARIO</td>
                                            }
                                            else
                                            {
                                                <td data-encabezado="Dirección">@item.TELEFONO_USUARIO - @item.CELULAR_USUARIO</td>
                                            }
                                            
                                            <td data-encabezado="Perfil">
                                                <span class="badge badge-actor-@item.COLOR">@item.ROL</span>
                                            </td>
                                            <td data-encabezado="Estado">
                                                <span class="badge badge-actor-@item.COLOR_ESTADO"><i class="fas fa-question-circle mr-1"></i>@item.ESTADO</span>
                                            </td>
                                            <td class="text-center text-xs-right" data-encabezado="Acciones">
                                                <div class="btn-group">
                                                    <div class="acciones fase-01 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></div>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" href="#" onclick="fn_cargarDatosUserMantenimiento(@item.ID_USUARIO);" data-toggle="modal" data-target="#modal-usuario">
                                                            <i class="fas fa-edit"></i>&nbsp;
                                                            Verificar
                                                        </a><a class="dropdown-item" href="#" data-toggle="modal" data-target="#modal-confirmacion">
                                                            <i class="fas fa-trash"></i>&nbsp;
                                                            Deshabilitar
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td class="text-left" colspan="3"><strong>Resultado:&nbsp;</strong>1-10 de 14 registros</td>
                                        <td class="text-right text-xs-left" colspan="5">
                                            <strong>Registros por página&nbsp;</strong>
                                            <select id="cantidad-registros" onchange="fn_CargaUsuarios()">
                                                <option value="10" selected>10</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select>&nbsp;
                                            <span id="pagina-actual">1</span> de <span id="total-paginas">75</span> páginas&nbsp;
                                            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                                <button class="btn btn-primary" id="primera-pagina" type="button" onclick="fn_avance_grilla(1)"><i class="fas fa-angle-double-left"></i></button>
                                                <button class="btn btn-primary" id="anterior-pagina" type="button" onclick="fn_avance_grilla(2)"><i class="fas fa-angle-left"></i></button>
                                                <input class="ir-pagina" id="pagina" type="number" value="1" min="1" onchange="fn_CargaUsuarios()">
                                                <button class="btn btn-primary" id="siguiente-pagina" type="button" onclick="fn_avance_grilla(3)"><i class="fas fa-angle-right"></i></button>
                                                <button class="btn btn-primary" id="ultima-pagina" type="button" onclick="fn_avance_grilla(4)"><i class="fas fa-angle-double-right"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>
                                <!--</tbody>-->
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="modal-usuario" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            @*<div id="cabeceraRegistrarMantenimientoUsuario"><h5 class="modal-title" id="exampleModalLabel">Registro de Nuevo Usuario <br><small class="text-muted">Complete los siguientes campos para registrar un nuevo usuario</small><small class="text-danger d-block mb-3"><strong>(*)&nbsp;</strong>Campos obligatorios</small></h5></div>
                            <div id="cabeceraEditarMantenimientoUsuario"><h5 class="modal-title" id="exampleModalLabel">Actualización de Usuario <br><small class="text-muted">Considerar los campos obligatorios para actualizar los datos del usuario</small><small class="text-danger d-block mb-3"><strong>(*)&nbsp;</strong>Campos obligatorios</small></h5></div>*@
                            <h5 class="modal-title" id="exampleModalLabel">Registro/Verificación de Nuevo Usuario <br><small class="text-muted">Complete los siguientes campos para registrar un nuevo usuario</small><small class="text-danger d-block mb-3"><strong>(*)&nbsp;</strong>Campos obligatorios</small></h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body medidas-modal">
                            <form>
                                <div class="row">
                                    <div class="col-md-12 col-lg-6">
                                        <div class="form-group">
                                            <label for="txt-user">Email</label><span class="text-danger font-weight-bold">&nbsp;(*)&nbsp;</span>
                                            <div class="input-group">
                                                <div class="input-group-prepend"><span class="input-group-text" id="inputGroup1"><i class="fas fa-envelope"></i></span></div>
                                                <input class="form-control" type="text" id="txt-user" placeholder="Dirección de email" aria-describedby="inputGroup1" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="txt-nombre">Nombre</label><span class="text-danger font-weight-bold">&nbsp;(*)&nbsp;</span>
                                            <div class="input-group">
                                                <div class="input-group-prepend"><span class="input-group-text" id="inputGroup3"><i class="fas fa-user-tie"></i></span></div>
                                                <input class="form-control" type="text" id="txt-nombre" placeholder="Ingrese su nombre" aria-describedby="inputGroup3" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="txt-apellido">Apellido</label><span class="text-danger font-weight-bold">&nbsp;(*)&nbsp;</span>
                                            <div class="input-group">
                                                <div class="input-group-prepend"><span class="input-group-text" id="inputGroup4"><i class="fas fa-user-tie"></i></span></div>
                                                <input class="form-control" type="text" id="txt-apellido" placeholder="Ingrese su apellido" aria-describedby="inputGroup4" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="txt-telefono">Teléfono</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend"><span class="input-group-text" id="inputGroup11"><i class="fas fa-phone-alt"></i></span></div>
                                                <input class="form-control" type="text" id="txt-telefono" placeholder="Ingrese su teléfono" aria-describedby="inputGroup11" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="txt-anexo">Anexo</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend"><span class="input-group-text" id="inputGroup12"><i class="fas fa-phone-square-alt"></i></span></div>
                                                <input class="form-control" type="text" id="txt-anexo" placeholder="Ingrese su anexo" aria-describedby="inputGroup12" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="txt-celular">Celular</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend"><span class="input-group-text" id="inputGroup5"><i class="fas fa-mobile-alt"></i></span></div>
                                                <input class="form-control" type="text" id="txt-celular" placeholder="Ingrese su celular" aria-describedby="inputGroup5" required>
                                            </div>
                                        </div>

                                        <div class="form-group medidas-especialista" style="display: none;">
                                            <label for="mlt-medidas">Medidas asignadas<span class="text-danger font-weight-bold">&nbsp;(*)&nbsp;</span></label>
                                            <div class="input-group">
                                                <div class="input-group-prepend"><span class="input-group-text" id="inputGroup9"><i class="fas fa-tachometer-alt"></i></span></div>
                                                <div class="form-control" style="height:90px; overflow-y: auto;" id="medidaGroup">
                                                    <div class="col-auto my-1">
                                                        <div class="custom-control custom-checkbox mr-sm-2">
                                                            <input class="custom-control-input" type="checkbox" id="rad-med-01">
                                                            <label class="custom-control-label" for="rad-med-01">
                                                                Medida de Mitigación &nbsp;1
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-auto my-1">
                                                        <div class="custom-control custom-checkbox mr-sm-2">
                                                            <input class="custom-control-input" type="checkbox" id="rad-med-02">
                                                            <label class="custom-control-label" for="rad-med-02">
                                                                Medida de Mitigación &nbsp;2
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-auto my-1">
                                                        <div class="custom-control custom-checkbox mr-sm-2">
                                                            <input class="custom-control-input" type="checkbox" id="rad-med-03">
                                                            <label class="custom-control-label" for="rad-med-03">
                                                                Medida de Mitigación &nbsp;3
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-auto my-1">
                                                        <div class="custom-control custom-checkbox mr-sm-2">
                                                            <input class="custom-control-input" type="checkbox" id="rad-med-04">
                                                            <label class="custom-control-label" for="rad-med-04">
                                                                Medida de Mitigación &nbsp;4
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-auto my-1">
                                                        <div class="custom-control custom-checkbox mr-sm-2">
                                                            <input class="custom-control-input" type="checkbox" id="rad-med-05">
                                                            <label class="custom-control-label" for="rad-med-05">
                                                                Medida de Mitigación &nbsp;5
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-auto my-1">
                                                        <div class="custom-control custom-checkbox mr-sm-2">
                                                            <input class="custom-control-input" type="checkbox" id="rad-med-06">
                                                            <label class="custom-control-label" for="rad-med-06">
                                                                Medida de Mitigación &nbsp;6
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-auto my-1">
                                                        <div class="custom-control custom-checkbox mr-sm-2">
                                                            <input class="custom-control-input" type="checkbox" id="rad-med-07">
                                                            <label class="custom-control-label" for="rad-med-07">
                                                                Medida de Mitigación &nbsp;7
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-auto my-1">
                                                        <div class="custom-control custom-checkbox mr-sm-2">
                                                            <input class="custom-control-input" type="checkbox" id="rad-med-08">
                                                            <label class="custom-control-label" for="rad-med-08">
                                                                Medida de Mitigación &nbsp;8
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-auto my-1">
                                                        <div class="custom-control custom-checkbox mr-sm-2">
                                                            <input class="custom-control-input" type="checkbox" id="rad-med-09">
                                                            <label class="custom-control-label" for="rad-med-09">
                                                                Medida de Mitigación &nbsp;9
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-auto my-1">
                                                        <div class="custom-control custom-checkbox mr-sm-2">
                                                            <input class="custom-control-input" type="checkbox" id="rad-med-010">
                                                            <label class="custom-control-label" for="rad-med-010">
                                                                Medida de Mitigación &nbsp;10
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-auto my-1">
                                                        <div class="custom-control custom-checkbox mr-sm-2">
                                                            <input class="custom-control-input" type="checkbox" id="rad-med-011">
                                                            <label class="custom-control-label" for="rad-med-011">
                                                                Medida de Mitigación &nbsp;11
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-auto my-1">
                                                        <div class="custom-control custom-checkbox mr-sm-2">
                                                            <input class="custom-control-input" type="checkbox" id="rad-med-012">
                                                            <label class="custom-control-label" for="rad-med-012">
                                                                Medida de Mitigación &nbsp;12
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-md-12 col-lg-6">
                                        <div class="form-group">
                                            <label for="txt-institucion">Institución</label><span class="text-danger font-weight-bold">&nbsp;(*)&nbsp;</span>
                                            <div class="input-group">
                                                <div class="input-group-prepend"><span class="input-group-text" id="inputGroup6"><i class="fas fa-landmark"></i></span></div>
                                                <input class="form-control" type="text" id="txt-institucion" placeholder="Ingrese su institución" aria-describedby="inputGroup6" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="txt-ruc">RUC</label><span class="text-danger font-weight-bold">&nbsp;(*)&nbsp;</span>
                                            <div class="input-group">
                                                <div class="input-group-prepend"><span class="input-group-text" id="inputGroup7"><i class="fas fa-landmark"></i></span></div>
                                                <input class="form-control" type="text" id="txt-ruc" placeholder="Ingrese su RUC" aria-describedby="inputGroup7" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="txt-direccion">Dirección</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend"><span class="input-group-text" id="inputGroup8"><i class="fas fa-landmark"></i></span></div>
                                                <input class="form-control" type="text" id="txt-direccion" placeholder="Ingrese su dirección" aria-describedby="inputGroup8" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="cbo-sector">Sector</label><span class="text-danger font-weight-bold">&nbsp;(*)&nbsp;</span>
                                            <div class="input-group">
                                                <div class="input-group-prepend"><span class="input-group-text" id="inputGroup9"><i class="fas fa-landmark"></i></span></div>
                                                <select class="form-control" id="cbo-sector" aria-describedby="inputGroup9" required>
                                                    <option value="0">-Seleccione un sector-</option>
                                                    <!--<option>Sector 01</option>
                                                    <option>Sector 02</option>
                                                    <option>Sector 03</option>-->
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="txt-pswd">Contraseña</label><span class="text-danger font-weight-bold">&nbsp;(*)&nbsp;</span>
                                            <div class="input-group">
                                                <div class="input-group-prepend"><span class="input-group-text" id="inputGroup2"><i class="fas fa-key"></i></span></div>
                                                <input class="form-control" type="password" id="txt-pswd" placeholder="Ingresar contraseña" aria-describedby="inputGroup2" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="cbo-perfil">Perfil</label><span class="text-danger font-weight-bold">&nbsp;(*)&nbsp;</span>
                                            <div class="input-group">
                                                <div class="input-group-prepend"><span class="input-group-text" id="inputGroup10"><i class="fas fa-user-tie"></i></span></div>
                                                <select class="form-control" id="cbo-perfil" aria-describedby="inputGroup10" required>
                                                    <option value="0">-Seleccione un perfil de usuario-</option>
                                                    <!--<option class="badge-actor-02 font-weight-bold">Usuario Administrado</option>
                                                    <option class="badge-actor-03 font-weight-bold">Especialista</option>
                                                    <option class="badge-actor-04 font-weight-bold">Evaluador MINAM</option>
                                                    <option class="badge-actor-05 font-weight-bold">Verificado Externo</option>
                                                    <option class="badge-actor-06 font-weight-bold">Administrador MINEM</option>-->
                                                </select>
                                            </div>
                                        </div>








                                        <!--

                                        <div class="form-group medidas-especialista" style="display: none;">
                                          <label for="mlt-medidas">Medidas asignadas<span class="text-danger font-weight-bold">&nbsp;(*)&nbsp;</span></label>
                                          <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text" id="inputGroup9"><i class="fas fa-tachometer-alt"></i></span></div>
                                            <div class="form-control" style="height:90px; overflow-y: auto;">
                                              <div class="col-auto my-1">
                                                <div class="custom-control custom-checkbox mr-sm-2">
                                                  <input class="custom-control-input" type="checkbox" id="rad-med-01">
                                                  <label class="custom-control-label" for="rad-med-01">Medida de Mitigación &nbsp;1
                                                  </label>
                                                </div>
                                              </div>
                                              <div class="col-auto my-1">
                                                <div class="custom-control custom-checkbox mr-sm-2">
                                                  <input class="custom-control-input" type="checkbox" id="rad-med-02">
                                                  <label class="custom-control-label" for="rad-med-02">Medida de Mitigación &nbsp;2
                                                  </label>
                                                </div>
                                              </div>
                                              <div class="col-auto my-1">
                                                <div class="custom-control custom-checkbox mr-sm-2">
                                                  <input class="custom-control-input" type="checkbox" id="rad-med-03">
                                                  <label class="custom-control-label" for="rad-med-03">Medida de Mitigación &nbsp;3
                                                  </label>
                                                </div>
                                              </div>
                                              <div class="col-auto my-1">
                                                <div class="custom-control custom-checkbox mr-sm-2">
                                                  <input class="custom-control-input" type="checkbox" id="rad-med-04">
                                                  <label class="custom-control-label" for="rad-med-04">Medida de Mitigación &nbsp;4
                                                  </label>
                                                </div>
                                              </div>
                                              <div class="col-auto my-1">
                                                <div class="custom-control custom-checkbox mr-sm-2">
                                                  <input class="custom-control-input" type="checkbox" id="rad-med-05">
                                                  <label class="custom-control-label" for="rad-med-05">Medida de Mitigación &nbsp;5
                                                  </label>
                                                </div>
                                              </div>
                                              <div class="col-auto my-1">
                                                <div class="custom-control custom-checkbox mr-sm-2">
                                                  <input class="custom-control-input" type="checkbox" id="rad-med-06">
                                                  <label class="custom-control-label" for="rad-med-06">Medida de Mitigación &nbsp;6
                                                  </label>
                                                </div>
                                              </div>
                                              <div class="col-auto my-1">
                                                <div class="custom-control custom-checkbox mr-sm-2">
                                                  <input class="custom-control-input" type="checkbox" id="rad-med-07">
                                                  <label class="custom-control-label" for="rad-med-07">Medida de Mitigación &nbsp;7
                                                  </label>
                                                </div>
                                              </div>
                                              <div class="col-auto my-1">
                                                <div class="custom-control custom-checkbox mr-sm-2">
                                                  <input class="custom-control-input" type="checkbox" id="rad-med-08">
                                                  <label class="custom-control-label" for="rad-med-08">Medida de Mitigación &nbsp;8
                                                  </label>
                                                </div>
                                              </div>
                                              <div class="col-auto my-1">
                                                <div class="custom-control custom-checkbox mr-sm-2">
                                                  <input class="custom-control-input" type="checkbox" id="rad-med-09">
                                                  <label class="custom-control-label" for="rad-med-09">Medida de Mitigación &nbsp;9
                                                  </label>
                                                </div>
                                              </div>
                                              <div class="col-auto my-1">
                                                <div class="custom-control custom-checkbox mr-sm-2">
                                                  <input class="custom-control-input" type="checkbox" id="rad-med-010">
                                                  <label class="custom-control-label" for="rad-med-010">Medida de Mitigación &nbsp;10
                                                  </label>
                                                </div>
                                              </div>
                                              <div class="col-auto my-1">
                                                <div class="custom-control custom-checkbox mr-sm-2">
                                                  <input class="custom-control-input" type="checkbox" id="rad-med-011">
                                                  <label class="custom-control-label" for="rad-med-011">Medida de Mitigación &nbsp;11
                                                  </label>
                                                </div>
                                              </div>
                                              <div class="col-auto my-1">
                                                <div class="custom-control custom-checkbox mr-sm-2">
                                                  <input class="custom-control-input" type="checkbox" id="rad-med-012">
                                                  <label class="custom-control-label" for="rad-med-012">Medida de Mitigación &nbsp;12
                                                  </label>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>-->

                                        <div class="form-group">
                                            <label for="mlt-gei">Estado<span class="text-danger font-weight-bold">&nbsp;(*)&nbsp;</span></label>
                                            <div class="input-group">
                                                <div class="input-group-prepend"><span class="input-group-text" id="inputGroup9"><i class="fas fa-shield-alt"></i></span></div>
                                                <div class="form-control" style="height:90px; overflow-y: auto;">
                                                    <div class="col-auto my-1">
                                                        <div class="custom-control custom-radio mr-sm-2">
                                                            <input class="custom-control-input" type="radio" name="rad-estado" id="rad-01" data-value="1">
                                                            <label class="custom-control-label badge badge-actor-aprobado" for="rad-01"><i class="fas fa-check-circle mr-1"></i>Habilitar</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-auto my-1">
                                                        <div class="custom-control custom-radio mr-sm-2">
                                                            <input class="custom-control-input" type="radio" name="rad-estado" id="rad-02" data-value="2">
                                                            <label class="custom-control-label badge badge-actor-desaprobado" for="rad-02"><i class="fas fa-times-circle mr-1"></i>Deshabilitar</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <!--<div class="row">
                                  <div class="col-sm-12 col-md-12 col-lg-12">
                                    <div class="alert alert-danger d-flex align-items-stretch" role="alert">
                                      <div class="alert-wrap mr-3">
                                        <div class="sa">
                                          <div class="sa-error">
                                            <div class="sa-error-x">
                                              <div class="sa-error-left"></div>
                                              <div class="sa-error-right"></div>
                                            </div>
                                            <div class="sa-error-placeholder"></div>
                                            <div class="sa-error-fix"></div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="alert-wrap">
                                        <h6>Error de registro</h6>
                                        <hr><small class="mb-0">Verifique que los datos sean correctamente ingresados, complete todos los campos obligatorios e intente otra vez.</small>
                                      </div>
                                    </div>
                                    <div class="alert alert-success d-flex align-items-stretch" role="alert">
                                      <div class="alert-wrap mr-3">
                                        <div class="sa">
                                          <div class="sa-success">
                                            <div class="sa-success-tip"></div>
                                            <div class="sa-success-long"></div>
                                            <div class="sa-success-placeholder"></div>
                                            <div class="sa-success-fix"></div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="alert-wrap">
                                        <h6>Bien hecho</h6>
                                        <hr><small class="mb-0">Los datos ingresados fueron guardados exitosamente, verifique su bandeja para comprobarlo. Utilice el buscador para encontrar su nuevo registro.</small>
                                      </div>
                                    </div>
                                  </div>
                                </div>-->

                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-lg-12" id="seccionMensaje">
                                        <div class="alert alert-danger" role="alert" id="errorRegistrarMantenimientoUsuario">
                                            <h4><i class="fas fa-exclamation-triangle"></i>&nbsp;Error de registro</h4>
                                            <p>Ocurrió un error al tratar de registrar su información, vuélvalo a intentar nuevamente.</p>
                                            <hr>
                                            <p class="mb-0">Verifique los datos ingresados e intente otra vez.</p>
                                        </div>
                                        <div class="alert alert-danger" role="alert" id="errorEditarMantenimientoUsuario">
                                            <h4><i class="fas fa-exclamation-triangle"></i>&nbsp;Error de actualización</h4>
                                            <p>Ocurrió un error al tratar de actualizar su información, vuélvalo a intentar nuevamente.</p>
                                            <hr>
                                            <p class="mb-0">Verifique los datos ingresados e intente otra vez.</p>
                                        </div>
                                        <div class="alert alert-success" role="alert" id="correctoMantenimientoUsuario">
                                            <h4><i class="fas fa-check"></i>&nbsp;Bien hecho</h4>
                                            <p>Los datos ingresados fueron guardados exitosamente, verifique su bandeja para comprobarlo.</p>
                                            <hr>
                                            <p class="mb-0" id="mensajeRegistroMantenimientoUsuario">Utilice el buscador para encontrar su nuevo registro.</p>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                        <div class="modal-footer" id="pieMantenimientoUsuario">
                            <div id="userMantenimiento"></div>
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                            <button class="btn btn-primary" type="button" onclick="fn_editarMantenimiento();">Guardar</button>
                        </div>
                        <div class="modal-footer" id="pieCorrecto"> <!-- add 03-02-2020 -->
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="modal-confirmacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Confirmar acción</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body medidas-modal">
                            <p>¿ Desea eliminar este registro ?</p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">No</button>
                            <button class="btn btn-primary" type="button">Si</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/script.js"></script>
<script src="~/js/MRV.js"></script>
<script src="~/js/MantenimientoUsuario.js"></script>
