@model MRVMinem.Models.ListaObjeto
@{
    ViewBag.Title = "Revisar Admin Detalle Indicador";
    Layout = "~/Views/Shared/_SesionLayout.cshtml";
}
@Html.HiddenFor(m => m.iniciativa_mit.ID_INICIATIVA)
@Html.HiddenFor(m => m.revision)


<div class="container-fluid map-root" id="historia">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Gestion")">Inicio</a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("AccionMitigacion","Gestion")">Listado de Iniciativas de Mitigación</a></li>
                <li class="breadcrumb-item active" aria-current="page">Revisión de Iniciativa de Mitigación y Detalles de Indicadores</li>
            </ol>
        </nav>
    </div>
</div>
<div class="container-fluid my-4" id="cuerpo">
    <div class="row m-0">
        <div class="col-12 cuerpo-interior">
            <div class="container py-4">
                <div class="row">
                    <div class="col-md-12 col-lg-6 pt-4">
                        <div class="h4">Revisión de Iniciativa de Mitigación y Detalles de Indicadores&nbsp;<i class="fas fa-question-circle ayuda-tooltip" data-toggle="tooltip" data-placement="right" title="Texto de ayuda que describe el funcionamiento general del módulo [...]"></i><br><small class="text-muted">Asigne información importante a su detalle de indicadores, <br>complete todos los campos para una mejor especificación.</small></div>
                    </div>
                    <div class="col-md-12 col-lg-6 pt-4">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-6">&nbsp;</div>
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <div class="btn-group btn-group-lg w-100 mb-3" data-toggle="tooltip" data-placement="top" title="Dar por aprobado esta iniciativa de mitigación" id="estado-actor" data-estado="4">
                                    <a class="btn btn-primary dropdown-toggle w-100" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tabindex="0"><i class="fas fa-check pr-1"></i>Aprobar revisión</a>
                                    <div class="dropdown-menu dropdown-menu-right w-100">
                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#aprobar-revision" onclick="fn_EstadoActor('5');"><i class="fas fa-user-circle pr-1"></i>Enviar al Evaluador MINAM</a>
                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#aprobar-revision" onclick="fn_EstadoActor('8');"><i class="far fa-user-circle pr-1"></i>Enviar al Verificador Externo</a>
                                    </div>
                                </div>
                                @*<span data-toggle="modal" data-target="#aprobar-revision"><a class="aprobar-revision" href="#" data-toggle="tooltip" data-placement="top" title="Texto de ayuda que describe el funcionamiento general del módulo [...]"><i class="fas fa-check px-1"></i>Aprobar revisión</a></span>*@
                                <span data-toggle="modal" data-target="#observar-revision"><a class="observar-revision" href="#" data-toggle="tooltip" data-placement="top" title="Texto de ayuda que describe el funcionamiento general del módulo [...]"><i class="fas fa-eye px-1"></i>Observar revisión</a></span>
                                <div class="btn-group btn-group-lg w-100">
                                    <a class="btn btn-success dropdown-toggle w-100" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tabindex="0"><i class="fas fa-download pr-1"></i>Descargar</a>
                                    <div class="dropdown-menu dropdown-menu-right w-100">
                                        <a class="dropdown-item" href="#" onclick="exportarDetalle();"><i class="fas fa-file-excel pr-1"></i>Formato excel</a><div id="divExportar"></div> <!-- add metodo exportar y div creado con su id -->
                                        <a class="dropdown-item" href="#"><i class="fas fa-file-pdf pr-1"></i>Formato pdf</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid py-4 px-0 bg-white">
                <div class="container py-5">
                    <div class="row">
                        <div class="col-12">
                            <div class="h5 pb-5 text-primary">Promoción de vehiculos eléctricos a nivel nacional&nbsp;<i class="fas fa-question-circle ayuda-tooltip" data-toggle="tooltip" data-placement="right" title="Texto de ayuda que describe el funcionamiento general del módulo [...]"></i><br><small class="text-muted">Encuentre aquí información general relacionada a la medida de mitigación con la cual se vincula su iniciativa. No hay nada que llenar.</small></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12-col-md-12 col-lg-6">
                            <div class="form-group">
                                <label for="txt-categoria">Categoría IPSC</label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" id="inputGroup1"><i class="fas fa-landmark"></i></span></div>
                                    <input class="form-control-plaintext" type="text" id="txt-categoria" value="@Model.medida.IPSC_MEDMIT" aria-describedby="inputGroup1" readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txa-objetivo">Objetivo</label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" id="inputGroup2"><i class="fas fa-landmark"></i></span></div>
                                    <textarea class="form-control-plaintext" id="txa-objetivo" aria-describedby="inputGroup2" cols="30" rows="5" readonly>@Model.medida.OBJETIVO_MEDMIT</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12-col-md-12 col-lg-6">
                            <div class="form-group">
                                <label for="txa-descripcion">Descripción</label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" id="inputGroup3"><i class="fas fa-landmark"></i></span></div>
                                    <textarea class="form-control-plaintext" id="txa-descripcion" aria-describedby="inputGroup3" cols="30" rows="8" readonly>@Model.medida.DESCRIPCION_MEDMIT</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="h5 py-5 text-primary">Datos principales</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12-col-md-12 col-lg-12">
                            <div class="form-group">
                                <label for="txa-nombre-iniciativa">Nombre de la iniciativa<span class="text-danger font-weight-bold">&nbsp;</span><i class="fas fa-question-circle ayuda-tooltip" data-toggle="tooltip" data-placement="right" title="En caso no posea un nombre, coloque el nombre de la medida de mitigación seguido de un guión y nombre o siglas de la institución."></i></label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" id="inputGroup4"><i class="fas fa-tachometer-alt"></i></span></div>
                                    <textarea class="form-control-plaintext" id="txa-nombre-iniciativa" aria-describedby="inputGroup4" cols="30" rows="5" readonly placeholder="Ingrese un nombre para su iniciativa">@Model.iniciativa_mit.NOMBRE_INICIATIVA</textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txa-descripcion-medida">Descripción de la medida<span class="text-danger font-weight-bold">&nbsp;</span><i class="fas fa-question-circle ayuda-tooltip" data-toggle="tooltip" data-placement="right" title="Indicar la ubicación, tecnología considerada y cantidades de la misma."></i></label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" id="inputGroup5"><i class="fas fa-tachometer-alt"></i></span></div>
                                    <textarea class="form-control-plaintext" id="txa-descripcion-medida" aria-describedby="inputGroup5" cols="30" rows="5" readonly placeholder="Ingrese una descripción para su iniciativa">@Model.iniciativa_mit.DESC_INICIATIVA</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12-col-md-12 col-lg-6">
                            <div class="form-group">
                                <label for="txa-nombre-responsable">Responsable del registro</label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" id="inputGroup6"><i class="fas fa-landmark"></i></span></div>
                                    <input class="form-control-plaintext" id="txt-nombre-responsable" aria-describedby="inputGroup6" value="@Model.iniciativa_mit.NOMBRES" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12-col-md-12 col-lg-6">
                            <div class="form-group">
                                <label for="txa-nombre-institucion">Nombre de la institución</label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" id="inputGroup7"><i class="fas fa-landmark"></i></span></div>
                                    <input class="form-control-plaintext" id="txt-nombre-institucion" aria-describedby="inputGroup7" value="@Model.iniciativa_mit.INSTITUCION" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12-col-md-12 col-lg-6">
                            <div class="form-group">
                                <label for="txt-correo-electronico">Correo electrónico</label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" id="inputGroup8"><i class="fas fa-landmark"></i></span></div>
                                    <input class="form-control-plaintext" id="txt-correo-electronico" aria-describedby="inputGroup8" value="@Model.iniciativa_mit.CORREO" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12-col-md-12 col-lg-6">
                            <div class="form-group">
                                <label for="txt-direccion">Dirección</label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" id="inputGroup9"><i class="fas fa-landmark"></i></span></div>
                                    <input class="form-control-plaintext" id="txt-direccion" aria-describedby="inputGroup9" value="@Model.iniciativa_mit.DIRECCION" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="h5 py-5 text-primary">Datos generales</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12-col-md-12 col-lg-6">
                            <div class="form-group">
                                <label for="txt-sector-insi¿titucion">Sector de la institución</label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" id="inputGroup9"><i class="fas fa-landmark"></i></span></div>
                                    <input class="form-control-plaintext" id="txt-sector-institucion" aria-describedby="inputGroup9" value="@Model.iniciativa_mit.SECTOR" readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txa-ubicacion">Ubicación<span class="text-danger font-weight-bold">&nbsp;</span><i class="fas fa-question-circle ayuda-tooltip" data-toggle="tooltip" data-placement="right" title="Texto de ayuda que describe el funcionamiento general del módulo [...]"></i></label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" id="inputGroup9"><i class="fas fa-landmark"></i></span></div>
                                    <textarea class="form-control-plaintext" id="txa-ubicacion" aria-describedby="inputGroup9" cols="30" rows="8" readonly placeholder="Ingrese una descripción para su iniciativa">
                                            @*Lima&nbsp;
                                            Arequipa&nbsp;
                                            Tacna*@
                                        @foreach (var item in Model.listaUbicacion)
                                        {
                                            @item.DESCRIPCION <text>&nbsp;</text>
                                        }
                                    </textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12-col-md-12 col-lg-6">
                            <div class="form-group">
                                <label for="txt-moneda">Moneda<span class="text-danger font-weight-bold">&nbsp;</span></label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" id="inputGroup10"><i class="far fa-money-bill-alt"></i></span></div>
                                    <input class="form-control-plaintext" type="text" id="txt-moneda" aria-describedby="inputGroup10" value="@Model.iniciativa_mit.MONEDA" readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txt-monto-inversion">Monto de inversión<span class="text-danger font-weight-bold">&nbsp;</span><i class="fas fa-question-circle ayuda-tooltip" data-toggle="tooltip" data-placement="right" title="Texto de ayuda que describe el funcionamiento general del módulo [...]"></i></label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" id="inputGroup11"><i class="fas fa-wallet"></i></span></div>
                                    <input class="form-control-plaintext" type="text" id="txt-monto-inversion" aria-describedby="inputGroup11" value="@Model.iniciativa_mit.INVERSION_INICIATIVA" readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txt-fecha-inicio">Fecha de Inicio del proyecto<span class="text-danger font-weight-bold">&nbsp;</span><i class="fas fa-question-circle ayuda-tooltip" data-toggle="tooltip" data-placement="right" title="Indique el año de inicio del proyecto"></i></label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" id="inputGroup12"><i class="fas fa-calendar-alt"></i></span></div>
                                    <input class="form-control-plaintext" type="text" id="txt-fecha-inicio" aria-describedby="inputGroup12" value="@Model.iniciativa_mit.FECHA" readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txt-fecha-fin">Fecha de Fin del proyecto<span class="text-danger font-weight-bold">&nbsp;</span></label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" id="inputGroup12"><i class="fas fa-calendar-alt"></i></span></div>
                                    <input class="form-control-plaintext" type="text" id="txt-fecha-fin" aria-describedby="inputGroup12" value="@Model.iniciativa_mit.FECHA_FIN" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="h5 py-5 text-primary">Indicadores</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12-col-md-12 col-lg-6">
                            <div class="form-group">
                                <label for="mlt-energetico">Energético asociado<span class="text-danger font-weight-bold">&nbsp;</span><i class="fas fa-question-circle ayuda-tooltip" data-toggle="tooltip" data-placement="right" title="Texto de ayuda que describe el funcionamiento general del módulo [...]"></i></label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" id="inputGroup9"><i class="fas fa-bolt"></i></span></div>
                                    <textarea class="form-control-plaintext" id="mlt-energetico" aria-describedby="inputGroup9" cols="30" rows="5" readonly placeholder="Ingrese una descripción para su iniciativa">
                                            @*Combustibles fósiles&nbsp;
                                            Electricidad&nbsp;*@
                                        @foreach (var item in Model.listaEnergetico)
                                        {
                                            @item.DESCRIPCION <text>&nbsp;</text>
                                        }
                                    </textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12-col-md-12 col-lg-6">
                            <div class="form-group">
                                <label for="mlt-gei">Gases de efecto invernadero<span class="text-danger font-weight-bold">&nbsp;</span><i class="fas fa-question-circle ayuda-tooltip" data-toggle="tooltip" data-placement="right" title="Texto de ayuda que describe el funcionamiento general del módulo [...]"></i></label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" id="inputGroup9"><i class="fas fa-bolt"></i></span></div>
                                    <textarea class="form-control-plaintext" id="mlt-energetico" aria-describedby="inputGroup9" cols="30" rows="5" readonly placeholder="Ingrese una descripción para su iniciativa">
                                            @*CO2
                                            y&nbsp;
                                            CH 2*@
                                        @foreach (var item in Model.listaGei)
                                        {
                                            @item.DESCRIPCION <text>&nbsp;</text>
                                        }
                                    </textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dropdown-divider"></div>
                <div class="container py-5">
                    <div class="row">
                        <div class="col-12">
                            <div class="h5 pb-5 text-primary">Detalles de Identificación<br><small class="text-muted">Complete información</small></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12-col-md-12 col-lg-6">
                            <div class="form-group">
                                <label for="txt-enfoque">Enfoque<span class="text-danger font-weight-bold">&nbsp;</span><i class="fas fa-question-circle ayuda-tooltip" data-toggle="tooltip" data-placement="right" title="Texto de ayuda que describe el funcionamiento general del módulo [...]"></i></label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" id="inputGroup20"><i class="fas fa-square-root-alt"></i></span></div>
                                    <input class="form-control-plaintext" id="txt-enfoque" aria-describedby="inputGroup20" value="Vehículo Eléctrico" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12-col-md-12 col-lg-6">&nbsp;</div>
                    </div>
                </div>
                <div class="container-fluid py-4">
                    <div class="h5">Registro de Detalles&nbsp;<span class="text-danger font-weight-bold">&nbsp;</span><i class="fas fa-question-circle ayuda-tooltip" data-toggle="tooltip" data-placement="right" title="Texto de ayuda que describe el funcionamiento general del módulo [...]"></i></div>
                    <div class="dropdown-divider"></div>
                    <div class="row">
                        <div class="col-12 px-0">
                            <div class="table-responsive tabla-principal tabla-detalle-indicadores">
                                <table class="table table-hover" id="tablaIndicador" data-fila="0">
                                    <thead>
                                        <tr class="bg-primary text-white">
                                            <th class="text-center" style="background-color: green;" scope="col"><span>#&nbsp;</span></th>
                                            <th class="text-center" style="background-color: green;" scope="col"><span>Año&nbsp;<i class="fas fa-question-circle text-white ayuda-tooltip" data-toggle="tooltip" data-placement="bottom" title="Texto de ayuda que describe el funcionamiento general del módulo [...]"></i></span></th>
                                            <th class="text-center" style="background-color: green;" scope="col"><span>Tipo Vehiculo&nbsp;<i class="fas fa-question-circle text-white ayuda-tooltip" data-toggle="tooltip" data-placement="bottom" title="Texto de ayuda que describe el funcionamiento general del módulo [...]"></i></span></th>
                                            <th class="text-center" style="background-color: orange;" scope="col"><span>Tipo Combustible&nbsp;<i class="fas fa-question-circle text-white ayuda-tooltip" data-toggle="tooltip" data-placement="bottom" title="Texto de ayuda que describe el funcionamiento general del módulo [...]"></i></span></th>
                                            <th class="text-center" style="background-color: green;" scope="col"><span>KRV&nbsp;<i class="fas fa-question-circle text-white ayuda-tooltip" data-toggle="tooltip" data-placement="bottom" title="Texto de ayuda que describe el funcionamiento general del módulo [...]"></i></span></th>
                                            <th class="text-center" style="background-color: green;" scope="col"><span>Cantidad&nbsp;<i class="fas fa-question-circle text-white ayuda-tooltip" data-toggle="tooltip" data-placement="bottom" title="Texto de ayuda que describe el funcionamiento general del módulo [...]"></i></span></th>
                                            <th class="text-center" style="background-color: green;" scope="col"><span>Factor de Rendimiento&nbsp;<i class="fas fa-question-circle text-white ayuda-tooltip" data-toggle="tooltip" data-placement="bottom" title="Texto de ayuda que describe el funcionamiento general del módulo [...]"></i></span></th>
                                            <th class="text-center" style="background-color: orange;" scope="col"><span>Línea Base Emisiones GEI (tCO<sub>2</sub>eq)</span></th>
                                            <th class="text-center" style="background-color: green;" scope="col"><span>Iniciativa Mitigación Emisiones GEI (tCO<sub>2</sub>eq)</span></th>
                                            <th class="text-center" style="background-color: #2271b3;" scope="col"><span>Emisiones GEI Reducidas (tCO<sub>2</sub>eq)</span></th>
                                        </tr>
                                    </thead>
                                    <tbody id="cuerpoTablaIndicador" data-row="0" data-total="0">
                                        @{ 
                                            var total_reducido = 0.0;
                                        }
                                        @foreach (var item in Model.listaIndicador)
                                        {
                                            var i = 0;
                                            i++;
                                            <tr>
                                                <th class="text-center" data-encabezado="Número" scope="row">@i</th>
                                                <td class="text-center" data-encabezado="Columna 01">@item.ANNO_BASE</td>
                                                <td class="text-center" data-encabezado="Columna 02">@item.TIPO_VEHICULO</td>
                                                <td class="text-center" data-encabezado="Columna 03">@item.TIPO_COMBUSTIBLE</td>
                                                <td class="text-center" data-encabezado="Columna 04">@item.KRVB</td>
                                                <td class="text-center" data-encabezado="Columna 05">@item.CANTIDADB</td>
                                                <td class="text-center" data-encabezado="Columna 06">@item.RENDIMIENTO</td>
                                                <td class="text-center" data-encabezado="Columna 07">@item.TOTAL_GEI_BASE</td>
                                                <td class="text-center" data-encabezado="Columna 08">@item.TOTAL_GEI_INIMIT</td>
                                                <td class="text-center" data-encabezado="Columna 09">@item.TOTAL_GEI_REDUCIDO</td>
                                            </tr>

                                            total_reducido += Convert.ToDouble(item.TOTAL_GEI_REDUCIDO);
                                        }
                                        @{ 
                                            total_reducido = Math.Round(total_reducido * 100) / 100;
                                        }
                                        @*<tr>
                                                <th class="text-center" data-encabezado="Número" scope="row">1</th>
                                                <td data-encabezado="Columna 01">Valor 1</td>
                                                <td data-encabezado="Columna 02">Texto 1</td>
                                                <td data-encabezado="Columna 03">Valor 1</td>
                                                <td data-encabezado="Columna 04">Texto 1</td>
                                                <td data-encabezado="Columna 05">Valor 1</td>
                                                <td data-encabezado="Columna 06">Texto 1</td>
                                                <td data-encabezado="Columna 07">Valor 1</td>
                                                <td data-encabezado="Columna 08">Texto 1</td>
                                                <td data-encabezado="Columna 09">Valor 1</td>
                                                <td data-encabezado="Columna 10">Texto 1</td>
                                                <td data-encabezado="Columna 11">Valor 1</td>
                                                <td data-encabezado="Columna 12">Texto 1</td>
                                                <td data-encabezado="Columna 13">Valor 1</td>
                                                <td data-encabezado="Columna 14">Texto 1</td>
                                                <td data-encabezado="Columna 15">Valor 1</td>
                                                <td data-encabezado="Columna 16">Texto 1</td>
                                                <td data-encabezado="Subtotal">1,500.00</td>
                                                <td class="text-center" data-encabezado="Sustento">
                                                    <div class="form-group m-0">
                                                        <label class="btn btn-secondary btn-sm m-0" for="fle-doc"><i class="fas fa-download mr-1"></i>Descargar</label>
                                                        <input class="d-none fil-file-control" type="file" id="fle-doc">
                                                    </div>
                                                </td>
                                            </tr>*@
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dropdown-divider"></div>
                <div class="container py-5">
                    <div class="row">
                        <div class="col-12">
                            <div class="h5 pb-5 text-primary">Resumen<br><small class="text-muted">Este es el detalle de su detalle de indicadores</small></div>
                        </div>
                    </div>
                </div>
                <div class="container py-4">
                    <div class="h5">Registro de Detalles&nbsp;<i class="fas fa-question-circle ayuda-tooltip" data-toggle="tooltip" data-placement="right" title="Texto de ayuda que describe el funcionamiento general del módulo [...]"></i></div>
                    <div class="dropdown-divider"></div>
                    <div class="row">
                        <div class="col-12 px-0">
                            <div class="table-responsive tabla-principal">
                                <table class="table table-hover">
                                    <thead>
                                        <tr class="bg-primary text-white">
                                            <th class="text-center" scope="col" width="2%"><span>#&nbsp;</span></th>
                                            <th scope="col" width="88%"><span>Resumen</span></th>
                                            <th scope="col" width="10%"><span>Total</span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th class="text-center" data-encabezado="Número" scope="row">1</th>
                                            <td data-encabezado="Resumen" id="resumen-detalle">@Model.medida.NOMBRE_MEDMIT</td>
                                            <td data-encabezado="Total"><strong>@total_reducido tCO<sub>2</sub>eq</strong></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dropdown-divider"></div>
                <div class="container py-5">
                    <div class="row">
                        <div class="col-12">
                            <div class="h5 pb-5 text-primary">Documentos&nbsp;<i class="fas fa-question-circle ayuda-tooltip" data-toggle="tooltip" data-placement="right" title="Texto de ayuda que describe el funcionamiento general del módulo [...]"></i><br><small class="text-muted">Cargue uno o varios documentos sustentatorios</small></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12-col-md-12 col-lg-6">
                            <div class="form-group" id="archivos-documentos">
                                <label>Archivos adjuntos: <span id="total-documentos">0</span> en total</label>
                                @*<div class="input-group mb-3">
                                        <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-file-pdf"></i></span></div><span class="form-control-plaintext">NombreDeArchivo.pdf</span>
                                        <div class="input-group-append"><span class="input-group-text cursor-pointer"><i class="fas fa-download"></i></span></div>
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-file-word"></i></span></div><span class="form-control-plaintext">NombreDeArchivo.docx</span>
                                        <div class="input-group-append"><span class="input-group-text cursor-pointer"><i class="fas fa-download"></i></span></div>
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend"><span class="input-group-text"><i class="far fa-file-image"></i></span></div><span class="form-control-plaintext">NombreDeArchivo.jpg</span>
                                        <div class="input-group-append"><span class="input-group-text cursor-pointer"><i class="fas fa-download"></i></span></div>
                                    </div>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-file-image"></i></span></div><span class="form-control-plaintext">NombreDeArchivo.png</span>
                                        <div class="input-group-append"><span class="input-group-text cursor-pointer"><i class="fas fa-download"></i></span></div>
                                    </div>*@
                            </div>
                        </div>
                        <div class="col-sm-12-col-md-12 col-lg-6">
                            <label>Visibilidad de datos</label><br>
                            <div class="custom-control custom-checkbox d-inline-block">
                                @if (Model.iniciativa_mit.PRIVACIDAD_INICIATIVA == '1')
                                {
                                    <input class="custom-control-input" type="checkbox" id="chk-publicar" disabled checked>
                                }
                                else
                                {
                                    <input class="custom-control-input" type="checkbox" id="chk-publicar" disabled>
                                }

                                <label class="custom-control-label" for="chk-publicar">Hacer públicos los datos registrados.</label>
                            </div>
                            <div class="custom-control custom-checkbox d-inline-block">
                                @if (Model.iniciativa_mit.PRIVACIDAD_INVERSION == '1')
                                {
                                    <input class="custom-control-input" type="checkbox" id="chk-publicar-monto-inversion" disabled checked>
                                }
                                else
                                {
                                    <input class="custom-control-input" type="checkbox" id="chk-publicar-monto-inversion" disabled>
                                }                                
                                <label class="custom-control-label" for="chk-publicar-monto-inversion">Hacer público "Monto de inversión"</label>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown-divider my-5"></div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-6">
                            <div class="row justify-content-end">
                                <div class="col-lg-6">
                                    <div class="btn-group w-100">
                                        <a class="btn btn-success dropdown-toggle w-100" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tabindex="0"><i class="fas fa-download pr-1"></i>Descargar</a>
                                        <div class="dropdown-menu dropdown-menu-right w-100">
                                            <a class="dropdown-item" href="#" onclick="exportarDetalle();"><i class="fas fa-file-excel pr-1"></i>Formato excel</a><div id="divExportar"></div> <!-- add metodo exportar y div creado con su id -->
                                            <a class="dropdown-item" href="#"><i class="fas fa-file-pdf pr-1"></i>Formato pdf</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">&nbsp;</div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-6 text-right">
                            <div class="row justify-content-end">
                                <div class="col-lg-6"><a class="btn btn-warning px-5 w-100 nav-tab text-center mb-3" href="#" data-toggle="modal" data-target="#observar-revision"><i class="fas fa-eye px-1"></i>Observar</a></div>
                                <div class="col-lg-6"><a class="btn btn-primary px-5 w-100 nav-tab text-center" href="#" data-toggle="modal" data-target="#aprobar-revision">Aprobar<i class="fas fa-check px-1"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="aprobar-revision" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Mensaje de Usuario</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body medidas-modal">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <h3 class="text-center">¿Confirma aprobar la solicitud de revisión? <br></h3>
                                    <p class="text-center">Está de acuerdo en aprobar todos los datos vinculados en de esta iniciativa de mitigación, como de los detalles de indicadores registrados.</p>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-12" id="modalAprobacion">
                                    @*<div class="alert alert-danger d-flex align-items-stretch" role="alert">
                                            <div class="alert-wrap mr-3">
                                                <div class="sa">
                                                    <div class="sa-error">
                                                        <div class="sa-error-x">
                                                            <div class="sa-error-left"></div>
                                                            <div class="sa-error-right"></div>
                                                        </div>
                                                        <div class="sa-error-placeholder"></div>
                                                        <div class="sa-error-fix"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="alert-wrap">
                                                <h6>Error de aprobación</h6>
                                                <hr><small class="mb-0">Ocurrió un error de comunicación con el servidor, intente otra vez.</small>
                                            </div>
                                        </div>
                                        <div class="alert alert-success d-flex align-items-stretch" role="alert">
                                            <div class="alert-wrap mr-3">
                                                <div class="sa">
                                                    <div class="sa-success">
                                                        <div class="sa-success-tip"></div>
                                                        <div class="sa-success-long"></div>
                                                        <div class="sa-success-placeholder"></div>
                                                        <div class="sa-success-fix"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="alert-wrap">
                                                <h6>Bien hecho</h6>
                                                <hr><small class="mb-0">Se aprobó correctamente esta revisión, se procederá a notificar al Usuario Administrado.</small>
                                            </div>
                                        </div>*@
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer" id="modalAprobarBoton">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">No</button>
                            <button class="btn btn-primary" type="button" onclick="fn_revisarAdminDetalleIndicador();">Si</button>
                        </div>
                    </div>
                </div>
            </div>



            <div class="modal fade" id="observar-revision" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Observaciones</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body medidas-modal">
                            <div class="row mb-2">
                                <div class="col-sm-12 col-md-6 col-lg-6"><strong>De: @Session["nombres"]&nbsp;<span class="badge badge-actor-@Session["colorRol"]">@Session["nombreRol"]</span></strong><br><strong>Para: @Model.usuario.NOMBRES&nbsp;<span class="badge badge-actor-@Model.usuario.COLOR">@Model.usuario.ROL</span></strong></div>
                                <div class="col-sm-12 col-md-6 col-lg-6 text-right">@*<strong>Fecha de Registro: 15/01/2020</strong>*@</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12-col-md-12 col-lg-6">
                                    <div class="form-group">
                                        <label for="cbo-tipo-observacion">Tipo de observación<span class="text-danger font-weight-bold">&nbsp;(*)&nbsp;</span><i class="fas fa-question-circle ayuda-tooltip" data-toggle="tooltip" data-placement="right" title="En caso no posea un nombre, coloque el nombre de la medida de mitigación seguido de un guión y nombre o siglas de la institución."></i></label>
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text" id="inputGroup10"><i class="fas fa-exclamation-triangle"></i></span></div>
                                            <select class="form-control" id="cbo-tipo-observacion" aria-describedby="inputGroup10">
                                                <option value="1">-Seleccione-</option>
                                                <option value="1" class="bg-warning">Corrección</option>
                                                <option value="2" class="bg-danger text-white">Error</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12-col-md-12 col-lg-6"></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12-col-md-12 col-lg-12">
                                    <div class="form-group">
                                        <label for="txa-nombre-iniciativa">Observaciones:<span class="text-danger font-weight-bold">&nbsp;(*)&nbsp;</span><i class="fas fa-question-circle ayuda-tooltip" data-toggle="tooltip" data-placement="right" title="En caso no posea un nombre, coloque el nombre de la medida de mitigación seguido de un guión y nombre o siglas de la institución."></i></label>
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text" id="inputGroup4"><i class="fas fa-comment-alt"></i></span></div>
                                            <textarea class="form-control" id="txa-observacion-detalle" aria-describedby="inputGroup4" cols="30" rows="5" required placeholder="Ingrese un nombre para su iniciativa"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12" id="modalRevision">
                                    @*<div class="alert alert-danger d-flex align-items-stretch" role="alert">
                                            <div class="alert-wrap mr-3">
                                                <div class="sa">
                                                    <div class="sa-error">
                                                        <div class="sa-error-x">
                                                            <div class="sa-error-left"></div>
                                                            <div class="sa-error-right"></div>
                                                        </div>
                                                        <div class="sa-error-placeholder"></div>
                                                        <div class="sa-error-fix"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="alert-wrap">
                                                <h6>Error de registro</h6>
                                                <hr><small class="mb-0">Sus observaciones no fueron enviadas, intentelo nuevamente.</small>
                                            </div>
                                        </div>
                                        <div class="alert alert-success d-flex align-items-stretch" role="alert">
                                            <div class="alert-wrap mr-3">
                                                <div class="sa">
                                                    <div class="sa-success">
                                                        <div class="sa-success-tip"></div>
                                                        <div class="sa-success-long"></div>
                                                        <div class="sa-success-placeholder"></div>
                                                        <div class="sa-success-fix"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="alert-wrap">
                                                <h6>Bien hecho</h6>
                                                <hr><small class="mb-0">Sus observaciones se enviaron correctamente.</small>
                                            </div>
                                        </div>*@
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer" id="modalObservacionBoton">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cerrar</button>
                            <a class="btn btn-primary" href="#" onclick="fn_observacionAdminDetalleIndicador();">Enviar<i class="fas fa-paper-plane ml-1"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/js/script.js"></script>
<script src="~/js/MRV.js"></script>
<script src="~/js/DetalleIndicador.js"></script>
