@model MRVMinem.Models.MvSesion
@{
    ViewBag.Title = "Revisar Admin Detalle Indicador";
    Layout = "~/Views/Shared/_SesionLayout.cshtml";
}
@Html.HiddenFor(m => m.identificador)



<div class="container-fluid map-root" id="historia">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="./index.html">Inicio</a></li>
                <li class="breadcrumb-item"><a href="./acciones-de-mitigacion-interno.html">Listado de Iniciativas de Mitigación</a></li>
                <li class="breadcrumb-item active" aria-current="page">Seguimiento de la Iniciativa de Mitigación</li>
            </ol>
        </nav>
    </div>
</div>
<div class="container-fluid my-4" id="cuerpo">
    <div class="row m-0">
        <div class="col-12 cuerpo-interior">
            <div class="container py-4">
                <div class="row">
                    <div class="col-md-12 col-lg-6 pt-4">
                        <div class="h4">Seguimiento de la Iniciativa de Mitigación&nbsp;<i class="fas fa-question-circle ayuda-tooltip" data-toggle="tooltip" data-placement="right" title="Texto de ayuda que describe el funcionamiento general del módulo [...]"></i><br><small class="text-muted">Asigne información importante a su detalle de indicadores, <br>complete todos los campos para una mejor especificación.</small></div>
                    </div>
                    <div class="col-md-12 col-lg-6 pt-4">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-6">&nbsp;</div>
                            <div class="col-sm-12 col-md-6 col-lg-6"><a class="volver-atras" href="@Url.Action("AccionMitigacion","Gestion")" data-toggle="tooltip" data-placement="top" title="Texto de ayuda que describe el funcionamiento general del módulo [...]"><i class="fas fa-hand-point-left px-1"></i>Volver atrás</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid py-4 px-0 bg-white">
                <div class="container py-5">
                    <div class="row">
                        <div class="col-12">
                            <div class="h5 pb-5 text-primary">Promoción de vehiculos eléctricos a nivel nacional&nbsp;<i class="fas fa-question-circle ayuda-tooltip" data-toggle="tooltip" data-placement="right" title="Texto de ayuda que describe el funcionamiento general del módulo [...]"></i><br><small class="text-muted">Encuentre aquí información general relacionada a la medida de mitigación con la cual se vincula su iniciativa. No hay nada que llenar.</small></div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="main-timeline7" id="seguimiento">

                            </div>
                        </div>
                    </div>
                    <div class="dropdown-divider my-5"></div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-6">&nbsp;</div>
                        <div class="col-sm-12 col-md-12 col-lg-6 text-right">
                            <div class="row justify-content-end">
                                <div class="col-lg-6">&nbsp;</div>
                                <div class="col-lg-6"><a class="btn btn-dark px-5 w-100 text-center mb-3" href="@Url.Action("AccionMitigacion","Gestion")"><i class="fas fa-hand-point-left pr-1"></i>Volver atrás</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        fn_cargarOpciones();
    });

    function fn_establecerVista() {

        var opcion = '<span class="dropdown-item">' + $("#Control").data("nombres") + ' <br>';
        if ($("#Control").data("rol") == 1) {
            opcion = opcion + '<span class="badge badge-actor-02">Usuario Administrado</span></span>'
        } else if ($("#Control").data("rol") == 2) {
            opcion = opcion + '<span class="badge badge-actor-03">Especialista</span></span>'
        } else if ($("#Control").data("rol") == 3) {
            opcion = opcion + '<span class="badge badge-actor-06">Administrador MINEM</span></span>'
        } else if ($("#Control").data("rol") == 4) {
            opcion = opcion + '<span class="badge badge-actor-04">Evaluador MINAM</span></span>'
        } else if ($("#Control").data("rol") == 5) {
            opcion = opcion + '<span class="badge badge-actor-05">Verificador Externo</span></span>'
        }

        if ($("#Control").data("opcion6") == 1) { //Añade a las opciones el mantenimiento de tablas
            opcion = opcion + '<a class="dropdown-item" href="#" onclick="fn_mantenimiento();"><i class="fas fa-cogs pr-1"></i>Mantenimiento de tablas</a>';
        }

        if ($("#Control").data("opcion7") == 1) {
            opcion = opcion + '<a class="dropdown-item" href="#" onclick="fn_Clave();"><i class="fas fa-key pr-1"></i>Cambiar contraseña</a>';
        }

        opcion = opcion + '<div class="dropdown-divider"></div><a class="dropdown-item" href="#" onclick="salirSesion();"><i class="fas fa-sign-out-alt pr-1"></i>Salir del sistema</a>';

        $("#usuario-rol").append(opcion);
    }

    function fn_cargarOpciones() {
        $("#Control").data("usuario",@Session["usuario"]);
        $("#Control").data("nombres",'@Session["nombres"]');
        $("#Control").data("correo",'@Session["correo"]');
        $("#Control").data("rol",@Session["rol"]);
        $("#Control").data("institucion",'@Session["institucion"]');
        $("#Control").data("direccion",'@Session["direccion"]');
        $("#Control").data("sector",'@Session["sector"]');
        $("#Control").data("opcion1",@Session["opcion1"]);
        $("#Control").data("opcion2",@Session["opcion2"]);
        $("#Control").data("opcion3",@Session["opcion3"]);
        $("#Control").data("opcion4",@Session["opcion4"]);
        $("#Control").data("opcion5",@Session["opcion5"]);
        $("#Control").data("opcion6",@Session["opcion6"]);
        $("#Control").data("opcion7",@Session["opcion7"]);
        $("#Control").data("opcion8",@Session["opcion8"]);
        $("#Control").data("opcion9",@Session["opcion9"]);
        fn_establecerVista();
    }
</script>
<script src="~/js/Seguimiento.js"></script>