@model MRVMinem.Models.MvFactor
@{
    ViewBag.Title = "MantenimientoFactores";
    Layout = "~/Views/Shared/_SesionLayout.cshtml";
}

<script src="~/js/script.js"></script>
<script src="~/js/MRV.js"></script>

<div class="container-fluid map-root" id="historia">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Gestion")">Inicio</a></li>
                <li class="breadcrumb-item"><a href="@Url.Action(" MantenimientoTablas","Gestion")">Mantenimiento de Tablas</a></li>
                <li class="breadcrumb-item active" aria-current="page">Mantenimiento de Factores</li>
            </ol>
        </nav>
    </div>
</div>
<div class="container-fluid my-4" id="cuerpo">
    <div class="row m-0">
        <div class="col-12 cuerpo-interior">
            <div class="container py-4">
                <div class="row">
                    <div class="col-md-12 col-lg-6 pt-4">
                        <div class="h4">
                            Mantenimiento de Factores&nbsp;
                            <!--i.fas.fa-question-circle.ayuda-tooltip(data-toggle="tooltip", data-placement="right", title="Texto de ayuda que describe el funcionamiento general del módulo [...]")--><br><small class="text-muted">Utilice la búsqueda para encontrar el registro indicado para el mantenimiento</small>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6 pt-4">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-6">&nbsp;</div>
                            <div class="col-sm-12 col-md-6 col-lg-6"><span data-toggle="modal" data-target="#modal-medida-de-mitigacion"><a class="agregar-iniciativa" href="#" data-toggle="tooltip" data-placement="top" title="Registre os factores que empleará en sus detalles de indicadores" onclick="fn_nuevoFactor();"><i class="fas fa-plus px-1"></i>Agregar factor</a></span></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-6 pt-4">
                        <form>
                            <div class="form-group">
                                <label for="txt-buscar">Buscar&nbsp;<i class="fas fa-question-circle ayuda-tooltip" data-toggle="tooltip" data-placement="right" title="Utilice la búsqueda ingresando una descripción para ubicar sus registros"></i></label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text" id="inputGroup1"><i class="fas fa-search"></i></span></div>
                                    <input class="form-control" type="text" id="txt-buscar" placeholder="Ingrese la descripción de su búsqueda" aria-describedby="inputGroup1" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <button class="btn btn-success w-100 mb-2"><i class="fas fa-file-download px-1"></i>Descargar Excel</button>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <button class="btn btn-info w-100 mb-2" type="submit"><i class="fas fa-search px-1"></i>Buscar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-12 col-lg-6 pt-4">
                        <!--&nbsp;-->
                    </div>
                </div>
            </div>
            <div class="container-fluid py-4">
                <div class="h5">Bandeja de Factores&nbsp;<i class="fas fa-question-circle ayuda-tooltip" data-toggle="tooltip" data-placement="right" title="Registre los factores que se utilizaaran en el sistema"></i></div>
                <div class="dropdown-divider"></div>
                <div class="row">
                    <div class="col-12 px-0">
                        <div class="table-responsive tabla-principal tabla-detalle-indicadores">
                            <table class="table table-hover">
                                <thead>
                                    <tr class="bg-primary text-white">
                                        <th class="text-center" scope="col" width="5%"><span>N°&nbsp;</span></th>
                                        <th scope="col" width="20%"><span class="miColumna">Factor &nbsp;<i class="fas fa-sort-down" id="NOMBRE_FACTOR"></i></span></th>
                                        <th scope="col" width="70%"><span>Estructura de parámetros &nbsp;</span></th>
                                        <th class="text-center" scope="col" width="5%">Más</th>
                                    </tr>
                                </thead>
                                <tbody id="cuerpoFactores">
                                    @if (Model.ListaFactores != null)
                                    {
                                        int I = 1;
                                        foreach (var item in Model.ListaFactores)
                                        {
                                            <tr id="detalles-tr-@I">
                                                <th class="text-center" data-encabezado="Número" scope="row">@I</th>
                                                <td data-encabezado="Nombre del Factor">@item.NOMBRE_FACTOR </td>
                                                <td data-encabezado="Estructura de columnas">
                                                    <div class="form-control">
                                                        <div class="list-group sortable-list m-0">
                                                            @if (item.ListaFactorParametro != null)
                                                            {
                                                                foreach (var item2 in item.ListaFactorParametro)
                                                                {
                                                                    <div class="mx-1 p-1 text-center border-right"><small>@item2.NOMBRE_DETALLE </small></div>
                                                                }
                                                            }
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="text-center text-xs-right" data-encabezado="Acciones">
                                                    <div class="btn-group">
                                                        <div class="acciones fase-01 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></div>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#modal-medida-de-mitigacion" onclick="fn_EditarFactorParametro(@item.ID_FACTOR)">
                                                                <i class="fas fa-edit"></i>&nbsp;
                                                                Editar
                                                            </a>@*<a class="dropdown-item" href="#" data-toggle="modal" data-target="#modal-confirmacion" onclick="fn_EliminarFactorParametro(@item.ID_FACTOR)">
                                                                    <i class="fas fa-trash"></i>&nbsp;
                                                                    Eliminar
                                                                </a>*@
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            I++;
                                        }
                                    }
                                    @*
                                        <tr id="detalles-tr-1">
                                            <th class="text-center" data-encabezado="Número" scope="row">1</th>
                                            <td data-encabezado="Medida de mitigación">Nombre del Factor</td>
                                            <td data-encabezado="Estructura de columnas">
                                                <div class="form-control">
                                                    <div class="list-group sortable-list m-0">
                                                        <div class="mx-1 p-1 text-center border-right"><small>Lista de equipos</small></div>
                                                        <div class="mx-1 p-1 text-center border-right"><small>Lista de equipos</small></div>
                                                        <div class="mx-1 p-1 text-center border-right"><small>Lista de equipos</small></div>
                                                        <div class="mx-1 p-1 text-center border-right"><small>Lista de equipos</small></div>
                                                        <div class="mx-1 p-1 text-center border-right"><small>Lista de equipos</small></div>
                                                        <div class="mx-1 p-1 text-center border-right"><small>Lista de equipos</small></div>
                                                        <div class="mx-1 p-1 text-center border-right"><small>Lista de equipos</small></div>
                                                        <div class="mx-1 p-1 text-center border-right"><small>Lista de equipos</small></div>
                                                        <div class="mx-1 p-1 text-center border-right"><small>Lista de equipos</small></div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-center text-xs-right" data-encabezado="Acciones">
                                                <div class="btn-group">
                                                    <div class="acciones fase-01 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></div>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#modal-medida-de-mitigacion">
                                                            <i class="fas fa-edit"></i>&nbsp;
                                                            Editar
                                                        </a><a class="dropdown-item" href="#" data-toggle="modal" data-target="#modal-confirmacion">
                                                            <i class="fas fa-trash"></i>&nbsp;
                                                            Eliminar
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>*@
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-6 mt-4">
                        <strong>Resultado:&nbsp;</strong><span id="resultado">1-10</span> de <span id="total-registros">
                            @if (Model.ListaFactores != null)
                            {
                                @Model.ListaFactores[0].cantidad_registros.ToString()
                            }
                            else
                            {
                                <span>0</span>
                            }
                        </span> registros </div >

                        <div class="col-sm-12 col-lg-6 text-right mt-4">
                            <strong>Registros por página&nbsp;</strong>
                            <select id="cantidad-registros" onchange="fn_CargarFactores()">
                                <option value="10" selected>10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>&nbsp;

                            <span id="pagina-actual">1</span> de <span id="total-paginas">
                                @if (Model.ListaFactores != null)
                                {
                                    @Model.ListaFactores[0].total_paginas.ToString()
                                }
                                else
                                {
                                    <span>0</span>
                                }
                            </span> páginas &nbsp;

                            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                <button class="btn btn-primary" id="primera-pagina" type="button" onclick="fn_avance_grilla(1)"><i class="fas fa-angle-double-left"></i></button>
                                <button class="btn btn-primary" id="anterior-pagina" type="button" onclick="fn_avance_grilla(2)"><i class="fas fa-angle-left"></i></button>
                                <input class="ir-pagina" id="pagina" type="number" value="1" min="1" onchange="fn_CargarFactores()">
                                <button class="btn btn-primary" id="siguiente-pagina" type="button" onclick="fn_avance_grilla(3)"><i class="fas fa-angle-right"></i></button>
                                <button class="btn btn-primary" id="ultima-pagina" type="button" onclick="fn_avance_grilla(4)"><i class="fas fa-angle-double-right"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="modal-medida-de-mitigacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Registro de Factores <br><small class="text-muted">Complete los siguientes campos para registrar los factores empleados en los detalles de indicadores de su iniciativa de mitigación</small><small class="text-danger d-block mb-3"><strong>(*)&nbsp;</strong>Campos obligatorios</small></h5>
                                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modal-body medidas-modal">
                                <form>
                                    @Html.Hidden("IdFactor", "")
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="txt-nombre-factor">Nombre del Factor<span class="text-danger font-weight-bold">&nbsp;(*)&nbsp;<i class="fas fa-question-circle ayuda-tooltip" data-toggle="tooltip" data-placement="right" title="Ingrese el nombre de su factor"></i></span></label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend"><span class="input-group-text"><i class="far fa-list-alt">&nbsp;</i></span></div>
                                                    <input class="form-control" type="text" id="txt-nombre-factor" placeholder="Ingrese el nombre de su factor">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="mlt-gei">Controles<span class="text-danger font-weight-bold">&nbsp;(*)&nbsp;</span><i class="fas fa-question-circle ayuda-tooltip" data-toggle="tooltip" data-placement="right" title="Seleccione uno de los controles asociados"></i></label>
                                                <div class="input-group" id="radio-control" data-tipocontrol="0">
                                                    <div class="input-group-prepend"><span class="input-group-text" id="inputGroup9"><i class="fas fa-wrench"></i></span></div>
                                                    <div class="form-control" style="height:102px; overflow-y: auto;">
                                                        @if (Model.ListaControl != null)
                                                        {
                                                            foreach (var item in Model.ListaControl)
                                                            {
                                                                <div class="col-auto my-1">
                                                                    <div class="custom-control custom-radio mr-sm-2">
                                                                        <input class="custom-control-input" type="radio" name="rad-controles" id="rad-controles-@item.ID_TIPO_CONTROL" value="@item.ID_TIPO_CONTROL" onclick="fn_listarCombo(this)">
                                                                        <label class="custom-control-label badge" for="rad-controles-@item.ID_TIPO_CONTROL">@item.TIPO_CONTROL</label>
                                                                    </div>
                                                                </div>
                                                            }
                                                        }
                                                        @*<div class="col-auto my-1">
                                                                <div class="custom-control custom-radio mr-sm-2">
                                                                    <input class="custom-control-input" type="radio" name="rad-controles" id="rad-controles-01" value="cbo" checked>
                                                                    <label class="custom-control-label badge" for="rad-controles-01">Listas de selección</label>
                                                                </div>
                                                            </div>*@
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="cbo-parametros">Parámetros<span class="text-danger font-weight-bold">&nbsp;(*)&nbsp;</span><i class="fas fa-question-circle ayuda-tooltip" data-toggle="tooltip" data-placement="right" title="Seleccione un parámetro para factor"></i></label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-list-alt"></i></span></div>
                                                    @if (Model.ListaParametro != null)
                                                    {
                                                        foreach (var itemC in Model.ListaControl)
                                                        {
                                                            <select class="form-control" id="cbo-parametros-@itemC.ID_TIPO_CONTROL" required hidden>
                                                                @foreach (var item3 in Model.ListaParametro)
                                                                {
                                                                    if (itemC.ID_TIPO_CONTROL == item3.ID_TIPO_CONTROL)
                                                                    {
                                                                        <option value="@item3.ID_PARAMETRO">@item3.NOMBRE_PARAMETRO</option>
                                                                    }
                                                                }
                                                            </select>
                                                        }

                                                        @*<select class="form-control" id="cbo-parametros" required>
                                                                <option value="0" selected>[ - Seleccione - ]</option>
                                                                @foreach (var item3 in Model.ListaParametro)
                                                                {
                                                                <option value="@item3.ID_PARAMETRO">@item3.NOMBRE_PARAMETRO</option>
                                                                }
                                                            </select>*@
                                                    }
                                                    @*<select class="form-control" id="cbo-parametros" required>
                                                            <option value="0" selected>[ - Seleccione - ]</option>
                                                            <option value="TIPO DE VEHICULO">TIPO DE VEHICULO</option>
                                                            <option value="INICIO DE OPERACIONES">INICIO DE OPERACIONES</option>
                                                            <option value="TIPO DE COMBUSTIBLE">TIPO DE COMBUSTIBLE</option>
                                                            <option value="KRV ELECTRICO">KRV ELECTRICO</option>
                                                            <option value="PLACA">PLACA</option>
                                                            <option value="AÑO">AÑO</option>
                                                            <option value="CONSUMO DE ELECTRICIDAD">CONSUMO DE ELECTRICIDAD</option>
                                                            <option value="CONSUMO DE COMBUSTIBLE">CONSUMO DE COMBUSTIBLE</option>
                                                            <option value="LÍNEA BASE EMISIONES GEI">LÍNEA BASE EMISIONES GEI</option>
                                                            <option value="INICIATIVA MITIGACIÓN EMISIONES GEI">INICIATIVA MITIGACIÓN EMISIONES GEI</option>
                                                            <option value="EMISIONES GEI REDUCIDAS">EMISIONES GEI REDUCIDAS</option>
                                                        </select>*@
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 col-lg-6">&nbsp;</div>
                                                <div class="col-md-12 col-lg-6"><a class="btn btn-success w-100" id="add-lista-parametro-1" href="#" data-toggle="tooltip" data-placement="left" title="Agregar parámetro a su factor"><i class="fas fa-plus px-1"></i>Agregar parámetro</a></div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-lg-12 mt-2">
                                            <div class="form-group">
                                                <label for="mlt-gei">Lista de parámetros asociados al factor<span class="text-danger font-weight-bold">&nbsp;(*)&nbsp;</span><i class="fas fa-question-circle ayuda-tooltip" data-toggle="tooltip" data-placement="right" title="Aquí se mostrará como se componen las columnas de las tablas de los detalles de indicadores, estas pueden ser arrastradas o movidas hasta determinar el orden correcto"></i></label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend"><span class="input-group-text" id="inputGroup9"><i class="fas fa-columns"></i></span></div>
                                                    <div class="form-control">
                                                        <div id="filas-parametro" data-parametro="0"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12 col-lg-12">
                                            <div id="divError">
                                                <div class="alert alert-danger d-flex align-items-stretch" role="alert">
                                                    <div class="alert-wrap mr-3">
                                                        <div class="sa">
                                                            <div class="sa-error">
                                                                <div class="sa-error-x">
                                                                    <div class="sa-error-left"></div>
                                                                    <div class="sa-error-right"></div>
                                                                </div>
                                                                <div class="sa-error-placeholder"></div>
                                                                <div class="sa-error-fix"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="alert-wrap">
                                                        <h6>Error de registro</h6>
                                                        <hr><small class="mb-0" id="msgError">Verifique que los datos sean correctamente ingresados, complete todos los campos obligatorios e intente otra vez.</small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="divOk">
                                                <div class="alert alert-success d-flex align-items-stretch" role="alert">
                                                    <div class="alert-wrap mr-3">
                                                        <div class="sa">
                                                            <div class="sa-success">
                                                                <div class="sa-success-tip"></div>
                                                                <div class="sa-success-long"></div>
                                                                <div class="sa-success-placeholder"></div>
                                                                <div class="sa-success-fix"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="alert-wrap">
                                                        <h6>Bien hecho</h6>
                                                        <hr><small class="mb-0">Los datos ingresados fueron guardados exitosamente, verifique su bandeja para comprobarlo. Utilice el buscador para encontrar su nuevo registro.</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                                <button class="btn btn-primary" type="button" onclick="fn_guardarFactor();">Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="modal-confirmacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Confirmar acción</h5>
                                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modal-body medidas-modal">
                                <p>¿ Desea eliminar este registro ?</p>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" type="button" data-dismiss="modal">No</button>
                                <button class="btn btn-primary" type="button">Si</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Html.Hidden("columna", "NOMBRE_FACTOR")
    @Html.Hidden("orden", "ASC")


    @*
        <script src="~/js/script.js"></script>
        <script src="~/js/MRV.js"></script>*@
    <script type="text/javascript">
        $(document).ready(function () {
            fn_actualizaCampana();
            enLinea();
        });
    </script>
    <script src="~/js/MantenimientoFactores.js"></script>
